[2016-09-15 17:10] dongtong commented on #447
[code]

[2016-09-15 20:55] vicb commented on #447
Please report a proper issue by filling out the template.

From what I can understand from your report, this is probably fixed in the latest zone.js release.

[2016-09-15 20:55] #447 closed

[2016-09-16 04:53] medozs opened #448 "newest Zone.js(angular2) doesn't work with mongoose db"
old version compilers but create other problems.
the new version displays:

c:\Users\ahmed\Documents\Me\Projects\Netbine5\node_modules\zone.js\dist\zone-node.js:129
                        throw error;
                        ^

TypeError: Cannot read property 'filter' of undefined
    at zoneAwareEventListeners (c:\Users\ahmed\Documents\Me\Projects\Netbine5\node_modules\zone.js\dist\zone-node.js:

[2016-09-16 07:48] warren-bank commented on #418
I absolutely hate asking the kind of question that rightfully should be answered by: RTFM..

but, I'm looking over the typescript declarations for [ZoneSpec](https://github.com/angular/zone.js/blob/master/dist/zone.js.d.ts#L243).. trying to figure out the new equivalent for these methods.. and I'm just not seeing it.

if anybody happens to be familiar with the new API, would you kindly add a few l

[2016-09-16 08:20] warren-bank commented on #418
my best guess is:

[code]

Am I getting warmer? :)

[2016-09-16 11:05] HenningKuehl opened #449 "Error when add external Javascript libary"
When I add this Javascript libary "https://chayns-res.tobit.com/API/v3.1/js/chayns.min.js", then i get this error: "Uncaught TypeError: Cannot read property 'nodeType' of undefined"

In the version ^0.5.15 and older, i dont have this problem. But then dont run angular2.

When i dont implement the javascript libary or zone.js, then i dont get this error message.

[2016-09-16 20:16] vicb commented on #449
Please re-open with the issue template completed

[2016-09-16 20:16] vicb commented on #449
Could you please add a minimal repro a plunker ?

[2016-09-16 20:56] alexeagle opened #450 "get stdlib typings with --lib"
Especially the dependency on `es6-promise` from DT, which leaks the `Thenable` type into the .d.ts output. This should be `PromiseLike` instead, for compatibility with other code that uses TS types.

[2016-09-16 22:54] sjelin opened #452 "bug: currently overwriting window.name"
Right here: https://github.com/angular/zone.js/blob/master/lib/browser/browser.ts#L22

Because it's unscoped, this overwrites `window.name`, a special property which angular/protractor uses to defer bootstrap.

[2016-09-17 05:38] jculverwell commented on #449
I have this issue as well.  I am using the Angular-CLI final and https://github.com/Gbuomprisco/ng2-tag-input/.

I have created a repo here (https://github.com/jculverwell/NgTagsInputWithAngularCLIFinal) where you can see the issue (Uncaught TypeError: Cannot read property 'name' of undefined)

Error below:

[code]

[2016-09-17 12:46] medozs opened #453 "bug: Zone.js error with mongoosedb(Angular2 Universal), old version works"
When I use the new Zone.js and connect mongodb to my app, it causes an error.
When I use the old Zone.js, the database is connected successfully. works (but cause other problems with Angular2).

The error that is caused by the new Zone.js is:
TypeError: Cannot read property 'filter' of undefined
at zoneAwareEventListeners (c:\Users\ahmed\Documents\Me\Projects\Netbine5\node_modules\zone.js\dist\zon

[2016-09-17 14:05] medozs commented on #453
I fixed the issue, I found that this version of the file zone-node.js committed 7 days ago (after replacing the current one with it) worked well without any errors for my app.

[2016-09-17 22:42] mhevery commented on #450
I am confused. This is exactly how it is set up. Is this the right repo? Old Code???

[2016-09-17 22:44] mhevery commented on #418
See `onInvokeTask` https://github.com/angular/zone.js/blob/master/dist/zone.js.d.ts#L305

[2016-09-17 22:44] #418 closed

[2016-09-18 01:56] rictic commented on #418
That's helpful, but I'd recommend leaving this bug open until the documentation no longer references the removed `beforeTask` and `afterTask` methods. The examples in README.md use these methods almost exclusively.

[2016-09-18 13:31] alexeagle commented on #450
You are right, we just need to sync it to g3

[2016-09-18 13:31] #450 closed

[2016-09-18 13:34] vicb commented on #449
Please describe how you created the project and what lib have been added

[2016-09-18 19:29] jvbianchi commented on #448
it might be related with https://github.com/angular/universal-starter/issues/164

[2016-09-19 04:06] Hongbo-Miao commented on #448
zone.js 0.6.21 works well, the issue starts from 0.6.22

[2016-09-19 06:48] HennigKuehl commented on #449
https://plnkr.co/edit/FImZRf?p=preview

Here is the plunker of my project, with the issue

[2016-09-19 07:06] lorenzodallavecchia opened #455 "Zone.js conflicts with Bluebird"
I'm including Zone 0.6.21 in a project that also uses [Bluebird](http://bluebirdjs.com) as one of the first steps for using Angular 2. Unfortunately, there does not seem to be a clean way for having the two libraries work together.

Bluebird is more than a "Promise shim", since it replaces the `Promise` implementation entirely, with a more performant one, while also adding many utilities both to t

[2016-09-19 08:09] Delagen commented on #316
+1 with angular 2 application in IE11

[2016-09-19 19:53] ggoodman opened #456 "Zone.js browser bundle pollutes global namespace"
The `browser.ts` file (https://github.com/angular/zone.js/blob/master/lib/browser/browser.ts) is not being bundled inside any closure, resulting in all of its top-level functions and variables becoming globals.

This was discovered because this behaviour was breaking Plunker's preview by overriding `window.name` to `alert`. Down the rabbit hole we go and find ourselves here.

[2016-09-19 19:58] juliemr commented on #456
We're also seeing this issue causing problems with Protractor since we rely on window.name there as well.

[2016-09-19 19:59] juliemr commented on #456
See also https://github.com/angular/zone.js/issues/452

[2016-09-19 20:00] ggoodman commented on #456
@juliemr this is, indeed a duplicate. Sorry about that. Feel free to close one and track it one place or the other.

[2016-09-19 20:00] juliemr commented on #456
I think this one is more general, I'll close the other.

[2016-09-19 20:00] juliemr commented on #452
Closing in favor of the more generic #456

[2016-09-19 20:00] #452 closed

[2016-09-19 20:35] juliemr commented on #456
I'm pretty sure this was due to the swap from webpack to rollup for bundling. The suggested fix is to go back to having everything execute in a closure, I'm trying to figure out how to do that with rollup.

[2016-09-19 22:24] sasonic opened #458 "iframe targets in parent document act as if target="_blank" after zone.js is loaded in child iframe."
I am trying to introduce angular2 into an existing environment that uses iframes for it panels. When I load anything into an iframe that includes a javascript reference to zone.js (currently on 0.6.23), all links on the parent document that target iframes by name instead are treated as a "_blank" target and load to a new window. I hope this is not expected behavior as it kills our use of angular2

[2016-09-19 23:04] #456 closed

[2016-09-19 23:34] jvbianchi commented on #453
it may be related with https://github.com/angular/zone.js/issues/448

[2016-09-19 23:34] jvbianchi commented on #455
it may be related with #448?

[2016-09-20 00:27] juliemr commented on #456
This is now fixed in the latest release.

[2016-09-20 07:25] ocombe commented on #456
Awesome, this also fixed my problem: I had an error message of `ERROR in [default] C:\[...]\node_modules\typescript\lib\lib.d.ts:18448:14 Cannot redeclare block-scoped variable 'name'. `, I updated and the error disappeared :)

[2016-09-20 13:50] M4ttsson commented on #446
Having the same problem, Chrome 53.0.2785.116 m (64-bit).

My angular 2 page works fine in Firefox but gets this error in Chrome:
"Failed to execute 'fetch' on 'Window': 1 argument required, but only 0 present."

[2016-09-20 14:05] platosha opened #461 "Support clearing the timeouts with numerical IDs for Polymer compatibility"
Currently, calling `clearTimeout(timeoutId: number)`, as well as the other patched timer methods, clears the timeout in browser, but does not cancel the corresponding zone task.

### Details

The patched timer methods, such as `setTimeout`, return a `Task` instance. At the same time, by the DOM specs, the return value should be numeric.

Polymer, for example, depends on the `setTimeout` return val

[2016-09-20 18:39] DanielJoyce commented on #437
timers is global object in Node, so no reason to import. Breaking on vertx as well.

[2016-09-20 22:17] Hongbo-Miao commented on #448
After updating to latest version:

[code]

The issue is gone now.

[2016-09-21 06:00] jorawarsingh opened #464 "Error: Missing: SyncTestZoneSpec"
I have this issue when i run test only, running application works fine. I googled bit about it and saw some other posts regarding this. some has suggested that downgrade can resolve this issue but then my app break down and i get other errors. I'm using 0.6.23 with angular2.0.0 final.

[2016-09-21 20:14] sasonic commented on #458
Looks like 0.6.24 fixed this... so thank you.

[2016-09-21 20:14] #458 closed

[2016-09-22 07:07] RaleS opened #465 "Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten."
Moved from https://github.com/angular/angular/issues/11788

http://plnkr.co/edit/xElagaMcBNbYvc7k7Enh?p=preview

Zone breaks when using `Bing Maps`. The global.promise gets overwritten by `Bing Maps`. The error is delayed 2 secs - see console output.

[2016-09-22 07:15] warren-bank commented on #418
dead topic.. got it, but fwiw.. one last comment

i ran a few tests using the above methodology.. trying both `onHasTask` and `onInvokeTask` hooks.
in both cases, if the "test code" is completely synchronous (ex: a `console.log()` statement) then neither hook gets invoked. it's only when the "test code" includes asynchronous code that both/either are engaged.

i suppose a (really bad) way to work

[2016-09-22 15:15] coldhavok commented on #407
@monkeychops solutions works great for me.

[2016-09-22 23:24] Blasz commented on #387
Bump

[2016-09-24 01:15] nasooz commented on #364
@pornel In node.js, to be able to do `var something = require('something');`, we need to have something like `module.exports = something;` in the respective module.

I had a very quick look at the code and I couldn't find anything relevant. I might be missing something but is zone.js designed to be used in node at all?

[2016-09-24 02:34] jmlopez-rod commented on #364
@nasooz , module bundlers like webpack and browserify can use the require syntax to know what modules to include in the bundle.

[2016-09-24 09:13] adrian-moisa opened #466 "Angular 2 + Zone.js + Common js module: IF statement anomaly, code is executed even in false case"
I tried a ton of checks. This definitely is an anomaly. I have an Angular 2 service that loads a `@type` definition (typescript 2) which in turn loads a commmon.js module ([visionmedia/debug](http://stackoverflow.com/a/39666118/1903781)). Inside the common.js module I have a simple if statement that triggers an error even if the condition is false and code should not be executed. I used `system.js

[2016-09-24 11:11] nasooz commented on #364
@jmlopez-rod, thank you for your response but I obviously need to educate myself further because I have only very little experience with browserify and as a result I don't quite understand what you're saying (entirely my bad). I believed that browserify was used to package npm modules for the browser but your response suggests that there is more to it, if I understand it correctly.

Anyway, do you

[2016-09-24 14:48] jmlopez-rod commented on #364
@nasooz , I would suggest to look at some article that uses webpack. Looking around I found this page https://web-design-weekly.com/2014/09/24/diving-webpack/ that has a sample git repo: https://github.com/web-design-weekly/basic-webpack. What you can do is simply try to play around with it and try to include other npm modules in there and see how webpack puts them in the generated file `dist/bund

[2016-09-24 15:58] tkazec commented on #328
All good now, thanks.

[2016-09-24 15:58] #328 closed

[2016-09-24 16:02] adrian-moisa commented on #466
Issue solved. It looks like zone.js has nothing to do with this issue. I have received help from system.js comunity. Check this [answer](https://github.com/systemjs/systemjs/issues/1454#issuecomment-249371539).

@guybedford

	System.config({
		map: {
			ms: '@empty'
		}
	});

[2016-09-24 18:24] #466 closed

[2016-09-24 18:42] happyvig commented on #464
Same issue here.

[2016-09-24 19:24] vicb commented on #464
We can not help without knowing your setup.
Please re-open with an accurate description of your env and a repro

[2016-09-24 19:24] #464 closed

[2016-09-24 21:19] nasooz commented on #364
@jmlopez-rod, Thank you very much mate! Much appreciated indeed.

[2016-09-25 05:17] jorawarsingh commented on #464
For work around right now use "zone.js": "~0.6.17"

[2016-09-25 22:18] wizarrc commented on #446
It looks like chrome may have fixed their "bug"?? where they allowed an empty fetch call, because that did work for me before without hitting a promise rejection breakpoint while in debug mode before. I'm not sure which version of chrome I was on, but I am currently on Version 53.0.2785.116 m (64-bit). My previous fix using an empty string still seems to work in both Edge and IE.

`global['fetch']

[2016-09-26 05:48] happyvig commented on #464
Thank you.

[2016-09-26 14:33] Namek commented on #393
Looks similiar to what I've just found out about:

(see my answer to the topic) http://stackoverflow.com/questions/39643062/huge-performance-impact-on-components-host-document-click-angular2/39705497#39705497

I also posted this https://github.com/angular/angular/issues/11857 but response felt rather harsh.

[2016-09-26 14:36] amcdnl commented on #393
I'm not sure this is related, the setTimeout call is out of my control.

Listening to mouse click on the document will always be pricey hit. I'd recommend hooking up a renderer listener manually only when you need it - https://angular.io/docs/js/latest/api/core/index/Renderer-class.html

[2016-09-26 14:38] Namek commented on #393
@amcdnl Looks like you read question on SO and not the answer.

To simplify, instead of simply doing this code:

[code]

Now I have to do this:
[code]

@amcdnl Is this not related?

[2016-09-26 16:16] AntonFLB commented on #434
Clear SharePoint Zone leads to issues with "edit page" and ribbon command bar.
My question is why need zone.js to overwrite a global scope variable? (nevertheless what ms do is not the best way)
Maybe its possible to use a local or custom namespace?

Greetings
Anton

[2016-09-26 21:08] pe8ter commented on #439
This bug still occurs in Zone.js version 0.6.25, but both this issue and https://github.com/angular/zone.js/issues/436 are closed. Since that issue deals with MS Edge and this one is Chrome-only I think this issue should be reopened.

[2016-09-27 06:21] Delagen commented on #316
Any movement in solve issue? This cause endless wrap from DirectiveNormalizer.normalizeTemplateAsync point

[2016-09-27 06:47] Delagen commented on #316
Seems some polyfill issue. Corrected polyfills

[2016-09-27 15:05] vicb commented on #316
outdated

[2016-09-27 15:05] #316 closed

[2016-09-28 12:23] woppa684 opened #468 "Zone.js does not work for web sockets in Internet Explorer 11"
First of all, this is duplicate of https://github.com/angular/angular/issues/10350 but I thought this location might be more appropriate. I think that a websocket message is not automatically ran in the Angular zone in internet explorer.

Run the plnkr below in chrome for example and clicking the button wil nicely increment the message. Running this in IE you will see that the update in the view l

[2016-09-28 14:36] nadavsinai commented on #416
also see -  (bd095bf) use of .hasOwnProperty - changed to use Object.getOwnPropertyNames - a different issue also affecting safari webworkers in version 0.6.21+

[2016-09-28 15:07] jvbianchi commented on #455
this also causes problems when you use [sequelize](https://github.com/sequelize/sequelize) (which uses bluebird) with angular universal.

[2016-09-29 00:24] nasooz commented on #364
@pornel, I did a little bit of digging and found out that `require('zone.js')` actually creates a member in the `global` object called Zone. In other words, code like:
[code]
should work in node.js. It works for me at least.

The way I see it, your attempt `require('zone.js').Zone` wouldn't work because the module doesn't export a Zone.

On a different note, I still haven't been able to get the ho

[2016-09-29 02:55] hartsan commented on #446
We're having this problem, too, and I can confirm the wizarrc's fix solves the issue.

[2016-09-29 05:51] Artmobile opened #470 "PR #430 Breaks Stream interface in Node.js"
PR #430  breaks fluent interface nature of **Node.js** Stream:

To reproduce, uncomment `require("zone.js")`. The code will crash because **createInterface** and **on** do not return _self_ which prevents cascading

[code]

[2016-09-29 09:52] peterheard01 commented on #444
thanks

[2016-09-29 12:18] woppa684 commented on #468
Furthermore, if I run the web socket example from the repro in Internet Explorer 11 I get:

[code]

[2016-09-29 12:33] wesleycho commented on #446
We're seeing this problem in only Edge 38.14393.0.0, where it crashes the script load.

[2016-09-29 13:38] petewalker commented on #446
The problem with @wizarrc's solution - https://github.com/angular/zone.js/issues/446#issuecomment-249450289 - is that it introduces a side-effect - a GET request is made to the current page:

![sep-29-2016 14-38-07](https://cloud.githubusercontent.com/assets/453816/18956187/64de9386-8652-11e6-93ce-4949e895968b.gif)

[2016-09-29 15:52] wizarrc commented on #446
@petewalker I think the point of the fetch was to confirm functionality. I would be interested in a reliable way to test functionality that did not waste undue resources. I would imagine a local resource would be needed for each browser. Good catch. I want to add I didn't mean to suggest that this was a permanent solution, but rather a quick fix/workaround for those waiting for an update like myse

[2016-09-30 02:59] gpazo commented on #446
confirming on angular 2.0.0, zone-js 0.6.12, and chrome 53.0.2785.143

[2016-09-30 16:51] crowmagnumb commented on #446
confirmed on angular 2.0.1, zone-js 0.6.12, and chrome 53.0.2785.116

[2016-09-30 21:32] mhevery commented on #439
@pe8ter please re-open a new issue with new repro steps, as this repro steps no longer cause the issue.

[2016-10-01 02:07] vicb opened #472 "lint the code"
Add lint in gulp to avoid https://github.com/angular/zone.js/pull/471

[2016-10-01 15:55] vicb commented on #472
also add clang-format

[2016-10-02 04:55] vicb opened #474 "add copyright headers to source files"
see angular/angular
- add the header,
- add the lint rule.

[2016-10-02 04:58] #38 closed

[2016-10-02 04:58] #45 closed

[2016-10-02 13:20] jakubmal commented on #470
`createInterface` works correctly as it's not patched by Zone, `on` is fixed in the PR.

[2016-10-02 22:39] jakubmal commented on #465
Bing overwrites `Promise` using a separately-loaded JS file, so order of execution is not going to be predictable. The only possibilities I see are to load zone.js after Bing maps are completely loaded or to rerun zone.js after Bing maps are loaded. Unfortunately, just disabling the check (`Zone.assertZonePatched = () => {};`) as a workaround does not pass a simple smoke test.

[2016-10-02 22:56] jakubmal commented on #449
Would really love to help but:
- when I open the plunkr you posted - application is not loading, and there's no error in console
- when I opened the repository - `./node_modules/.bin/ng serve` resulted in configuration errors

[2016-10-03 12:31] RaleS opened #476 "HTTPS security is compromised by null in Edge"
SEC7111: HTTPS security is compromised by null
The error is logged in Edge console window when running zone.js 0.6.25

https://jsfiddle.net/g0mzz515/

[2016-10-03 15:04] vicb commented on #476
What is your setup ? Does this happen only in jsfiddle ?

[2016-10-03 20:52] yann510 commented on #465
Currently running into a similar issue of yours, but I am not using Bing Maps. Being pretty new to web development, I find it very hard to determine which plugin is causing this exactly. What would be the best way to find what is wrong?
Here is the error stack trace:

(anonymous function) @ main.browser.ts:25
u @ es6.promise.js:87
(anonymous function) @ es6.promise.js:100
a @ _microtask.js:18
Zone

[2016-10-04 00:14] #472 closed

[2016-10-04 13:02] jakubmal commented on #465
@yann510 you would have to list all other libraries that you use so we can take a look
@henryng24 `repatch` kind of method might eventually be needed, but I want first understand the problem exactly before I start suggesting any solutions

[2016-10-04 15:23] yann510 commented on #465
@henryng24 I got to the root of why my issue was caused. It appears that when I updated some dependencies (notably angular from rc-6 to 2.0.0, zone.js from 0.6.17 to 0.6.25, rxjs from 5.0.0-beta.11 to 5.0.0-beta.12) and this is when I started getting the issue. Here is a link to my [package.json](http://pastebin.com/iagTyC0b) config. With this config for some reason when I run npm install it insta

[2016-10-05 07:09] RaleS commented on #476
@vicb Not sure why do you ask about the setup. Here is another example with zone.js 0.6.25

https://nspeubk.blob.core.windows.net/temp/zonejsedge.html

[2016-10-05 07:55] furydam opened #477 "How to work with angular2 app in the portlets?"
I am trying to use angular2 app in a Liferay portlet. When I put portlet on the page, app is initialized properly, but when I go to another route and return back I have an error Zone already loaded. Maybe, I should load zone.js at once separately without angular app builded with Angular CLI.

How can I solve this issue?

[2016-10-05 10:46] juliemr commented on #446
I don't see this causing issues if 'Pause on Uncaught Exceptions' is unchecked, but I do see the pause if it is checked. Chrome 53.0.2785.143.

for those that are using an older version of zone.js, please try updating to the latest.

[2016-10-05 11:47] petewalker commented on #446
It's occurring for me whether "Pause on Uncaught Exceptions" is checked or not. Chrome 53.0.2785.143, zone.js 0.6.25.

It appears that the Chrome implementation is throwing the error in a way that can't be caught in userland. Running the following in devtools with "Pause on exceptions" activated:

[code]

All result (for me) with the console pausing with:

[2016-10-05 16:02] freezy commented on #316
Same issue here.

@Delagen Could you solve the problem? Which polyfill did you correct and how?

[2016-10-05 18:38] Delagen commented on #316
@freezy I only replaced some polyfills with recommended in angular 2 docs, and issue was gone.

[2016-10-06 00:18] nelix commented on #315
Perhaps overriding createElement so that it might make the script type one that the browser won't load, then on insertion something could ajax the script and run it in a new function context?

[2016-10-06 01:40] vicb commented on #476
I should have been clearer, what's Edge version do you use ?
Thanks

[2016-10-06 06:45] RaleS commented on #476
It's EdgeHTML 14.14393, Edge 38.14393.0.0, but it also fails in preview Edge 39.14936.1000.0, EdgeHTML 14.14936. Can you reproduce it?

[2016-10-06 07:40] freezy commented on #316
@Delagen I'm using the same `polyfills.browser.ts` as [the one from the official Angular seed project](https://github.com/angular/angular2-seed/blob/master/src/polyfills.browser.ts). In the official doc I've only found the [browser support page](https://angular.io/docs/ts/latest/guide/browser-support.html) that only gives broad suggestions about the polyfills.

I've also tried just putting

[code]

[2016-10-06 07:46] Delagen commented on #316
Please see: https://angular.io/docs/ts/latest/guide/browser-support.html
[code]

ie-shim use only requestAnimationFrame polyfill

You may use Animation feature

this not works not in IE9 and require https://github.com/web-animations/web-animations-js

[2016-10-06 08:27] freezy commented on #316
I've tried adding `ie-shim` as well as `web-animations`, same infinite loop. Chrome and Firefox still work perfectly while Safari and IE run into the loop.

This is a nightmare. I have no idea how to debug this. I will need to start from a minimal project and re-add component by component until I see where the problem is. The stacktrace is useless. Sometimes it's `zone.js#436`, sometimes `polyfill

[2016-10-06 08:33] Delagen commented on #316
Try to start with simple core-js import instead of
[code]

[2016-10-06 10:31] jcamus commented on #464
I have the same problem here...
Error: Missing: SyncTestZoneSpec
at c:/oldGen/TransfolioWeb/client/node_modules/zone.js/dist/jasmine-patch.js:32
No sorry... same problem with "zone.js": "~0.6.17"

[2016-10-06 13:33] woppa684 commented on #468
When I add "WebSocket" to the "NO_EVENT_TARGET" array it DOES work, so:

[code]

@vicb Could this be the cause? For now I will patch it like this in our zone.js so we can continue without all the extra detectChanges calls or NgZone.run's ...

[2016-10-06 14:31] jcamus opened #478 "Error: Missing: SyncTestZoneSpec with zone.js 0.6.23 and Angular 2.0.0"
When running unit tests via Karma / jasmine, here is the error I obtain:

06 10 2016 16:28:01.561:INFO [karma]: Karma v0.13.22 server started at http://localhost:9876/
06 10 2016 16:28:01.561:INFO [launcher]: Starting browser PhantomJS
06 10 2016 16:28:03.026:INFO [PhantomJS 2.1.1 (Windows 7 0.0.0)]: Connected on socket /#qKRSte8Op4yiczQjAAAA with id 59956061
06 10 2016 16:28:03.321:WARN [web-serv

[2016-10-06 14:39] jcamus commented on #478
ok changing my karma.conf.js to that,solves the problem (order is important):

// Zone.js dependencies
      'node_modules/zone.js/dist/zone.js',
      'node_modules/zone.js/dist/long-stack-trace-zone.js',
      'node_modules/zone.js/dist/async-test.js',
      'node_modules/zone.js/dist/fake-async-test.js',
      'node_modules/zone.js/dist/sync-test.js',
      'node_modules/zone.js/dist/proxy.js',

[2016-10-06 14:39] #478 closed

[2016-10-06 14:44] lorenzodallavecchia commented on #455
Unfortunately, it is not enough to call Bluebird `setScheduler` as this may cause promises to be settlet in the wrong zone (a extremely subtle bug). It looks like the only way is to patch each and every function in the API. I updated the opening comment to reflect this.

[2016-10-06 15:56] AndrewCochrane commented on #407
@monkeychops also worked for me

[2016-10-07 20:45] tflori commented on #399
I get the same error maybe it is the same row:
[code]

The problem here is that `_uncaughtPromiseErrors` get initialized this way:
`this._uncaughtPromiseErrors = Promise[Zone['__symbol__']('uncaughtPromiseErrors')]`

So it can be undefined.

I will create a pull request for it.

[2016-10-07 20:58] tflori commented on #399
I created a pull request that solves the problem in my case:
https://github.com/angular/zone.js/pull/479

[2016-10-09 00:45] RoxKilly opened #480 "How to bundle Zone with Rollup.js in Angular 2 app"
I'm writing an `Angular 2` app in `typescript 2` and trying to follow [Angular's recommendation](https://angular.io/docs/ts/latest/cookbook/aot-compiler.html#!#tree-shaking) for bundling with Rollup.js

The guide (linked above) only shows how to include `RxJs`.  How can we include this library in the bundle?

**rollup.config.js**

[code]

During bundling, Rollup throws 4 errors:

In the browser, t

[2016-10-10 17:19] mhevery commented on #448
@alexwolfe could you look at this. I think this may be related to the changes you have done to the node.

[2016-10-11 11:32] loliparra80 opened #482 "IE8 expected identifier error"
When I try to open my website in a internet explorer ie8, doesn't work. While in IE11 I have no problems.

When I debug the error is: "Expected identifier" zone.js, line 540 character 36. It seems like don't recognize the "catch" on "ZoneAwarePromise.prototype.catch = function....".

What can  I do?
Thanks.

[2016-10-11 13:14] rukeshj commented on #464
Hi @jorawarsingh , @jcamus  , @happyvig : Any solution for this issue :

I use the following config
[code]

Some suggestion will be of great help .

[2016-10-11 15:19] alexwolfe commented on #448
@mhevery Haven't made any changes to node, perhaps you meant to tag another Alex?

[2016-10-12 12:23] AlexYankee commented on #304
Experiencing this issue with angular-universal. My code looks similar to following:
[code]
I'm getting:
angular
<root>
angular

console output

[2016-10-12 12:29] AlexYankee opened #484 "Zone.js higher than 0.6.21 breaks angular-universal https calls"
Calls to https:// end up with error code: ECONNRESET, as described in https://github.com/angular/universal-starter/issues/172

[2016-10-12 18:57] #461 closed

[2016-10-12 19:00] mhevery commented on #448
sorry wrong alex, now the right one => @alxhub

[2016-10-12 19:24] alxhub commented on #448
@mhevery yep, found the problem. Fix is in PR #485.

[2016-10-13 05:46] jorawarsingh commented on #464
Hi @rukeshj  these dependencies are working fine for my in all cases when i use ` "zone.js": "~0.6.17"`

[2016-10-13 21:18] jculverwell commented on #449
Hi Guys,

I create my project using the angular-cli

[code]

Then I added in NgTagsInput by adding it to the package.json

[code]

This is still not working in angular-cli beta 17.

Welcome your thoughts

[2016-10-14 04:13] bisubus opened #487 "Zone.js 0.6.22 and higher causes errors in Hapi 14 and lower"
The problem is common to Zone.js 0.6.22 and higher (up to 0.6.25 atm) and all major Hapi versions from 8 to 14. Hapi 15 doesn't have this problem.

Any request to Hapi server causes this error:

[code]

[Here's a repo](https://github.com/bisubus/unhapi-test-zone) that demonstrates the issue.

[2016-10-14 07:27] Saviio opened #488 "when will zone.js 0.6.26 be released?"
ATT

Because I found a critical issue was resolved in https://github.com/angular/zone.js/pull/451, and we met the same issue in safari.

[2016-10-14 17:55] bisubus commented on #488
Fortunately, there's no need to hurry the things up, because we can always refer to the package by commit hash until the next release, `"zone.js": "angular/zone.js#16be7f916342dae6b2f5fb6c5dcaa411dffe8fe4"`.

[2016-10-15 06:51] Saviio commented on #488
@bisubus it won't work, because the entry of zone.js is `dist/zone.js` (built from ts to js), if I refer to the specific commit I have to change my bundle strategy and build zone.js separately.

[2016-10-17 08:27] jahtalab opened #489 "Error: Permission denied to access property "apply""
This Issue happens when using walkme.com firefox extension.

to reproduce:
* install walkme.com firefox extension
* load a page with zone.js
* record some steps with walkme
* click "Preview" in walkme

[2016-10-18 22:45] russelltrafford opened #490 "npm error: npm ERR! invalid: zone.js@0.6.26"
I keep receiving the following `invalid` error when I try to install zone.js:

Command:
`$ npm list --depth=0`

My package.json shows:
`"zone.js": "~0.6.17"` in `dependancies` section

I have tried everything from removing zone.js and doing an `npm install` with my package.json (zone.js version ~0.6.17) and even putting zone.js : "*" which then installs 0.6.26 and still shows invalid.

Because the

[2016-10-19 00:35] dev4201 commented on #434
@lifan0127 - I'm facing the same issue, have you been able to find a workaround?

@AntonFLB - Can provide details how you were able to clear SharePoint zone?

[2016-10-19 01:09] lifan0127 commented on #434
@dev4201 I would just comment out the global.Zone check in zone.js and allow Angular and SharePoint to share the namespace.

[2016-10-19 06:15] Hongbo-Miao opened #491 "Error: Can't set headers after they are sent."
I put the error log here, since it is a little bit long
http://pastie.org/10945816

The reproduce codes app is here
https://github.com/Hongbo-Miao/zonejs-bug

It uses universal-starter, just added **socket.io**, see in [second commit](https://github.com/Hongbo-Miao/zonejs-bug/commit/216a69e589c31f8d9f9157f3be0c57eae111433f).

To see the error, `npm start` and open page [http://localhost:3000/](htt

[2016-10-19 14:30] manlamcheng commented on #434
I was able to get it working without comment out the global zone check in zone.js. It's one of the modules or assemblies that loads global zone before zone.js. I tried to remove one by one from default.aspx page, and eventually got it working.
I would recommend to download shim, zone, reflect-metadata and system.src js files so that they can match the version on your package.json.

---------------

[2016-10-19 14:40] dev4201 commented on #434
Got it to work with @lifan0127 suggestion,  but I'll try to reorder my references.

Thank you both for your help!

[2016-10-19 18:38] mhevery commented on #393
1. This is really a Angular2 issue rather than zone.js issue. `this.ngZone.runOutsideAngular(() => { ... })` is Angular2 API not zone.js API.
2. Once zone.js is loaded all code runs in a zone. So the fact that running outside of the Angular zone (using `this.ngZone.runOutsideAngular(() => { ... })`) fixes the issue implies that it is not a zone.js performance problem but Angular 2 problem.
3. The

[2016-10-19 18:38] #393 closed

[2016-10-19 18:42] mhevery commented on #434
Clobberin global `Zone` by suppressing the check means that we can just clear the Zone.
[code]

[2016-10-19 19:16] amcdnl commented on #393
@mhevery - Whats the appropriate approach given my scenario? Are you going to be logging a Angular bug?

[2016-10-19 21:40] mhevery commented on #393
I think the correct approach is to trigger rendering library such as ThreeJS outside of Angular zone, just as you are doing with `this.ngZone.runOutsideAngular(() => { ... })`. If you feel that there are too many places where you have to place this than maybe there may need to be some kind of facade which exits the zone automatically between your application and ThreeJS.

Your bug is "running Angu

[2016-10-20 09:15] AepKill commented on #429
[code]

[2016-10-20 17:02] iBasit commented on #332
No, there is still big memory leak :/ on angular2 application, which hardly have any component. Our complete application is not working properly on mobile or on some computers

[2016-10-21 00:19] thejoecode commented on #455
I was caught off-guard by this. I wanted to include Angular 2 on a page already utilizing some Bluebird methods. My options are to put Angular in an iFrame or rewrite the Bluebird promises. Neither are great.

[2016-10-23 21:19] gdi2290 commented on #482
I don't think zone.js supports IE8

[2016-10-24 09:27] sylvainpolletvillard commented on #316
I have the same issue, `SCRIPT28: Out of stack space` on app startup on IE11 when everything is working fine with Chrome and Firefox.

Here is what I tried:
- remove "zone.js/dist/long-stack-trace-zone" from polyfills
- replace "es6-shim" polyfill by "core-js" as suggested ; it leads me to another issue (https://github.com/angular/angular/issues/6479) telling me I have to use es6-shim. For some re

[2016-10-25 17:24] shou1dwe commented on #356
Hi cexbrayat, I suspect I am hitting the same problem as you. I am pretty new to javascript in general, do you mind sharing your workaround to make it work with SSE?

[2016-10-25 18:52] markandrus opened #494 "Zone.js issue with Promise "subclass""
Hi,

I am having an issue using Zone.js alongside a Promise "subclass" (I say "subclass" because I am not quite sure my method of subclassing is correct). Assume the following code is run in a browser after loading Zone.js.

**Promise Subclass**

 First, my Promise subclass:

[code]

This is enough to get an instance of MyPromise passing an `instanceof` check for Promise.

**Test Scenario**

[code

[2016-10-25 20:02] cexbrayat commented on #356
@shou1dwe  We wrapped the EventSource in an observable and used `zone.run`

[code]

[2016-10-26 10:31] arunakshi opened #496 "Cannot read property 'scheduleEventTask' of undefined"
I am new to Angular2. I am developing Angular2 app for Sharepoint. I am getting the following error: "Cannot read property 'scheduleEventTask' of undefined" after I load all my JS files. When I debug in zone.js, I see that at first zone is not undefined and later there an event in aspnetForm with eventType: submit and then I get the Zone.Current as undefined. Does anyone have the same issue?

[2016-10-26 12:28] arunakshi commented on #496
I solved this problem. I referenced the zone.js file at the end of my page and removed the cleared the Zone from sharepoint with the following: <script>
	window.Zone=null;
</script>
<script src="../node_modules/zone.js/dist/zone.js"></script>

[2016-10-26 12:28] #496 closed

[2016-10-26 21:48] IAMtheIAM commented on #465
Here's the fix: zone.js MUST be imported AFTER AppModule/AppModuleNgFactory, otherwise it will throw error "ZoneAware promise has been overriden" during bootstrapping. App.bootstrap.aot example below:
[code]

[2016-10-27 23:04] develand commented on #404
Fixed by updating the 'files' array in karma.config.js with:

      'node_modules/zone.js/dist/zone.js',
      'node_modules/zone.js/dist/long-stack-trace-zone.js',
      'node_modules/zone.js/dist/async-test.js',
      'node_modules/zone.js/dist/fake-async-test.js',
      'node_modules/zone.js/dist/sync-test.js',
      'node_modules/zone.js/dist/proxy-zone.js',
      'node_modules/zone.js/dist/pr

[2016-10-31 15:48] dessalines commented on #407
I got this error again in `zone.js@0.6.26`.

[2016-11-01 11:19] corey-waymark commented on #446
Is there any update on this? It is still fantastically annoying to have to press continue every time I load an app with dev tools open...

[2016-11-01 17:53] Splaktar commented on #405
This looks like a project configuration issue rather than a Zone.js bug. That said, the error message could be more helpful. It should specify the name of the zone that is already loaded or some identifying information. In my case, the stack trace pointed to three different source files in my code, none of which were really helpful.

For me, this ended up being an issue with my Polymer dependencie

[2016-11-01 18:07] mreeve commented on #380
I had this issue as well, however, I'm also using prototype.js and calling an onchange function on load but was getting the error "onchange is not a function".

I've had to patch it a bit further than Deftig did but I'm hoping someone could offer a better solution as I was only able to fix using eval:

`
        desc.get = function() {
                if (typeof this[_prop] === 'undefined' && this

[2016-11-01 21:14] antonyRoberts opened #498 "Problem with Multer: zone 0.6.26 starts at 0.6.22"
### OS?
Windows 10

### Versions.
zone 0.6.26

### Repro steps.
Attempt to upload a file using multer, express will crash with ```TypeError: Cannot read property 'on' of undefined```

### The log given by the failure.

    at Multipart (C:\apps\UniversalSports\node_modules\busboy\lib\types\multipart.js:26:12)
    at Busboy.parseHeaders (C:\apps\UniversalSports\node_modules\busboy\lib\main.js:64:22

[2016-11-02 00:48] JamieClayton commented on #380
Could we get some guidance from the Zone.js team about debugging issues with Zones interaction with other JS libraries.  Invariably merging new "Angular 2+" applications into existing applications is triggering these complex problems with zones monkey patching of javascript.  I've seen that the  Web Tracing Framework - http://google.github.io/tracing-framework/ and chrome plugin is usefully to det

[2016-11-02 18:04] KrauseStefan commented on #470
Is the pull request going to be merged soon?

For others finding this issue, you might have luck with the following workaround, provided you are not using the event integration in node.js

[code]

I use it myself for now but would really love to get rid of it since, it does disable the integration in the event system.

As a bit of background info, I have this dependency in order for getting angula

[2016-11-03 01:27] antonyRoberts commented on #498
Here is a repository showing the issue.
https://github.com/antonyRoberts/MulterUploadFilesZone

[2016-11-03 13:31] sylvainpolletvillard opened #499 "ZoneAwarePromise does not validate other Promise polyfills tests"
## Version
0.6.25

## Problem

Many external libraries already include a Promise polyfill in their source code, which tests support for Promise before adding their own implementation. The problem is that the test are very specific and ZoneAwarePromise does not validate all of them.

For example, I have this very popular Promise polyfill in one of my lazyloaded dependencies : https://github.com/ste

[2016-11-03 18:39] #470 closed

[2016-11-04 17:08] cc-erty commented on #344
+1, I am having this issue as well.

[2016-11-05 03:01] JiaLiPassion commented on #491
I made a pull request to fix this issue, for now you can change your package.json to make zone.js reference to https://github.com/JiaLiPassion/zone.js.git to see the result.

[2016-11-05 07:13] JiaLiPassion commented on #484
This is because the EventEmitter.once is not handled properly, I have create a pull request, you can use my repository for test, https://github.com/JiaLiPassion/zone.js.git.

[2016-11-05 07:26] JiaLiPassion commented on #498
I used your repository, but I can't see the errors even I update the zone to 0.6.26

[2016-11-05 20:39] bdunn44 opened #501 "Error: Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten"
Using:
- Angular 2.1.0
- Zone.js 0.6.26
- Angular Universal 2.1.0-rc.1
- Webpack 2.1.0-beta.25

I'm receiving the following error from `Zone.assertZonePatched()`:

`Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten`

I referred to Angular issue [#11650](https://github.com/angular/angular/issues/11650), but I get this error regardless of how late I import Zon

[2016-11-05 21:02] bdunn44 commented on #501
Forgot to mention, I also added a log statement [here](https://github.com/angular/zone.js/blob/master/lib/zone.ts#L1196) and it's only executed once.

[2016-11-06 00:39] JiaLiPassion commented on #487
This has been fixed by this commit https://github.com/angular/zone.js/commit/431f6f07f0659055d692828fd0ba84cde078e2fb, you
can update to 0.6.26 to resolve this issue.

[2016-11-06 06:51] bisubus commented on #487
@JiaLiPassion It was fixed indeed, thanks.

[2016-11-06 06:51] #487 closed

[2016-11-07 17:25] antonyRoberts commented on #498
@JiaLiPassion What OS are you using?
I'm using Windows 10, node v7.0.0 and when zone.Js is 0.6.26 any attempt to use multer results in
![cannotreadproperty](https://cloud.githubusercontent.com/assets/19535379/20068042/4f05cd98-a4e5-11e6-8290-a159219ed8c3.jpg)

[2016-11-08 16:07] JiaLiPassion commented on #498
you can use my fork to test(it should get the same result as 0.6.21), I fix several bugs of 0.6.22, I will figure out this issue, my fork is https://github.com/JiaLiPassion/zone.js.git

[2016-11-08 16:18] JiaLiPassion commented on #498
I reproduced the bug, I should also change the urlConfig.class.ts to set the correct ip.

This bug has been fixed in this commit https://github.com/angular/zone.js/commit/c5130a614a796a047912326c2a0ad4b590181537, you can use the newest version of zone.js  (https://github.com/angular/zone.js.git) to get the correct result.

[2016-11-10 13:05] #449 closed

[2016-11-11 09:29] tsukhu opened #502 "IE11 Unhandled Promise rejection: BrowserPlatformLocation.prototype.replaceState"
Hi,
  I am using version 0.6.25 and get this error in IE11 .. This works just fine on Chrome

Any help will be greatly appreciated

Given below is the console log..
Angular 2 is running in the development mode. Call enableProdMode() to enable the production mode.
EXCEPTION: Uncaught (in promise): Error: Unspecified error.
Error: Unspecified error.
   at BrowserPlatformLocation.prototype.replaceSta

[2016-11-12 17:23] bdunn44 commented on #501
Found the issue to be:

[code]

Removing this import resolved the issue.

[2016-11-12 17:23] #501 closed

[2016-11-14 07:39] KrauseStefan commented on #488
zone.js 0.6.26 has been release, but for some reason this is not reflected in the releases here on github.
It is however available on npm: https://www.npmjs.com/package/zone.js

[2016-11-14 08:05] KrauseStefan commented on #453
Hi

I had some similar errors previously could you maybe check if your issue is resolved?
The PR that fixed the issue is #475.

you need to build it in order to test it.

I've tried to create an unofficial release that you can test with [here](https://github.com/KrauseStefan/zone.js/releases/download/v0.6.27/zone.js.zip)

If it works then we might be able to get the team to cut a official release.

[2016-11-14 13:21] pratts opened #503 "Provide updated dist folder in zone.js npm package"
Hi,
I was using angular universal and I had a problem while connection with mysql database. There was already a bug filed in angular universal repo [#568](https://github.com/angular/universal/issues/568). A [PR](https://github.com/angular/zone.js/commit/c5130a614a796a047912326c2a0ad4b590181537) was also submitted and merged in master branch in zone.js project but when I install the package using n

[2016-11-16 18:48] sjelin opened #505 "Patch process.nextTick()"
node's [`process.nextTick()`](https://nodejs.org/api/process.html#process_process_nexttick_callback_args) is used by a lot of libraries (`q`, for instance) but isn't patched by zone.js:

[code]

`process.nextTick` was basically `setImmediate` before `setImmediate` existed.  Now it's like `setImmediate` except it gets scheduled in a higher priority queue.

[2016-11-16 21:29] #468 closed

[2016-11-17 17:50] markandrus commented on #494
@mhevery thanks for the merge! I will close this ticket now.

[2016-11-17 17:50] #494 closed

[2016-11-18 21:34] john-landgrave commented on #498
This still appears to be happening. I have pulled in this package directly from GitHub, and my package.json entries regarding Multer are the same as the repo by @antonyRoberts given above. Any help on this?

[2016-11-18 22:22] poxrud commented on #489
I've investigated this issue since I'm the one that wrote the _**wrapFn**_ function that is referenced in the error.

The problem is with the "walkme" Firefox extension. The extension is inserting a:
`<script src="https://cdn.walkme.com/player/resources/wmjQuery171.js" id="mt_script"></script>`
into the  page content.

Aside from being a huge security risk, this triggers a security error when Zone

[2016-11-19 01:58] JiaLiPassion commented on #498
I tested it a week ago in my mac, it is ok (the result is the same as 0.6.21), and I can't access https://github.com/angular/zone.js.git today with some weird reason,  could you try to change the package.json to "https://github.com/JiaLiPassion/zone.js.git" to see whether it is fixed? I just use my repository that it is ok.

[2016-11-21 07:24] JiaLiPassion commented on #505
Yeah, I agree with you, zone.js should patch process.nextTick, process.nextTick is a microtask , if we patch it like
`var nativeNextTick = process.nextTick;
  process.nextTick = function() {
    var args = arguments;
    args[0] = Zone.current.wrap(args[0], 'process.nextTick');
    nativeNextTick.apply(this, args);
 }`

the callback will be inzone.
and the nextTick will run before setImmediate/set

[2016-11-21 15:27] tomdegoede opened #508 ".on() does not return EventEmitter instance."
Version: 0.6.26
platform: Node

When using Zone.js in combination with the ws package (that uses zlib) an error is thrown on [ws#L267](https://github.com/websockets/ws/blob/master/lib/PerMessageDeflate.js#L267) and [ws#L319](https://github.com/websockets/ws/blob/master/lib/PerMessageDeflate.js#L319) due to on() returning `undefined` instead of the deflate/inflate instance.

[2016-11-21 15:44] JiaLiPassion commented on #508
I think it is fixed in https://github.com/angular/zone.js/commit/c5130a614a796a047912326c2a0ad4b590181537, you can try the newest dev version.

[2016-11-21 16:14] tomdegoede commented on #508
Works, thanks

[2016-11-21 16:15] #508 closed

[2016-11-21 18:25] antonyRoberts commented on #498
@JiaLiPassion on Windows Machine your fix does not work
![zonemulter](https://cloud.githubusercontent.com/assets/19535379/20495160/ef325332-afed-11e6-8a8c-d840c5d44e8d.png)

[2016-11-21 18:53] john-landgrave commented on #498
@JiaLiPassion

I was trying this on a CentOS box in AWS and it definitely was still breaking there. I can try your repo later this week, but the app is being demo'd today, so I can't make that significant of a potentially breaking change as of now.

[2016-11-21 19:03] sjelin commented on #505
I don't think wrapping will effect the order at all?  `Zone.wrap` doesn't make a function asynchronous, and the callback is being scheduled by `process.nextTick` in either case.  But I think your patch is fine regardless.

[2016-11-21 19:08] JiaLiPassion commented on #505
yes, the zone.wrap will not change the order, what I want to say is patch it just like the code I posted  can only resolve the issue that process.nextTick callback not inzone, but it will still be executed after promise.resolve().  such behaviors are different with the native implementations.

[2016-11-21 19:13] sjelin commented on #505
After reading more about micro tasks, I agree.

[2016-11-21 19:13] sjelin commented on #505
I think we need another task queue, sadly

[2016-11-21 19:17] JiaLiPassion commented on #505
I believe in nodejs native implementation process.nextTick and promise.resolve use the same microtask queue, so maybe we can patch process.nextTick using the ZoneAwarenessPromise microTaskQueue...

[2016-11-21 19:25] sjelin commented on #505
Nope:
[code]
Outputs:
[code]
On node v6.9.1

[2016-11-21 19:26] sjelin commented on #505
So I guess the wrapped version is fine?

[2016-11-21 19:31] JiaLiPassion commented on #498
yeah, I will try it later, I think the dist/zone-node.js is still the 0.6.26 version, maybe you can download the repository and generate the newest zone-node.js or use the attached one.
[zone-node.js.zip](https://github.com/angular/zone.js/files/604597/zone-node.js.zip)

[2016-11-21 19:35] JiaLiPassion commented on #505
I test in mac, node 7.0, the result is

`3
  4
  1
  2`

[2016-11-21 19:54] sjelin commented on #505
I switched to `v7.1.0` but still got the same order (I'm on Ubuntu and I left my mac at home).

Regardless, it's more complicated: https://github.com/nodejs/node-v0.x-archive/pull/8325

Basically, it empties one queue, then switches to the other.  It keeps switching back and forth until both queues are empty.  For instance, on my machine the following:

[code]
Outputs:
[code]
For some reason on my

[2016-11-21 19:57] JiaLiPassion commented on #505
yeah, I saw this issue too, nodejs/node-v0.x-archive#8325, from this PR, in my understanding they use node v8 microtask to proceed the process.nextTick.

I will test your code, and see what is the order.

[2016-11-21 20:01] SalinderSidhu commented on #378
I can confirm I have the same issue. I'm not aware of any option to disable this if possible?

[2016-11-21 20:01] JiaLiPassion commented on #505
Yes, I my machine with zone.js the result is
3 (promise)
5 (promise)
1 (next tick)
6 (next tick)
2 (next tick)
4 (promise)

[2016-11-21 20:38] antonyRoberts commented on #498
@JiaLiPassion I can confirm your supplied zone-node.js with 0.6.26 does take care of the issue.

[2016-11-21 20:39] sjelin commented on #505
Oh sorry, I was reading quickly and didn't see that you only got the weird order with zone.js

[2016-11-21 21:02] sjelin commented on #505
I actually loaded up zone.js (at 3b94918b64d3fbbe1851b2be6faf7997f8252537) on my ubuntu machine and I still get the `1 2 3 4 5 6` order.  Maybe it's just your PR that changes the order then?

[2016-11-22 01:32] JiaLiPassion commented on #505
yes, it seems the patch change the order... I'll check it to find why..

[2016-11-22 09:44] poupougnac opened #511 "0.7.0 is breaking my angular project"
Hi,

If I switch to 0.7.0, I get this error :
[code]
Online demo of the issue : https://embed.plnkr.co/ZeZKQ8/

[2016-11-22 10:28] jahtalab opened #512 "Newrelic readme note"
Could you please provide more info about this note in the readme: "If you're using newrelic make sure you import newrelic first as it patches global.Promise before zone,js does"

What is the issue exactly?
Can we do something so that zone.js can simply be loaded before any other script?
It is really hard (and in some cases impossible) to get the order of execution right, when there are special cas

[2016-11-22 10:39] jahtalab commented on #489
The problem is not specific to "walkme", this can happen whenever a script with a different origin is added to the page.

Also this can't be desired behaviour, since zone.js is patching the browser API and while doing so it should not violate security rules, like accessing a script from another origin.

[2016-11-22 12:34] jahtalab opened #513 "Configuring Root zone"
Is there a way to configure `onScheduleTask` and `onInvokeTask` on the root zone?
Or other interceptions for that matter?

[2016-11-22 14:27] DuneWorm commented on #511
Getting the same error... It took me forever to figure out that it's 0.7.0...

[2016-11-22 15:58] gdi2290 commented on #512
This is just how to the two libraries are designed. They both money-patch globals for their own reason. Meteor also did this in the past so it's just something everyone has to deal with until Zone becomes a standard or if there is a flag introduced into Node that will support Zone.js natively. Newrelic can introduce a zone.js version that takes advantage of zone.js rather than their own system for

[2016-11-22 16:05] gdi2290 commented on #411
if you try again with 0.6.27 and latest version of typescript 2.x.x you should be good

[2016-11-22 16:06] #226 closed

[2016-11-22 20:06] jahtalab commented on #512
@gdi2290 ,
Thanks for your reply.
So the issue only exist on Node and not on browsers?
Also, Could you please provide more detail why loading Zone.js after newrelic is resolving the issue?

[2016-11-22 20:26] gdi2290 commented on #512
the same thing happens in browsers. If there is anything patching Promises/setTimeout etc you have to include it before zone.js that way zone.js is able to wrap them for angular to track async calls.

for newrelic they also patch Promises and you can see it here.
https://github.com/newrelic/node-newrelic/blob/master/lib/instrumentation/promise.js

you can also create an issue with newrelic and ask

[2016-11-22 22:38] antonyRoberts opened #515 "0.7.1 Breaking Error"
Upgrading to zone 0.7.1 from 0.6.26, with @JiaLiPassion zone-node file, breaks app on start with

TypeError: Error.captureStackTrace is not a function.

[nodemon] to restart at any time, enter `rs`
[nodemon] watching: C:\apps\UniversalMaterialBreak\dist/**/* src/index.html
[nodemon] starting `node dist/server/index.js`
C:\apps\UniversalMaterialBreak\node_modules\depd\lib\compat\index.js:39
  Error

[2016-11-23 03:07] JiaLiPassion commented on #515
[zone-node.js.zip](https://github.com/angular/zone.js/files/608041/zone-node.js.zip)

it seems ZoneAwareError not inherit captureStackTrace method, I made a pull request #516 to fix this one. you can use the attched zone-node.js for test.

[2016-11-23 06:43] ocombe commented on #89
Any chance we could get this @mhevery ? This is a basic functionality that is implemented in all the other angular repositories, and given that you use conventional commits it shouldn't be too difficult to setup.

[2016-11-23 13:41] JiaLiPassion commented on #505
I write code like following , the order is still correct.
So I think maybe the Zone.js patch jasmine cause the incorrect order.

`require('./zone-node.js');
var nativeNextTick = process.nextTick;
process.nextTick = function() {
  var args = arguments;
  args[0] = Zone.current.wrap(args[0], 'process.nextTick');
  nativeNextTick.apply(this, args);
}

var p = (c) => { return Promise.resolve().then(c)

[2016-11-23 14:47] John0x commented on #484
Any updates on this?

[2016-11-23 14:49] JiaLiPassion commented on #484
This has been fixed, you can use the latest zone.js 0.7.1 to test.

[2016-11-23 14:53] antonyRoberts commented on #515
After your patch getting

  var file = callSite.getFileName() || '<anonymous>'
                      ^

    at callSiteLocation (C:\apps\UniversalMaterialBreak\node_modules\depd\index.js:252:23)
    at depd (C:\apps\UniversalMaterialBreak\node_modules\depd\index.js:112:14)
    at Object.<anonymous> (C:\apps\UniversalMaterialBreak\node_modules\express\lib\router\index.js:21:32)
    at Module._compi

[2016-11-23 14:59] #484 closed

[2016-11-23 16:18] JiaLiPassion commented on #515
yes, we should also patch prepareStackTrace, you can
try this one.

[zone-node.js.zip](https://github.com/angular/zone.js/files/609344/zone-node.js.zip)

[2016-11-23 19:22] sjelin commented on #505
Oh yeah, I wasn't running inside jasmine. That could be it.

[2016-11-23 20:27] sjelin commented on #505
I did some experimentation:
* I also get the wrong order when I put my tests within zone.js's jasmine tests
* The order is fixed when I comment out https://github.com/angular/zone.js/blob/master/test/test-env-setup-jasmine.ts#L10
* The order is broken again if I `require('../../lib/jasmine/jasmine')` in the spec file, directly before the `it()` block which uses `process.nextTick`
* However, if I m

[2016-11-23 20:42] sjelin commented on #505
Found the problem: https://github.com/angular/zone.js/blob/master/lib/jasmine/jasmine.ts#L132

As you can see, the jasmine patch runs the tests within a microtask, which therefore makes the microtask queue the active queue, which is why microtasks are being run before `nextTick` callbacks.  I don't actually think this is a problem.

[2016-11-23 23:50] JiaLiPassion commented on #505
Yeah! That is the problem, so the order should be correct in real code.

[2016-11-23 23:59] JiaLiPassion commented on #511
I think 0.7.1 has fixed this issue.

[2016-11-24 00:58] mhevery commented on #89
Yes we should. Could you set it up and create a PR?

[2016-11-24 03:33] sjelin commented on #505
Yeah, I say we go with your original suggestion for how to patch

[2016-11-24 03:35] JiaLiPassion commented on #505
Yeah, I have make a PR #516, and add several cases.

[2016-11-24 08:18] ocombe commented on #89
Done: https://github.com/angular/zone.js/pull/517 :)

[2016-11-24 14:18] KrauseStefan opened #518 "Incompatabile with nodejs 6.9.1: makeZoneAwareRemoveAllListeners addes 'undefined' arguments to real removeAllListeners calls"
zone.js wrappes the removeAllListeners call from node.js but breaks compatibility with the real version.

This happens because zone.js parsed undefined arguments to the real call when none should be.
This causes the line highlighted below to fail since node.js tests on arguments.length

link to the faulting line in utils.ts:
https://github.com/angular/zone.js/blob/master/lib/common/utils.ts#L293

[2016-11-24 14:31] JiaLiPassion commented on #518
Thank you for finding the bug, I will make a PR to fix this issue.

[2016-11-24 21:22] KrauseStefan commented on #518
No problem, I guess we are quite a few people who needs this to work properly in a node.js env, I'll have a look through your changes

[2016-11-25 08:38] JiaLiPassion commented on #505
I change the PR to use zone.scheduleMicroTask to patch the process.nextTick, so we can use zoneSpec.onScheduleTask/onInvokeTask to trace the Task lifecycle.
https://github.com/angular/zone.js/pull/516/files#diff-5451e0d148fd2cc1adaf94b9ac70c0a8R37

[2016-11-25 09:25] realtebo opened #519 "function consoleError is causing a runtime error"
[This function](https://github.com/angular/zone.js/blob/master/dist/zone.js#L389-L395) in [`zone.js` file](https://github.com/angular/zone.js/blob/master/dist/zone.js) is causing a runtime error

[code]

The problematic row is

[code]

I've no idea of what is causing this but I got this error on Firefox 50

So I don't know the cause because your function is hiding the original error causing a new

[2016-11-25 09:30] nakedcity opened #520 "ZoneAwareError captureStackTrace Node v7.2.0 not defined"
zone.js@~0.7.2
Nodejs v7.2.0

[code]

[2016-11-25 09:31] JiaLiPassion commented on #520
I have made a PR to fix this, #516.

[2016-11-25 14:42] JiaLiPassion commented on #519
can't reproduce, I tried some simple test case in FF50, can you post a test code to describe your case?

[2016-11-25 15:00] JiaLiPassion commented on #513
I don't know why zone was designed to not have a rootZoneSpec, but in my understanding, if there is a rootZoneSpec just like your PR #521, everybody can modify the rootZoneSpec so the whole system may have unstable behavior.

for example,

you app have 2 modules,
moduleA will set rootZoneSpec.onHandleError to output log, moduleB will set rootZoneSpec.onHandleError to do other stuffs. That will cau

[2016-11-26 09:02] adros opened #522 "incorrect environment detection in nw.js"
Module `lib/common/utils.ts` incorrectly sets variable `isBrowser` to false when used in nw.js (because `isNode==true` because global variable `process` exists).

This causes that WebSockets are not correctly patched (and possibly other problems as well).

[2016-11-27 08:44] jahtalab commented on #513
I think this feature expands zone.js' use cases, like this one #422 ,
In my case I need to be notified about every event for performance analysis, and I can't run the whole page inside a zone.

Also, even without this change there's the possibility of monkey patching root zone, (or even monkey patching browser api directly for that matter).

In regards to going into an unpredictable state, I think

[2016-11-28 02:06] JiaLiPassion commented on #513
yeah, I agree with you, in fact , I need such kind of feature too. I have a suggestion that should we remove rootZoneSpec from global after the rootZone has been created?

In your PR, the code like this, after rootZone created, delete it from global so no other code can access it from outside expect who created it.

[code]

[2016-11-28 08:39] jahtalab commented on #513
@JiaLiPassion , Good call 👍  , Done.

[2016-11-28 08:59] realtebo commented on #519
The specific case is triggerred from a missing declaration for service in the app.module.ts file as 'provider'.

Ok, this is MY error, as a developer, but I think it's an issue about your .js code because it's not right to generate an error when trying to explain an error to the developer. right?

Thanks for your excellent work.

[2016-11-28 10:05] JiaLiPassion commented on #519
Yeah, you are right, if you could post your repository, I would like to look into it and find out why zone.js report such error.

[2016-11-28 13:38] realtebo commented on #519
Sorry, I can't, but it's VERY VERY simply to reproduce the error.

- create a new angular 2 project
- create a 'doing nothing' service
- import it into your app component
- inject it into app constructor
- import it into app module
- DO NOT declare as provider in `@NgModule` declarator
- ng serve

The app will build without any warning (and is is a fault of ng2 compiler, i think), and when you loo

[2016-11-28 13:39] JiaLiPassion commented on #519
ok, I'll check it later, thank you.

[2016-11-29 18:44] JiaLiPassion opened #525 "Zone.js patch DOM on-event handler will failed with inline event handler."
I will describe the problem with the sample code

[code]

after zone.js patched, the button's onclick will be null, if without zone.js patched, the onclick will be btnClick, the problem only occurs when I use inline event handler like above, if I use

[code]
or
[code]

the result will be ok.

It seems not the problem of Zone.js itself but the DOM defineProperty.
https://github.com/angular/zone.js/

[2016-11-30 08:41] JiaLiPassion commented on #525
I think it because inline event handler is internal-raw-uncompiled-handler, https://www.w3.org/TR/html5/webappapis.html#internal-raw-uncompiled-handler, and the event handler will not be compiled until who trigger the click event or call the onclick property.

Based on the algorithm described above, I can't figure out how to internal-raw-uncompiled-handler->Function process.  And inline event attr

[2016-11-30 08:54] code-tree opened #526 "Zone.js breaks Web Animations polyfill on iOS 7"
The Web Animations polyfill needs to catch an error to work properly on iOS 7, but zone.js is silencing that error.

The error is silenced here: https://github.com/angular/zone.js/blob/402971a5296d3f082364dac290e03fe7e1cbd038/lib/browser/define-property.ts#L91-L102

The error needs to be caught by Web Animations here: https://github.com/web-animations/web-animations-js/blob/e5e2e872b7cd9de90eba45c

[2016-11-30 14:46] #525 closed

[2016-12-04 07:52] watashiSHUN commented on #364
@nasooz I tried with your code, but it does not work: [stackoverflow link](http://stackoverflow.com/questions/39563213/using-zone-js-hooks-in-node/40798177#40798177)

[2016-12-05 19:20] teone commented on #446
Still having the same issue with:
- Chrome Version 54.0.2840.98 (64-bit)
- Zone.js Version 0.7.2

<img width="1399" alt="screen shot 2016-12-05 at 11 17 33 am" src="https://cloud.githubusercontent.com/assets/3929466/20898788/7aa5d6d4-badc-11e6-8541-48083175b020.png">

No error is shown on the console...

Replacing
[code]
with
[code]
seem to fix the issue, any help?

[2016-12-05 23:48] JiaLiPassion commented on #520
It has been fixed, you can use the newest version to test.

[2016-12-05 23:54] JiaLiPassion commented on #519
I tried the step above, I declare a service and do not declare provider, the error will be like following

So could you provide your package.json?

[2016-12-05 23:55] JiaLiPassion commented on #518
It has been fixed, you can use the newest version to test.

[2016-12-05 23:55] JiaLiPassion commented on #515
It has been fixed, please use the newest version to test.

[2016-12-06 07:43] rihabesx commented on #502
@tsukhu getting the same error on ie11.
Did you find a solution for this?

[2016-12-06 08:10] mlmassey commented on #287
@mhevery I ran into this same issue while working with Mapbox-gl integrated into our app.  Unfortunately, when the exception gets thrown, the app becomes unusable.  I tracked this down to promise chains not resolving after the exception is thrown.  I followed the recommendation of removing the line that throws the exception, although I don't feel comfortable about it, but it does remove the proble

[2016-12-06 08:37] petewalker commented on #446
@teone - please see my comment above: https://github.com/angular/zone.js/issues/446#issuecomment-250468351
Whilst that does remove the problem, it introduces a side-effect, sending another GET request to the current page.
Non-essential HTTP requests would be bad for people on mobile data connections, or for pages where accessing them have other side effects.

[2016-12-06 11:31] JiaLiPassion commented on #287
It seems that readystatechange eventhandler was added multiple times, https://github.com/angular/zone.js/blob/master/lib/browser/browser.ts#L66, I'll make a PR to fix it.

[2016-12-07 04:38] mlmassey commented on #287
@JiaLiPassion I confirmed your change fixes the issue that I see.  I'll be eager to see your fix merged in so I can use it.
Note, I still think it's not wise to have the exception in the code unless there is some proper way to properly handle it.  Is it possible to remove this and gracefully handle the condition?

[2016-12-07 05:58] JiaLiPassion commented on #287
@mlmassey thank you for confirm the issue, I think the error code means it should never be executed, if such kind of error occurs, something must be wrong and not recoverable (running task is much more than scheduled task). So I think we should make sure that all bugs are fixed so the code will never run.

[2016-12-07 08:39] TO-mkegler commented on #519
Could this be a browser specific issue? I had the same errors (Error: Permission denied to access property "rejection"). Just now I was starting my app in chrome instead of firefox for the first time and I get a "real" error message ("Cannot read property 'length' of null", in this case). So maybe you could look into that?!

[2016-12-07 18:19] JiaLiPassion commented on #519
Still can't reproduce, if you guys can provide a repo or plunker to reproduce it, I can look into it, thank you.

[2016-12-08 03:58] JiaLiPassion opened #530 "More tasks executed then were scheduled error when xhrrequest a invalid url."
The issue can be described as following case.

[code]
the demo is in this plunker[plunker demo](https://plnkr.co/edit/Bzp4TMIlW3tRoHDeUcoV?p=preview)

When the open url is invalid or cors disallowed, the "More tasks executed then were scheduled" will be thrown, it may related to issue #287, and the reason is
https://github.com/angular/zone.js/blob/master/lib/browser/browser.ts#L77,
when request to

[2016-12-08 08:56] VorgaT1339 commented on #446
Using same setup as **teone** I can confirm that issue still exists. Very annoying.

[2016-12-08 21:39] vicb opened #532 "Run ts-lint as part of the CI"
see #13316

- catch syntax errors,
- catch formatting errors (clang-format)

[2016-12-09 00:53] DevWurm opened #533 "zone-node does not trigger change detection in Angular-CLI projects since version 1.0.0-beta.20"
I use Angular 2 in Electron and created [this](https://github.com/DevWurm/electron-explorer) little sample app, with version 1.0.0-beta.19-3 of the Angular-CLI. In this case the change detection of data, which are altered through Node core functions (fs.readdir) work absolutely fine, when using the zone-node polyfill.

When I tried to build the same app with version 1.0.0-beta.20-4 of the CLI the

[2016-12-09 23:14] JiaLiPassion commented on #533
the repo you provide is the correct one, could you provide the package.json of the problematic one?
And please describe how to reproduce the error, so we can look into it. thanks.

[2016-12-10 01:19] matthewloring commented on #337
v5 is no longer supported and v6 seems to be working now. Closing this.

[2016-12-10 01:19] #337 closed

[2016-12-10 09:27] marcovdb opened #535 "window.addEventListener is undefined in IE right after opening new window"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
In one part of my application I open up a new window using window.open, but I want to attach some code to the window's beforeclose event (because I need to refresh some data on the page). Window.open returns a reference to the window object, but in IE if I access the reference right after opening the window the addEventLis

[2016-12-10 12:18] JiaLiPassion commented on #535
I don't think it is a zone.js issue, the problem only occurs in plunker, in local it is ok, and in plunker, if you setimeout a little more longer, the listener1 will be ok, it seems window.open in plunker will return a not fully loaded window object, after 500ms, the window object is ok.

[2016-12-10 23:19] marcovdb commented on #535
I think you're right. I had tested it locally without Zone.js so assumed "Zone.js issue", but locally even with Zone.js the problem doesn't occur. Apparently it just takes IE a while to get the new window (when the content is loaded from a remote server) in a state where events can be added. Weird that no one else would run into this issue, though. I spent tons of time googling it but haven't foun

[2016-12-10 23:19] #535 closed

[2016-12-11 12:35] marcovdb opened #536 "Notifications API is not covered by Zone.js"
The [Notifications API](https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API) is not covered by Zone.js - meaning, if I initiate a notification from a zone and attach an function to the notification's onclick event, this function is not executed in the current zone.

I originally opened this as an Angular issue (https://github.com/angular/angular/issues/12624) but I was asked to reop

[2016-12-11 12:48] robwormald opened #537 "Implement electron-zone"
Electron uses both browser and some node APIs (EventEmitter, etc), and events fired by electron APIs (MenuItem, for example) cause angular to drop out the zone. Ref https://github.com/angular/angular/issues/13363

We should implement an electron zone patch, that combines the browser APIs as well as a subset of the node APIs available to electron.

[2016-12-11 12:49] JiaLiPassion commented on #536
Sure, several other apis are not in zone now, I would like to make a pr to implement it.

[2016-12-11 13:24] JiaLiPassion commented on #537
I tried the issue in this [repo](https://github.com/pamtbaau/ng2-webpack-electron-menu-routing-failing-change-detection), but can't reproduce. But I think current zone.js did not patch browser and node.js at the same time, just like #524 maybe the same issue in electron. Could you provide a reproduce step?

[2016-12-11 13:25] robwormald commented on #537
@JiaLiPassion navigate via the menu at the top of the screen:
<img width="522" alt="screen shot 2016-12-11 at 10 25 07 pm" src="https://cloud.githubusercontent.com/assets/534930/21080374/b3c20e92-bff0-11e6-94bf-549f0c02c35d.png">

[2016-12-11 13:26] JiaLiPassion commented on #537
@robwormald Yes, I did that , and the page just switched and click to increase value works.

[2016-12-12 13:34] christophmegusta commented on #455
Is there any solution yet to this problem? We are suffering the same fate as we are trying to use ngUpgrade with a existing ng1 application which is using Bluebird.

[2016-12-12 14:46] davidich opened #538 "Wrong currentZone value inside of onInvoke hook"
Hi, there.

According to comments I found in zone.ts file, onInvoke hook has to receive currentZone as second parameter:

`/**
   * Allows interception of the callback invocation.
   *
   * @param parentZoneDelegate Delegate which performs the parent [ZoneSpec] operation.
   * @param currentZone The current [Zone] where the current interceptor has beed declared.
   * @param targetZone The [Zone] w

[2016-12-12 14:53] danday74 commented on #355
I am hitting this error with ...

import 'rxjs/add/operator/timeout';

return this.http[method](url, emit, this.options)
        .timeout(Config.http.timeout, new Error('timeout'))

If i remove the HTTP timeout the prob goes away (but I want the HTTP timeout).

I confirm that I am using async to wrap my test. This is surely bad behaviour and NOT ME!

[2016-12-12 15:31] danday74 commented on #355
confirmed this was fixed by switching to Jasmine's done which seems more intelligent than it used to.

[2016-12-12 15:35] andreasrueedlinger commented on #455
@lorenzodallavecchia How do you apply your patch in a SystemJS environment? Could you help me with that?

[2016-12-12 15:53] SplayConsulting commented on #446
Yes, same issue for me too, very annoying

[2016-12-12 16:00] JiaLiPassion commented on #538
It seems a bug when currentZoneSpec has not onInvoke callback or maybe zone.js designed that way, I'll confirm it, thanks for posting the issue.

[2016-12-12 16:12] lorenzodallavecchia commented on #455
@andreasrueedlinger The project that I am migrating from Angular 1 does not use any module loader yet: it is just including the angular UMD bundles as browser globals (`script` tags) so it is enough to include the patch after the Zone UMD bundle but before Angular's.

Eventually I am planning to adopt a module loader (still undecided between System.js and WebPack).
A possibility for System.js woul

[2016-12-12 16:24] petewalker commented on #446
Having look at this again, I'm pretty sure the call to `fetch` is there to allow patching of the `.then` method with Zone.js's own. To get access to the function to override it, they're making a dummy call to `fetch`. However, it doesn't look like there's a side-effect free way to do that in Chrome that's catchable when it throws an error. I think this has to be "fixed" upstream in Chrome.

[2016-12-12 16:34] wizarrc commented on #446
@petewalker Do you think it's possible to lazy patch it on first use of fetch? If that were possible, as soon as a fetch is called, do the patch and make the legitimate live fetch call. Not sure how that would work though.

[2016-12-12 17:04] petewalker commented on #446
@wizarrc Potentially. The only simple way I can think to do that would be to create a wrapper method for `fetch`. i.e.

[code]

I'm not that acquainted with the inner workings of Zone, so I'm not sure what implications something like this would have are. I suspect that by the time the promise is run it's already too late?

---

The really interesting thing is that the patching of the fetched `Prom

[2016-12-12 20:15] wizarrc commented on #446
@petewalker I had this problem previously before TypeScript 2.1 when I needed async await support to compile down to es5. In order to unlock this capability, I had to enable babel in the pipeline, which had to be loaded before zone.js. The pipeline was TypeScript (target es6) -> Babel (target es5) -> javascript. I believe the first thing that babel library did was override the Promise implementati

[2016-12-12 21:04] alsh76 commented on #287
same error in 0.7.2. like @garethdn I am using  Marketo tracking plugin.
my question is the workaround
[code]
safe enough?

[2016-12-12 23:12] JiaLiPassion commented on #287
@alsh76 no, I don't think comment out the error thrown code is safe, maybe the update count part's behavior will be ok with such workaround, but the real reason cause next <0 will get other problem. for example the xmlhttprequest addEventListener was triggered multipletimes may cause same handler logic run multipletimes.

So in my understanding the error part is really a mechanism to avoid further

[2016-12-13 08:49] andreasrueedlinger commented on #455
@lorenzodallavecchia Thanks for your help. It seems to be a bit more complex in my case! I am using electron with sequelize and angular2. For angular I am using systemjs but for the native modules I have to load it using the native module loader. The problem is now that sequelize does not use the global `Promise` which could be patched but imports the bluebird Promise internally and applies some m

[2016-12-13 08:56] JiaLiPassion commented on #455
@andreasrueedlinger you can try this one, we use sequelize too, and we use this code to make zone work with sequelize.

[sequelize zone patch](https://github.com/sequelize/sequelize/pull/5536)

The newest comment is the working code.

[2016-12-13 09:32] andreasrueedlinger commented on #455
Nice, thanks!

[2016-12-13 10:11] JiaLiPassion commented on #455
I'll make a pull request to make a bluebird patch just like the [sequelize zone patch](https://github.com/sequelize/sequelize/pull/5536) but without import shimmer.js.

[2016-12-13 10:15] PCASME commented on #490
+1

[2016-12-13 11:34] mkdynamic opened #540 "The "typeof element.oninput" changes with Zone.js (object vs. function)"
Test case to reproduce:

[code]

This outputs the following:

[code]

This breaks Modernizr’s feature detection for "oninput" (it assumed a function type):
https://github.com/Modernizr/Modernizr/blob/master/feature-detects/event/oninput.js#L29

[2016-12-13 14:01] JiaLiPassion commented on #540
after zone.js, the function become object because it will be null.
I found the same issue in #525, and I found a solution recently, I'll make a PR to fix it.

[2016-12-13 15:21] realtebo commented on #519
Here it is: https://plnkr.co/PEtwUxCEsVfuVrwCKZBT

When runned in firefox, i got in the console the error "Error: Permission denied to access property "rejection""

When runned on chrome I ggot a lot of more descriptive infos

[2016-12-13 15:27] JiaLiPassion commented on #519
@realtebo I use your plunker, the error is "No provider for TestService", my firefox version is 50.

[2016-12-13 15:37] realtebo commented on #519
Now I undestand !

I'm using Firebug, as you can see. If I watch directly the console, I can see the 'right' error in the native console. (Ctrl + Shift + k) but not in Google Chrome.

So I close this issue because is not related to you

[2016-12-13 15:37] #519 closed

[2016-12-13 16:41] nakedcity commented on #520
I updated and I'm getting back the error Error.captureStackTrace is not a function

[2016-12-13 16:44] JiaLiPassion commented on #520
It is not merged into dist folder yet, so you have to clone the zone.js and build for yourself, if you want, I can provide you a attached file for test.

[2016-12-13 16:47] nakedcity commented on #520
I tried your branch did not work is the dist folder also in yours not build?

[2016-12-13 16:48] JiaLiPassion commented on #520
The dist folder will not be committed, you should run
[code]

[2016-12-13 17:38] nakedcity commented on #520
I will wait till is in dist thanks

[2016-12-13 21:08] DevWurm commented on #533
Excuse my incorrect information and the late answer, I will update the original Issue

[2016-12-14 13:11] linusbrolin commented on #520
@JiaLiPassion When do you plan on updating npm with this fix?

As it is right now, I cannot use angular2-universal, specifically angular2-universal-polyfills, because of this bug.
I've tried mapping the path in system.config.js to a copy of the pre-built zone-node.js file you provided in https://github.com/angular/zone.js/issues/515, but cannot get it to work, so for now I would have to make a cop

[2016-12-14 14:23] JiaLiPassion commented on #520
sorry, I have permission to update the npm version, please wait a little longer , the pr has been merged, so there should be a minor version update soon.

[2016-12-14 17:58] berwyn commented on #156
Is there any momentum on this? `zone.js@0.7.2`, `@angular/*@2.1.4` and `jsdom@9.8.3` fails when running tests via jest and I'd like to avoid rewriting my existing suite if at all possible

[2016-12-14 21:46] mhevery commented on #156
Would love to have A PR for this.

[2016-12-15 01:34] poxrud commented on #489
This only happens with Firefox addons that try to insert a <script> tag that points to an external cross-domain script. I doubt that these addons would pass the Firefox Add-on Review Process.

[2016-12-15 05:39] JiaLiPassion opened #544 "add --reconnect <seconds> in sauce_connect_setup.sh to avoid travis build timeout"
When run travis build, connect to sauce lab sometimes may cause a long long time(50 mins),  for example, this [build](https://travis-ci.org/angular/zone.js/builds/184103391) , and in most time if we trigger another  travis build, it will be success. So should we just like sauce reconnect in sauce_connect_setup.sh itself with --reconnect <seconds>?

[2016-12-15 14:53] RicardoVaranda commented on #530
Can confirm having this issue recently also.

[2016-12-15 14:59] michaelbromley opened #546 "v0.7+ - custom Error classes do not work as expected"
**Zone.js version:** 0.7.2

**Setup:**
[code]

**Expected:** logs `true`
**Actual:** logs `false` - `error` is an instance of `Error`, rather than `MyError` when zone.js is loaded in the app.

**Demo:** https://plnkr.co/edit/kSKVeuhIrMcluK1D9JSl?p=preview
Look in the console to see the erroneous behaviour, and then comment out the script tag including zone.js; and the correct behaviour will be obs

[2016-12-15 15:52] DevWurm commented on #533
I did some more research about the problem:
It works flawlessly with version `1.0.0-beta.19-3` of the CLI
Version `1.0.0-beta.20-1` and `1.0.0-beta.20-2` don't work at all (can't create new projects) and Version `1.0.0-beta.20-3` as well as the latest Version `1.0.0-beta.22-1` work without change detection.
[Here](https://gist.github.com/DevWurm/521c29d7596092c366a6b8d74ec529a8) you have the `pack

[2016-12-15 16:20] Swiip commented on #156
I tried to write a patch for jsdom some times ago and it could work but I don't have the skills to make  a real PR of it: https://github.com/tmpvar/jsdom/pull/1610

[2016-12-16 07:12] iFadey commented on #287
@alsh76 Version 0.7.2 doesn't have that fix.

https://github.com/mlmassey/zone.js/blob/v0.7.2/lib/zone.ts#L869

[2016-12-16 12:27] JiaLiPassion commented on #546
The reason is ZoneAwareError override the global Error so the error prototype is NativeError's prototype, I would like to try to fix this one.

[2016-12-16 16:38] alsh76 commented on #287
So what would be the best workaround for the issue? I do not want to modify
http://munchkin.marketo.net/151/munchkin.js

[2016-12-17 00:15] mhevery commented on #287
Could someone create a plunker which demonstrates the issue. None of the plunkers listed reproduce the issue for me.

[2016-12-17 00:20] JiaLiPassion commented on #287
@mhevery here is the plunker
[case1](https://plnkr.co/edit/wwFKDuJTEy7WlbaIzmjD?p=preview)
[case2](https://plnkr.co/edit/Bzp4TMIlW3tRoHDeUcoV?p=preview)

[2016-12-17 18:20] JiaLiPassion commented on #156
Is there a repo to reproduce? I run the angular2 in zombie simply get a error 'TypeError: Parameter "url" must be a string, not object'

[2016-12-18 18:03] #287 closed

[2016-12-18 18:03] #530 closed

[2016-12-18 18:08] mhevery commented on #513
Sorry, but this is by design. RootZone should be indistinguishable for no zone at all. This requirement is here so that if we standardize the Zones in TC39, the browser vendors will not have to pay the cost for all of the applications. All zones must be entered explicitly.

[2016-12-18 18:08] #513 closed

[2016-12-18 18:10] #522 closed

[2016-12-18 18:20] #544 closed

[2016-12-18 18:27] #540 closed

[2016-12-18 18:34] alsh76 commented on #287
This fix did not resolve the conflict with Marketo tracking plugin. same error

[2016-12-19 05:54] JiaLiPassion commented on #287
@alsh76
could you give me a simple reproduce step?

[2016-12-19 10:12] tsukhu commented on #502
@rihabesx yes - it turned out to be related to the index.html where the webpack-dev-server.js needed to be loaded in the end .. I had added some other js files after it. I moved this to the end and it resolved the issue (BTW: I am using a fork of the AngularClass webpack starter project)
 <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>

[2016-12-19 16:42] dcabrera22 opened #551 "vaadin 7.7 with zone js -"
Hello. I have a problem with zone.js.
I am using Liferay portlets. In one portlet I had a vaadin portlet and in other portlet i have a portlet portlet who use zone js.

Using the vaadin portlet (for example clicking a button) in some cases i got a "Converting circular structure to JSON". Stack:

GMT-300 2016 com.vaadin.client.ApplicationConfiguration
SEVERE: (TypeError) : Converting circular struc

[2016-12-19 23:54] alexeagle opened #553 "Closure compiler broken at head"
My last commit made zone work with  https://github.com/alexeagle/closure-compiler-angular-bundling
(And we use closure compiler in google3)
We need a CI test to avoid making zone.js changes that break it.

Currently we get an error around here:
[code]

[2016-12-20 05:29] JiaLiPassion commented on #551
could you provide a repo or plunker to reproduce the issue?

[2016-12-20 05:50] JiaLiPassion commented on #533
@DevWurm, Thank you, I will try to debug it.

[2016-12-20 14:01] filipesilva opened #554 "Unhandled Promise rejection: TypeError: Cannot set property 'name' of undefined"
Using `zone.js@0.7.3`, Angular 2 `routerLink` does not work properly whereas with  `zone.js@0.7.2` it did.

Here is a repro plunker: https://plnkr.co/edit/SYPR2SRi0xayQ693jJAB?p=preview
It is a simple list with a couple of links. Clicking on any link breaks the app with the following console error:
[code]
In `index.html` if you revert `https://unpkg.com/zone.js@0.7.3` to `0.7.2` the app works agai

[2016-12-20 14:05] KrauseStefan commented on #518
I finally got around to verify this one, yes this issue is gone, but I have a new one now. Will create a new issue for this.

[2016-12-20 14:05] #518 closed

[2016-12-20 14:09] JiaLiPassion commented on #554
@filipesilva , sorry, it is my mistake, I didn't return this in PR #547, I'll make a PR now.

[2016-12-20 14:14] filipesilva commented on #554
@JiaLiPassion if I understand your PR correctly, it should only affect errors themselves. This scenario should not result in an error at all though, since it worked with `0.7.2` without throwing errors.

[2016-12-20 14:33] dcabrera22 commented on #551
Hello.
I couldn't share on plunker (vaadin use java)
I send you a zip with the code (with maven compile) and a link to test in our test server.
http://o3case.ideasoft.biz/test/?debug=true

I hope you could help me.
Thank you
Diego

[test.zip](https://github.com/angular/zone.js/files/663925/test.zip)

[2016-12-20 14:35] KrauseStefan opened #555 "Zone.js Does not support creating Error objects without new oberator"
When running protractor with angular2 Dependency injection and therefore using zone.js I get the following error:
[code]

The line producing errors in zone.js: https://github.com/angular/zone.js/blob/610649b77f2a4403c941fcccad39a0d8cba89593/lib/zone.ts#L1320

Example of a place where Error is called without new: https://github.com/SeleniumHQ/selenium/blob/ba56ad1ae0b98a1fe1efdd2163c62fc847950178/j

[2016-12-20 14:55] JiaLiPassion commented on #555
I think it is my mistake, I didn't return this in PR #547, I'll make a PR now.

[2016-12-20 17:07] KrauseStefan commented on #555
I was trying to fix this as well, it seems that the issue does not reproduce normally in the test environment.
Apparently `"use strict"` is not applied there.
This defect does not reproduce unless it is there.

Have a look at my commit here: https://github.com/KrauseStefan/zone.js/commit/f867d2d066efe0ff62a98036951f112920bf0810

I'm not sure how you would like to fix the issue that test env does n

[2016-12-20 17:42] chuckjaz commented on #546
Re-opening this bug as the fix was reverted.

This change broke an assumption that calling `Error` directly is valid and, in particular, broke rxjs. See https://plnkr.co/edit/SYPR2SRi0xayQ693jJAB?p=preview for an example of the break.

[2016-12-20 18:13] chuckjaz commented on #554
This has been fixed with 0.7.4

[2016-12-20 18:13] #554 closed

[2016-12-20 18:25] JiaLiPassion commented on #555
@KrauseStefan , yeah, without use strict, this will be global, and with use strict, this will become undefined. I just try to add some logic to deal with it.

[2016-12-20 20:22] sstone1 opened #560 "patchTimer causes errors in jszip"
I am using Angular 2 + webpack + [jszip](https://github.com/Stuk/jszip).
jszip has a dependency on `core-js` and `es6-promise` which may be relevant.
When I attempt to use jszip in this configuration, I see this error:

[code]

The error is thrown from this code:

[code]
[code]

Changing the code to `if (handle && handle.ref && handle.unref) {` fixes the problem with no obvious side effects.

[2016-12-21 07:22] JiaLiPassion commented on #560
could you provide a repo or plunker to reproduce this issue?

[2016-12-21 10:06] JiaLiPassion commented on #551
I think the reason is that the JSON.stringify will convert a object which has the eventhandler as ZoneTask, and JSON.stringify ZoneTask will cause  circular structure error.
Because the test.vaadin.view.ViewDashletWidgetset-0.js is generated, so I don't know how to modify it....

[2016-12-21 12:56] esase commented on #446
So what exactly should I do for fix that exception?

[2016-12-21 14:43] dcabrera22 commented on #551
Hello. Thanks for answer.
I could change vaadin compilation to generate better js.
You could see here: http://o3case.ideasoft.biz/test/?debug=true

Another thing I try was..... comment the patchTimer for the "timeout" in zone.js.
And it's look that vaadin work well for a while. And doesn't see any problem in angular app.

Thanks again.
Regards
Diego

[2016-12-21 20:08] krassx opened #561 "Wrong zone is returned as current inside async.js callback"
I am trying to use Zone.js in my NodeJS Express app and facing an issue with wrong zone being returned as current when requested inside async.js callback. I mostly use async.series and in some cases async.waterfall and both are affected. THe only thing that helps is wrapping callbacks with `Zone.current.wrap()`, which is definitely neither elegant nor productive way as one could easily miss that w

[2016-12-22 06:47] jsyrjala opened #562 "CHANGELOG.md is missing latest releases"
Currently the newest documented release in CHANGELOG.md is 0.7.1 (2016-11-22). According to https://www.npmjs.com/package/zone.js the latest release is 0.7.4.

[2016-12-22 06:48] JiaLiPassion commented on #561
Could you provide sample code or plunker to describe the issue?

[2016-12-22 12:59] blueskyfish commented on #554
Hi Guys,

Thanks for the solve of the zone.js in version 0.7.4. 👍 :-)

[2016-12-22 13:45] akshaal opened #563 "fake-async-test is broken for setTimeout(f, stringDelay)"
core-js uses the following signature for setTimeout:
`function setTimeout(handler: any, timeout?: any, ...args: any[]): number;`

fake-async-test assumes that delay is always numeric:
`scheduleFunction(cb: Function, delay: number, args: any[] = [], id: number = -1): number {`

If, for example, you have a code like:
`setTimeout(() => setTimeout(() => console.log("Hello world"), 0), "2000")`
everyth

[2016-12-22 14:27] haia212 commented on #515
I have the same issue and the last update of zone-node.js doesn't correct it. (I use zone.js@0.7.1 with the zone-node.js replaced by the last one you sent)

The stacktrace I currently have is :
[code]

Do you have a fix ?

I also try update to zone.js@0.7.4 but the `npm install` failed with `UNMET PEER DEPENDENCY zone.js@0.7.4`

[2016-12-22 15:12] JiaLiPassion commented on #515
@haia212, I will try the repo to test it again.

[2016-12-22 17:55] sstone1 commented on #560
Am working on a cut down recreate repo.

[2016-12-22 18:15] sstone1 commented on #560
https://github.com/sstone1/zone.js-issue-560

`npm install && npm start`
Open up the web page in a browser: [http://localhost:3000](http://localhost:3000)
Observe the following error:

[code]

Problem is triggered by the code here:
https://github.com/sstone1/zone.js-issue-560/blob/master/src/app/app.component.ts#L76

[2016-12-23 05:39] krassx commented on #561
After a more precise look and dozens of checks I found out that context is lost in mongodb callbacks.

[2016-12-23 05:39] krassx commented on #561
Will create a code sample to demonstrate this issue

[2016-12-23 07:39] JiaLiPassion commented on #560
thank you for the demo, I think the problem is not zone.js, but the browserfy library
[code]

this library also monkey-patched setImmediate, but not return a timerId, I think it break the API that setImmediate should return a timerID handle for clearImmediate.

[2016-12-24 14:36] JiaLiPassion commented on #515
@haia212, I have tried the repo provide by antonyRoberts [here](https://github.com/antonyRoberts/UniversalMaterialBreak) is ok in my environment (with zone.js 0.7.4), could you provide your test repo?

[2016-12-26 13:09] JiaLiPassion commented on #551
@dcabrera22, thanks for the reply, and If you can modify the generator, maybe you can do some check when stringify ZoneTask.

[2016-12-26 13:17] dcabrera22 commented on #551
Hello.
Which generator? vaadin generator? I don't touch the vaadin generator. I only could change the "vaadin-maven-plugin" in the pom.xml to say vaadin that generate script with more detailed.

Or do you say touch something in the zone.js?

[2016-12-27 09:42] JiaLiPassion opened #566 "Should add precommit hook to do tslint/format/karma/node test"
Before we commit with git in local, we should precheck

- tslint
- format
- karma
- test-node

to make sure everything is fine.

[2016-12-28 19:08] vicb commented on #532
closed by #550

[2016-12-28 19:08] #532 closed

[2016-12-28 19:09] vicb commented on #474
will be fixed in a coming PR

[2016-12-28 19:09] #474 closed

[2016-12-28 22:29] jarzimichal commented on #434
I have tried both methods:
1. Commenting check in zone.js file
2. setting window.Zone = undefined

and my Angular2 app in SharePonint Online works fine, however that breaks the Office 365 Ribbon when I hover Settings or Profile button (top right corner). I got errors from zone.js that the method is missing:
`TypeError: $a is not a function`. Those buttons should use SharePoint Zone namespace, rath

[2016-12-29 10:10] RicardoVaranda commented on #287
@JiaLiPassion I'm getting the exact same error once I try to use Tealium which is a tag management system:

https://plnkr.co/edit/seTYkcMqHNlTu9d86AOy?p=preview

[2016-12-29 13:18] haia212 commented on #515
After some digging, (I don't understand why but) the problem come from the fact that I keep the subscription in an array to unsubscribe all my subscription onDestroy.

[code]

If I remove this subscriptions array, everything works fine.
This code outside universal works also fine.

If you have any idea why from I all hear !
Thanks !

[2016-12-29 14:50] JiaLiPassion commented on #287
@RicardoVaranda , Thank you for your demo, I will debug into it.

[2016-12-29 16:27] lifan0127 commented on #434
@jarzimichal In my case the SharePoint ribbon was still functional. However my app was built with ng2-beta + zone 0.6.13.

[2016-12-29 16:36] JiaLiPassion opened #569 "XMLHTTPRequest abort multipletimes will cause updateTaskCount incorrect"
Based on #287, and the comment from @RicardoVaranda's  [comment](https://github.com/angular/zone.js/issues/287#issuecomment-269608380), the XMLHTTPRequest will cause Uncaught Error: More tasks executed then were scheduled. The error can be described
as

[code]

The abort will be called multiple times before the request is done.
So we should add logic to verify whether the request has already been

[2016-12-29 16:50] JiaLiPassion commented on #515
@haia212, could you provide a reproduce repo?

[2016-12-31 18:33] NNemec opened #574 "update to 0.7.4 breaks Electron/PouchDB/LevelDB"
It took me close to one day to identify zone.js 0.7 as the root cause for this problem and identify a downgrade to 0.6 as possible workaround. I very much hope that someone can pick this up from here and fix the issue so that no one else has to go through the same experience:

To reproduce:
1) clone, build and run the demo from https://github.com/nolanlawson/hello-electron-with-pouchdb as document

[2017-01-01 00:16] JiaLiPassion commented on #574
@NNemec , Thank you for reporting the bug, I will try to fix it.

[2017-01-01 04:32] JiaLiPassion commented on #551
@dcabrera22 , I will make a PR to add toJSON to ZoneTask, hope it can resolve your issue.

[2017-01-01 06:14] Yaffle opened #577 "cannot assign "onreadystatechange" for XMLHttpRequest in Opera 12 in strict mode"
[code]

It seems, `canPatchViaPropertyDescriptor` defines unconfigurable `onreadystatechange` property on XMLHttpRequest.prototype.

[2017-01-01 06:22] JiaLiPassion commented on #577
@Yaffle, can you provide a reproduce repo or plunker? I can't reproduce your issue in zone.js 0.7.4

[2017-01-01 06:47] Yaffle commented on #577
@JiaLiPassion , I have updated my initialcomment to include the code of full HTML file.

[2017-01-01 07:11] JiaLiPassion commented on #577
@Yaffle, thank you, the reason is in Opera 12, XMLHttpRequest.prototype.onreadystatechange is undefined by default, I'll make a PR to let it work.

[2017-01-01 18:12] sstone1 commented on #560
@JiaLiPassion many thanks for diagnosing this and raising the issue against BrowserFS, I'll close this issue now as it doesn't belong with you guys. Everything is working fine with an alternative setImmediate implementation now.

[2017-01-01 18:12] #560 closed

[2017-01-02 03:58] JiaLiPassion opened #579 "Implement a orphan zonespec not call parentZoneDelegate's callback"
Sometimes we need a zone that run as an orphan without calling parentZoneDelegate, for example,
in the following example.

[code]

In the zoneASpec, we want to console.log something or do some other stuffs which may
be an async operation. And the new created async operation will call the onScheduleTask again
and eventually cause dead loop.  (the above sample will cause dead loop in node.js, becaus

[2017-01-02 17:10] magar91 commented on #343
adding

worked for me too, but I recently updated to the latest version of Nativescript and now this method is not working I would appreciate if this issue could be reopened, thanks in advance for any help

[2017-01-02 17:22] bdunn44 commented on #574
+1 for this issue, it breaks bcrypt as well. I personally can't downgrade to 0.6 due to #508, which breaks socket.io...

[2017-01-02 22:09] JiaLiPassion commented on #574
@bdunn44, could you please provide a repo or plunker to reproduce your issue? I am not sure my PR #575 fix your issue or not.

[2017-01-03 08:52] MrFrankel opened #581 "Overriding onreadystatechange causes Sinon.js errors"
In property-descriptor.ts, there is a function called "canPatchViaPropertyDescriptor" which overrides the default onreadystatechange and sets it as a getter which always returns true.

Other then seeming very intrusive, it seems to be causing issues with Sinon.js which tries to access it.

Is there a way to avoid this?

Thanks

[2017-01-03 08:55] JiaLiPassion commented on #581
@MrFrankel, could you provide a repo to reproduce your issue? which browser are you using? and could you check #577 is the same issue or not?

[2017-01-03 12:17] MrFrankel commented on #581
@JiaLiPassion thanks for the quick response.
Ive been trying to reproduce this issue in a plunker but cant.
It is related to #577, but happens on chrome.

Can you tell me if there is a away to avoid having the onreadystatechange set and read only?

[2017-01-03 12:59] JiaLiPassion commented on #581
you can try this patched version to see whether it resolves your issue or not.
[zone.js.zip](https://github.com/angular/zone.js/files/682252/zone.js.zip)

[2017-01-03 13:25] MrFrankel commented on #581
@JiaLiPassion works!!

when is this version released?

[2017-01-03 14:20] JiaLiPassion commented on #581
@MrFrankel , It is under review, please wait until it is merged.

[2017-01-03 14:25] MrFrankel commented on #581
@JiaLiPassion You rock!
Thanks!

[2017-01-03 19:26] bdunn44 commented on #574
I spent some time trying to reproduce the issue in a fresh project and was unable to...

A simple re-installation of bcrypt resolved the issue for me. False alarm!

[2017-01-06 05:07] inlined opened #582 "Unhandled Promise errors aren't inspectable."
I'm building a code hosting framework on Zone.js and ran into trouble with unhandled rejections. I force middleware like an error handler and try to catch any unhandled rejections or promises. I wanted to do intelligent things with that error like report the message and provide your beautifully stitched together stack trace to a debugging tool. Unfortunately the great work the longStackTraceZoneSp

[2017-01-06 17:29] #546 closed

[2017-01-07 01:28] JiaLiPassion opened #584 "Travis failed because saucelabs has drop the support for Android 4.0~4.3, and 4.4 failed because timeout"
- Sauce labs has announced that they will not support old android from 2017/1/4,
[sauce labs announcement on 1/5](https://wiki.saucelabs.com/pages/viewpage.action?pageId=67012495
), so the travis will fail
when try to create emulator for android 4.0~4.3.

- And 4.4 will also failed because there is a security warning pop up, here is the warning dialog
<img width="712" alt="2017-01-09 2 30 14" src=

[2017-01-11 06:55] johnbendi opened #588 "Property 'current' does not exist on type 'typeof Zone'"
Universal angular uses the following code snippet
[code]
which reports the above error even when using the latest `zone.js` version

[2017-01-11 07:07] JiaLiPassion commented on #588
@johnbendi, could you please provide a repo or plunker that can reproduce this error? Thanks.

[2017-01-11 07:13] johnbendi commented on #411
@gdi2290 I'm still getting this error or similar even with the latest 0.7.4

[2017-01-11 09:13] michaelbromley commented on #546
Thanks all for the fix. I can see a lot of work and thought has gone into it.

Any idea when this will be available for release? This is the only thing stopping me from updating a project which is stuck on rc.4 to the latest Angular release.

[2017-01-11 11:55] dxvladislavvolkov opened #589 "Both "pointerup" and "MSPointerUp"​​​ are triggered in IE10 and IE11 if zone.js is used"
Hello, I registered an event handler for the "pointerup" and "MSPointerUp" events. The "MSPointerUp" event is handled for IE10 compatibility and the "pointerup" event for IE11
As a result, both handlers are executed in IE11 (and IE10) if zone.js is registered on the page. 
I expect that only one handler should be executed.
You can see example [here](http://plnkr.co/edit/pXlqiPWjMjD8tussAodO?p=prev

[2017-01-11 13:20] JiaLiPassion commented on #589
Without zone.js, the event also both triggered, you can see this [plunker,](http://plnkr.co/edit/LOpxVAhnEhNPoVCTPaMp?p=preview) but maybe IE do some tricks to see whether the MSPointer handler is the same with pointerup handler, if they the same, the handler will be executed once.

And with zone.js patch, the handler are not equals even they reference the same handler.

I'm not sure whether zone.

[2017-01-11 18:34] robianmcd commented on #480
You shouldn't need to include zone.js as a commonjs module. It should work as long as it is installed in node_modules. What do you get if you don't include it as a commonjs module?

[2017-01-12 00:04] #562 closed

[2017-01-12 00:06] #566 closed

[2017-01-12 00:07] #584 closed

[2017-01-12 00:09] #569 closed

[2017-01-12 00:11] #574 closed

[2017-01-12 00:14] #551 closed

[2017-01-12 00:14] #577 closed

[2017-01-12 14:53] JiaLiPassion opened #591 "Make ZoneAwarePromise pass promiseA+ test."
I tried to make ZoneAwarePromise pass promiseA+ test. And found several issues.
The spec is [here](https://github.com/promises-aplus/promises-spec)
The testcase is [here](https://github.com/promises-aplus/promises-tests)

1. 2.2.5
`onFulfilled` and `onRejected` must be called as functions (i.e. with no `this` value).
in strict mode, this should be undefined.

2. 2.2.7.2
If either `onFulfilled` or

[2017-01-12 15:14] JiaLiPassion commented on #582
@inlined , do you mean you want to get the original uncaught error?
I think you can get the original error information from error.rejection which was re-throwed by zone

[2017-01-12 15:23] Saegrov opened #593 "Zone 0.7.x breaks compatibility with Raven-js"
I upgraded to our Angular app to 2.4.1 and Zone.js to 0.7.4 (from 0.6.x) and it seems to have broken compatibility with Raven-js.

I've been digging a bit and it seems that this commit 20b5a5dc1cdd119e2b6ef62eedb271f6daec0e56 introduced the error I'm experiencing.

The magic of Zone.js and Raven-js is a bit over my knowledge level and I'm unsure if this is considered a bug in either Zone.js or Rav

[2017-01-12 18:46] mhevery commented on #546
v0.7.5 has been released just for you. :-)

On Wed, Jan 11, 2017 at 1:13 AM, Michael Bromley <notifications@github.com>
wrote:

[2017-01-12 21:38] JiaLiPassion commented on #593
Thank you for reporting the issue, I'll look into it.

[2017-01-12 23:07] tobiaseisenschenk commented on #427
I Still get this EXCEPTION: Cannot set property stack of [object Object] which has only a getter
I am on "zone.js": "^0.7.2"
above solution doesn't really do it for me, therefore it is hard to debug.

[2017-01-12 23:23] JiaLiPassion commented on #427
@matthewsorenson-tr , could you provide a reproduce repo or plunker or a full error stack trace, thank you.

[2017-01-13 00:50] Yonet commented on #427
@JiaLiPassion I am having the same error. Here is the my stack:

"Error: Uncaught (in promise): TypeError: Cannot set property stack of [object Object] which has only a getter
TypeError: Cannot set property stack of [object Object] which has only a getter
    at assignAll (http://localhost:4200/vendor.bundle.js:119266:29)
    at ViewWrappedError.BaseError [as constructor] (http://localhost:4200/ve

[2017-01-13 03:26] beeman opened #595 "zone.js 0.7.5 prevents proper angular message to be displayed"
## Steps to reproduce:

- `npm install -g angular-cli@1.0.0-beta.25`
- `ng new my-test-app`
- Edit `src/app/app.component.html`
- Enter invalid html like: `<h1>{{title}}</h1`

## Expected behavior
[code]

## Actual behavior
[code]

## Temporary fix

Downgrade zone.js:

`npm install --save zone.js@0.7.4`

Issue over at the Angular CLI repo https://github.com/angular/angular-cli/issues/3975

[2017-01-13 03:30] JiaLiPassion commented on #595
Thank you for reporting the issue, I'll make a PR to fix it now

[2017-01-13 03:30] beeman commented on #595
Awesome, happy to test it when needed.

[2017-01-13 03:36] JiaLiPassion commented on #427
@Yonet,  Thank you, it is the same with #425, I'll fix it now.

[2017-01-13 13:14] dcabrera22 commented on #551
Excelent!!
Works in my little example. http://o3case.ideasoft.biz/test/?debug=true

Do you know when release this? in witch version?
Thanks a lot.
Regards
Diego

[2017-01-13 15:50] jrood commented on #427
For what it's worth, I'm getting the same error. In my case it seems tied to using [this](http://stackoverflow.com/a/35451821/3390298) solution to integrate Material Design Lite with Angular 2.

[2017-01-13 20:13] MichaelBuerge commented on #446
If I understand correctly, the call to fetch() is done to get a hold of its result promise and patch the constructor that created it if needed (in case fetch() is some polyfill using its own promise implementation).
So why not skip this altogether if the implementation of fetch() is native? (Assuming all native implementations of fetch() also return a native Promise, which I think is a reasonable

[2017-01-13 21:07] tobiaseisenschenk commented on #427
Here my full stacktrace:
![screen shot 2017-01-13 at 3 05 30 pm](https://cloud.githubusercontent.com/assets/17195795/21945630/e4e0b292-d9a1-11e6-8ffc-f38ab56c1289.png)

[2017-01-13 21:08] fcoury commented on #427
@tobiaseisenschenk this happened to me because I had zone.js with `^0.7.2` and 0.7.5 was installed. Pinning it at 0.7.2 worked for us.

[2017-01-13 21:25] tobiaseisenschenk commented on #427
great thank you!
I just changed the version in my package.json from ^0.7.5 to 0.7.2 and now the real error is correctly displayed.

[2017-01-14 03:58] JiaLiPassion commented on #427
Sorry, the zone.js 0.7.5 have conflict with angular/compiler BaseError, so please use 0.7.4 for now, I have made a new PR to fix this.

[2017-01-14 07:48] Yaffle commented on #577
@mhevery Thank you!

[2017-01-14 08:05] JiaLiPassion commented on #579
should use rootZone to fork a zone to do that.

[2017-01-14 08:05] #579 closed

[2017-01-14 08:39] petewalker commented on #446
Yep, I believe your understanding is correct. It'd require some testing. I've tried it here in Chrome, Firefox and Safari, and it seems to be consistent.

It's a bit hacky - but until Chrome is changed upstream (if ever), I can't see another way around it.

Your fix isn't quite right, though - you're missing a `typeof`:

[code]

[2017-01-14 20:24] MichaelBuerge commented on #446
Oh, darn typeof, sorry for that stupid mistake. I'm creating a new change: https://github.com/MichaelBuerge/zone.js/commit/8e20690a546ee6346d4f7e27cf725a5662175deb
[code]

I agree about it being a bit hacky. However, I do consider patching native constructors to be somewhat hacky to begin with, as it often leads to unexpected problems down the road. As evidenced by this issue, I might add.

Regard

[2017-01-14 21:14] robianmcd opened #600 "Change detection doesn't fire after async method from the Web Audio API"
**I'm submitting a:**
[code]

**Current behavior**
After the callback runs from calling [AudioContext.decodeAudioData(buffer, callback)](https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/decodeAudioData) change detection does not run

**Expected behavior**
change detection should occur after the callback runs

**Minimal reproduction of the problem with instructions**
With the following

[2017-01-15 02:56] redplane commented on #427
I changed back to zone 0.7.4, error still occurs.

`zone.js:420 Unhandled Promise rejection: Cannot set property stack of [object Object] which has only a getter ; Zone: angular ; Task: Promise.then ; Value: TypeError: Cannot set property stack of [object Object] which has only a getter(…) TypeError: Cannot set property stack of [object Object] which has only a getter
    at assignAll (http://loca

[2017-01-15 05:20] redplane commented on #427
@retrospectacus , I changed the code as you said, but still [object Object]

[2017-01-15 05:28] JiaLiPassion commented on #427
@redplane, the assignAll is only intro into zone.js from 0.7.5, can you check your node_modules/zone.js/package.json to check the version?

[2017-01-15 05:34] redplane commented on #427
@JiaLiPassion , I've down grade to 0.7.4

[2017-01-15 05:40] JiaLiPassion commented on #427
@redplane, ok, maybe the npm release version is not correct, please wait for a while about the new release.

[2017-01-15 05:40] redplane commented on #427
@JiaLiPassion , what should I do now ?

[2017-01-15 06:57] JiaLiPassion commented on #600
@robianmcd， I will make a PR to add AudioContext support, for now, you need to run your code in zone by yourself, https://plnkr.co/edit/ox07gVOcdMqycp0c1MYW?p=preview

[2017-01-15 07:01] JiaLiPassion commented on #427
@redplane, if 0.7.4 is not work for you, you can try 0.7.2, it should work, or you can use the attached version, it is based on my new PR.
[zone.js.zip](https://github.com/angular/zone.js/files/706451/zone.js.zip)

[2017-01-15 07:56] redplane commented on #427
@JiaLiPassion , ok I'll give it a shot and tell you about the result later. Thank you for your support :)

[2017-01-15 09:50] tsm91 commented on #427
I also noticed for some weird reason `npm i` will still install the `0.7.5` version having `zone.js": "0.7.2"` in package.json. But doing `npm i --save zone.js@0.7.2` works.

[2017-01-15 13:34] nmtoan07 commented on #427
I have the same issue too.
After downgrade to 0.7.2, it works!

[2017-01-15 17:24] robianmcd commented on #600
great thanks! Yeah I forgot it also returned a promise. I'll use that

[2017-01-16 01:55] nickwph opened #602 "ElementRef in constructor is undefined after upgrading to 0.7.5"
After upgrading to `zone.js 0.7.5`, `ElementRef` of a component is no longer being injected.

[code]

[code]

[code]

[2017-01-16 02:17] JiaLiPassion commented on #602
@nickwph, can you provide a reproduce repo or plunker?

[2017-01-16 02:33] nickwph commented on #602
https://plnkr.co/edit/VjcSCz
There is a `ZoneAwareError`.

[code]

[2017-01-16 02:53] JiaLiPassion commented on #602
@nickwph , Thank you for the plunker, I have made a new PR #597 to fix this issue.

[2017-01-16 03:25] nickwph commented on #602
Awesome! 😄

[2017-01-16 07:51] grapgrap commented on #427
I have same issue too. But, I could ran same code at last friday.

[2017-01-16 10:51] LasTanzen commented on #427
I was able to fix it with downgrading from 0.7.5 to 0.7.4. Thanks

[2017-01-16 14:12] D-Thrane opened #603 "Cannot set property stack of [object Object] which has only a getter"
"zone.js": "^0.7.2"

`zone.js:704 Uncaught TypeError: Cannot set property stack of [object Object] which has only a getter
    at assignAll (http://localhost:4200/vendor.bundle.js:110081:29)
    at ViewWrappedError.ZoneAwareError (http://localhost:4200/vendor.bundle.js:110152:16)
    at ViewWrappedError.BaseError [as constructor] (http://localhost:4200/vendor.bundle.js:6953:16)
    at ViewWrappedE

[2017-01-16 14:13] JiaLiPassion commented on #603
This is the same with #602, #427, #595, I have made a PR #597 to fix it, please wait for the new release.

[2017-01-16 15:50] kibbled commented on #427
Zone.js seems very fragile at times, can we put more tests into place to make sure that minor revisions don't break important features? I wasted hours on this, it was returning bogus exception.

[2017-01-16 16:41] CristyTarantino commented on #603
Yes, imported Highcharts module in my Angular component like this:

[code]

as per https://github.com/gevgeny/angular2-highcharts/issues/126 and I get the same error.

Do you know when you are going to release the new version with this bug fix?

Thank you.

[2017-01-16 17:02] xtianjohns commented on #427
@JiaLiPassion is your PR for this #601?

[2017-01-16 22:02] JiaLiPassion commented on #603
It is under review, it will be released soon.

[2017-01-16 22:04] JiaLiPassion commented on #427
@kibbled, yes , you are right, I will add more test cases from angular/angular to make sure zone.js will not break major features, sorry for the inconvenience.

[2017-01-16 22:04] JiaLiPassion commented on #427
@xtianjohns , yes, my PR will fix this one, and #595,#601,#603

[2017-01-17 00:52] kibbled commented on #427
@JiaLiPassion no problem, let me know if you guys need help testing the fix

[2017-01-17 04:52] JiaLiPassion opened #604 "Sometimes travis test will fail on Android 4.4 because setInterval"
I always run into travis build fail(for example, this [build](https://travis-ci.org/JiaLiPassion/zone.js/builds/191865190) because one specified case in setInterval.spec.ts
can be simplified as the following case.

[code]

In most cases, the interval will only run once, but in Android 4.4, for some reasons, the interval will run twice, I check the setTimeout/setInterval document online, that setIn

[2017-01-17 15:47] daedeloth opened #606 "No tick call when using phonegap + hammerjs + angularjs or zonejs + android"
I have an app built in angular2 that works fine in browser and when phonegap-bundled for iOS. It uses hammerjs to handle touch events like pan and pinch.

However, when I bundle it for Android, things go haywire.

After some debugging I managed to isolate the problem to "tick" not being called as often as it should. On iOS and in browser (any browser really, even IE), during any drag action the ti

[2017-01-17 22:06] sunpasup commented on #427
i am still getting this below error

i have zone.js@0.7.5 and zone @0.3.4

here is the full stack    helppp

EXCEPTION: Cannot set property stack of [object Object] which has only a getter
ErrorHandler.handleError @ core.umd.js:3472
(anonymous) @ core.umd.js:8347
ZoneDelegate.invoke @ zone.js:242
onInvoke @ core.umd.js:4391
ZoneDelegate.invoke @ zone.js:241
Zone.run @ zone.js:113
(anonymous) @ zon

[2017-01-17 22:30] kibbled commented on #427
@sunpasup revert back to zone.js@0.7.2 - I don't think the fix will be in until 0.7.6 at the earliest.

[2017-01-17 22:41] #604 closed

[2017-01-17 22:42] #536 closed

[2017-01-17 22:44] #595 closed

[2017-01-17 22:45] #593 closed

[2017-01-17 23:46] sunpasup commented on #427
Thanks Kibbled its worked.

[2017-01-17 23:59] MichaelBuerge commented on #446
Progress report:
My assumption that all native implementations of fetch() also return a native Promise doesn't hold up in FF. The result returned by fetch() doesn't use the normal Promise constructor.

Details:
I wrote a little probing function that probes the fetch result and writes  a bunch of stuff to the console (https://github.com/MichaelBuerge/zone.js/commit/3133655a6f5df13b7e81d551c130b9559

[2017-01-18 01:32] JiaLiPassion commented on #603
0.7.6 has been released, please try it.

[2017-01-18 01:35] JiaLiPassion commented on #602
0.7.6 has been released, please try it.

[2017-01-18 01:47] JiaLiPassion commented on #427
zone.js 0.7.6 has been released, please try it.

[2017-01-18 08:51] #581 closed

[2017-01-18 08:53] longsleep commented on #427
0.7.6 now shows useful information in Error in :0:0 caused by: .... :+1:

[2017-01-18 11:31] CristyTarantino commented on #603
👍  yes all working now. Thank you for being so quick.

[2017-01-18 12:30] D-Thrane commented on #603
Still get the error with 0.7.6

[2017-01-18 12:39] JiaLiPassion commented on #603
@D-Thrane,could you provide a reproduce repo or plunker or full stacktrace?

[2017-01-18 12:56] D-Thrane commented on #603
I'm still new at this. How do I get a full stacktrace?

[2017-01-18 13:16] JiaLiPassion commented on #603
@D-Thrane  just like you first post in this thread, please copy/paste the error stack trace here, if possible, please put your sample project on github.

[2017-01-19 01:11] ivaris commented on #602
Unhandled Promise rejection: Cannot set property 'stack' of undefined ; Zone: <root> ; Task: Promise.then ; Value: TypeError: Cannot set property 'stack' of undefined.

This happens when i use below to display array of strings.

<li *ngFor="#course of courses">
	{{ course }}
	</li>

[2017-01-19 01:13] JiaLiPassion commented on #602
@ivaris Could you provide a reproduce repo or plunker?

[2017-01-19 01:20] ivaris commented on #602
https://github.com/ivaris/uiprojects/tree/development/myAngular2

[2017-01-19 02:28] born2net commented on #476
same issue here...

[2017-01-19 02:43] JiaLiPassion commented on #602
@ivaris , your repo don't have any src, and can't be download, could you check it again? Or maybe you can just zip your working copy (without node_modules) and paste here by dragging the file.

[2017-01-19 08:43] Dzixxx commented on #427
In my case, problem was releated with unsubscribing Subscribtion which was not subscribed, maybe it'll help someone to find his problem :)

[2017-01-20 10:20] eurolife commented on #603
I did the update to 0.7.6 because I was also getting that error. Now with the update, I don't get that error but I get a different error: Cannot read property 'Title' of undefined. This is happening when I try to display the object returned property of Title in the template.

[2017-01-20 10:24] pamtbaau commented on #603
Installed zone.js@0.7.6 and error persists. Error occurs on any error in html or typescript.

[2017-01-20 10:25] JiaLiPassion commented on #603
Please post a reproduce repo ,plunker, or stacktrace.

[2017-01-20 10:34] JiaLiPassion commented on #603
@eurolife, it seems it is your application's error,could you post your repository or create a plunker?

[2017-01-20 11:04] eurolife commented on #603
@JiaLiPassion github: https://github.com/eurolife/rfc

[2017-01-20 11:47] eurolife commented on #603
I found the cause of my undefined error. I needed to give a default value to the variable rfc which is what eventually holds the object.

[2017-01-20 12:52] JiaLiPassion commented on #603
@eurolife,Great!

[2017-01-20 13:04] pamtbaau commented on #603
Installing zone.js@0.7.6 did indeed fix the issue of throwing above error on all and any error in own code.
Webpack didn't rebuild libraries based on zone.js@0.7.4.... :-(

[2017-01-20 13:16] JiaLiPassion commented on #603
@pamtbaau , ok, thank you for the feedback.

[2017-01-20 13:50] sittingbool commented on #537
any update on this? i can use angular 2 only up to version 2.1 so far with electron

[2017-01-20 14:22] JiaLiPassion commented on #537
For now, you have to do like this

[code]

[2017-01-20 14:31] sittingbool commented on #537
I don't only have a problem with the router. I have issues in general like with change detection and such.

[2017-01-20 14:49] JiaLiPassion commented on #537
@sittingbool, could you give an example through some sample code or repository.

[2017-01-21 12:11] kemsky opened #607 "Edge: Object doesn't support property or method 'fetch'"
zone.js version: `0.7.6`

After minification using webpack uglify plugin (`minimize: true` only) error is thrown, without minification it works fine.

Minified code:
[code]
Looks like minification bug, but i guess we could rename `e` to `error` in catch and be safe.

Adding `screw_ie8: true` fixes this problem also.

[2017-01-21 12:38] sushantkhanna commented on #533
Any updates on this issue?

[2017-01-21 13:15] JiaLiPassion commented on #446
I think to ignore the error, just unchecked the 'pause on uncaught exception' which described here,
http://stackoverflow.com/questions/32755631/can-i-prevent-that-chrome-v45-pauses-on-promise-rejections.
Not the checkbox, is the 'pause' icon.

[2017-01-21 13:29] JiaLiPassion commented on #607
yes, it seems it is a uglifyjs issue, https://github.com/mishoo/UglifyJS2/issues/409#issuecomment-229355111, is this the only error when minification zone.js? There are several other places use

[code]

[2017-01-21 15:15] petewalker commented on #446
@JiaLiPassion Yes, that's true - but this code shouldn't be throwing an exception at all.

[2017-01-21 16:17] kemsky commented on #607
So far i did not notice any other bugs,  may be it makes sense to use unique names for error objects to avoid this situation.

[2017-01-21 16:20] JiaLiPassion commented on #446
@petewalker, yes, current situation is

-  in MS edge, fetch() will cause type error because it need a parameter
- in chrome win10, fetch('about:blank') will cause 'fetch API don't support URL schema about:blank'
- in chrome other OS, fetch() will return a rejected promise.

Now it seems chrome dev tool will also pause on rejected promise.
In current situation, I don't know how to modify code to r

[2017-01-21 16:22] JiaLiPassion commented on #607
@kemsky , thank you, I'll make a PR to try to modify the error name.

[2017-01-21 16:37] JiaLiPassion commented on #607
@kemsky, could you try to modify node_modules/zone.js/dist/zone.js(or maybe zone-node.js) to
modify the e -> error to see whether it will be fixed?

I create a sample project, the minified code like this.

[code]

[2017-01-21 16:51] kemsky commented on #607
I have tried already replacing e -> error in zone.js and it worked. It seems that uglifier just does not check error object name when generates other names.

Also quite interesting fact that error should override local variable (if i remember it correctly), but not in Edge... In fact it works even with IE 11.

[2017-01-21 17:46] JiaLiPassion commented on #533
The reason is electron use zone-node, and not patch browser events. and from angular 2.2(maybe), angular will not patch event and reply on zone.js's patch totally, so in new version, it will not work any more.

I will try to make a PR to fix it, it will need a zone.js version can patch both browser and node.

[2017-01-21 18:48] D-Thrane commented on #603
`Uncaught TypeError: Cannot set property stack of [object Object] which has only a getter
    at assignAll (http://localhost:4200/vendor.bundle.js:110081:29)
    at ViewWrappedError.ZoneAwareError (http://localhost:4200/vendor.bundle.js:110152:16)
    at ViewWrappedError.BaseError [as constructor] (http://localhost:4200/vendor.bundle.js:6953:16)
    at ViewWrappedError.WrappedError [as constructor

[2017-01-21 19:22] sushantkhanna commented on #533
I am sorry. Did not get you.
Are you saying that Angular might not be able to do live reloads on
Electron at all post 2.2?

On 21-Jan-2017 11:16 PM, "JiaLiPassion" <notifications@github.com> wrote:

The reason is electron use zone-node, and not patch browser events. and
from angular 2.2(maybe), angular will not patch event and reply on
zone.js's patch totally, so in new version, it will not work a

[2017-01-22 00:54] JiaLiPassion commented on #603
@D-Thrane, I think you did not update to 0.7.6 successfully, in 0.7.6,assignAll method is removed.Please check the version.

[2017-01-22 01:41] JiaLiPassion commented on #533
@sushantkhanna , I am not familiar with electron, I don't know the detail about live reloads. But I think it is a problem that zone.js can't deal with node and browser and the same time.

the reason that the @DevWurm 's demo not work is from angular 2.2

if electron choose to load zone-node.ts from polyfill.ts
[code]
the click event will not patched by zone.js

otherwise if electron choose to load

[2017-01-22 02:58] JiaLiPassion commented on #607
@kemsky , thank you for the information, change e -> error should be a safe way to avoid such issue.

[2017-01-22 04:40] JiaLiPassion commented on #537
@sittingbool , if your problem is related with electron menu or something like that, you could use the
method just like
[code]
If your problem is related with your application(not electron), you may check the #533 to see whether it is the same problem, if it is , you can check PR #608 to see whether it resolve your problem or not.

[2017-01-22 06:05] sushantkhanna commented on #533
Makes sense.
Can we start this as a separate project ? Maybe get the Electron folks
involved ?

On 22-Jan-2017 7:11 AM, "JiaLiPassion" <notifications@github.com> wrote:

[2017-01-22 06:35] JiaLiPassion commented on #533
@sushantkhanna , I have made a PR to generate a zone-mix.js to fix this specified issue. So with this PR, application can use browser and node API in zone.

Do you mean make a electron with zone?

[2017-01-22 08:14] sushantkhanna commented on #533
No, I meant involving Electron folks to write zone-mix. But since you have
already, then it does not matter.

Awesome and Thanks !!

On 22-Jan-2017 12:05 PM, "JiaLiPassion" <notifications@github.com> wrote:

[2017-01-23 11:45] rnitame opened #613 "Error: Unexpected value 'DecoratorFactory' imported by the module 'AppModule' at SyntaxError.ZoneAwareError"
# Information

[code]

package.json

[code]

webpack.config.js

[code]

angular/app.module.ts

[code]

angular/main.ts

[code]

angular/polyfill.ts

[code]

If you look at the console after compiling...

[code]

This error outputed.
Please tell me if you have any idea :(

[2017-01-23 11:55] JiaLiPassion commented on #613
you should not import NgModule because it is a decorator not a module.
http://stackoverflow.com/questions/39464062/unexpected-value-decoratorfactory-imported-by-the-module-tempmodule

[2017-01-23 12:26] rnitame commented on #613
ohhh...thank you so much!!
I've solved after delete NgModule from imports.

[2017-01-23 12:26] #613 closed

[2017-01-23 13:23] D-Thrane commented on #603
Had to stop and start my server for it to work. Not I get this:

`Uncaught ViewWrappedError {__zone_symbol__error: Error: Error in ./MapComponent class MapComponent - inline template:11:12 caused by: Invalid argumen…, _nativeError: ZoneAwareError, originalError: InvalidPipeArgumentError, context: DebugContext}__zone_symbol__error: Error: Error in ./MapComponent class MapComponent - inline template

[2017-01-23 17:56] JiaLiPassion commented on #603
@D-Thrane, I think this is the error of your application code, may be you pass some invalid data to model which expect a date format.

[2017-01-23 20:05] #591 closed

[2017-01-23 20:15] #607 closed

[2017-01-23 23:33] #533 closed

[2017-01-24 07:38] RoeyMoyal opened #615 "websocket onmessage event isn't being called"
Hi,

In our app we register the all our opened websockets onmessage event to log an error message in case a message arrives before we bind to the real onmessage event.
Later on we bind the real onmessage handler to the websocket but it is never called only the original events that we bind is called (the error log message).

After investigating the problem we found that zone.js duplicate all the on

[2017-01-24 08:07] JiaLiPassion commented on #615
could you please post a sample repo or plunker to reproduce your issue?

[2017-01-24 10:19] RoeyMoyal commented on #615
Sorry but its not possible,
if it helps, some more information, :

1. The first binding to the websockets events occurs before the loading of zone.js to the browser
2. then we load zone.js (as a part of the angular cli created bundle)
3. then we bind the new event to the websocket
4. a message is received and the old event is called (the one that is saved on the originalonmessage)

if you don't th

[2017-01-24 13:18] AlexandrosD opened #616 "Protractor tests on Firefox fail for Angular apps using Zone.JS > 0.7.2"
All protractor tests are failing on Firefox 50+, using Angular v2.4.4, zone.js v0.7.6, Geckodriver 0.13.0, protractor 4.0.13.

The error is the following:
`Permission denied to access property "invoke"`

This seems similar to https://github.com/angular/protractor/issues/2784 and can be solved only by downgrading Zone.js to v0.7.2.

[2017-01-24 13:29] JiaLiPassion commented on #616
Could you provide a sample repo?

[2017-01-24 13:53] JiaLiPassion commented on #615
I created a sample application, but can't reproduce, you can check the attached file to see whether it is the same as your issue.
[test.zip](https://github.com/angular/zone.js/files/726845/test.zip)

[2017-01-25 05:48] RoeyMoyal commented on #615
Hi,
I've also tried to reproduce it in a sample app with no success
as I mentioned before we are working with angular 2, could this effect us in any way ?

also I would like to know is there another way to disable zone for web-sockets at least until we can figure out what causing the issue in our app?

[2017-01-25 07:09] JiaLiPassion commented on #615
@RoeyMoyal , I don't know if the issue related with angular 2 or not, but I  think it should have nothing to do with angular 2.

- the easy way, just like you post, modify supportsWebSocket to false.
- don't touch zone.js way,

1. first, before load zone.js, keep onmessage property descriptor from WebSocket.prototype.
  by
[code]
2   after load zone.js. define the onmessage property with the origi

[2017-01-25 10:51] AndriiDidkivsky opened #618 "Sharepoint 2013 conflict"
Hi, I get an exception "Out of stack space" when I try to use sharepoint [controls](http://prntscr.com/e03bem)
So, controls aren't available after the exception.

Issue is fully described on [stackoverflow](http://stackoverflow.com/questions/40466012/using-angular2-on-sharepoint-2013-masterpage-leads-to-zone-js-error)

Could you provide workaround for this problem ?
zone.js: 0.7.4
Thanks.

[2017-01-25 10:53] TkachVova commented on #618
Have the same issue. It seems to be some naming conflict with some SharePoint script library.

[2017-01-25 11:22] djleonskennedy commented on #618
Same issue

[2017-01-25 12:25] JiaLiPassion commented on #618
Could you check this issue, and try the solution posted there?
https://github.com/angular/zone.js/issues/434

[2017-01-25 12:35] AndriiDidkivsky commented on #618
@JiaLiPassion I've seen that.  Unfortunately this is not the same issue. :(
"Out of stack space" appears in **sharepoint 2013** env only when we use standart controls.
#434 -  **Sharepoint online** issue.

[2017-01-25 13:13] djleonskennedy commented on #618
Sorry but I can't restrain myself but it's very clever to name global variable "Zone" : D

[2017-01-25 17:20] JiaLiPassion commented on #618
@AndriiDidkivsky , if you can provide a env or steps to reproduce the issue, I may help you to resolve the issue. the core.js source code can be found here, http://www.cpecc.net/www.cpecc.net/_layouts/15/menu.debug.js@rev=rjljph65iwqmjqoxemjt+w_253d=

in your error screenshot, it seems popupmouseoverparent and MenuHtcInternal_Show cause infinite loop, could you try to debug that why the loop occur

[2017-01-25 18:12] AndriiDidkivsky commented on #618
you're absolutely right.

Unfortunately I can't.
Steps is just click on cog

[2017-01-26 02:08] JiaLiPassion commented on #618
@AndriiDidkivsky ，you are welcome, I don't know if it is related with zone.js, currently from the error screenshot.
popupmouseoverparent->zonepatch wrapFn-> MenuHtcInternal_Show

from the source code I posted, I think maybe the event order is

1. mouseover of popup trigger it's parent's mouseover event
2.and somehow parent's mouseover trigger the popup mouseover again.

I can't debug, so I don't k

[2017-01-30 14:45] anrepppp opened #619 "Error in the browser after updating to the latest version/"
Sorry, for the long dump. After updating the zone.js and all the plugins to the latest version i am seeing the below error in my browser.Can, you please help me to understand about the error.
Here is the error:

zone.js:420Unhandled Promise rejection: appInits[i] is not a function ; Zone: <root> ; Task: Promise.then ; Value: TypeError: appInits[i] is not a function(…) TypeError: appInits[i] is not

[2017-01-30 14:53] JiaLiPassion commented on #619
@anvesh48, I think it is your application error, could you post your repo somewhere or make a plunker?

[2017-01-30 19:58] anvesh48 commented on #619
Here is my package.json file, i didn't changed my code from long-time. I have no idea what changes are in the plugin that is causing the isssue.

{

  "angular-cli": {},
  "scripts": {
    "start": "tslint \"src/**/*.ts\" --force && ng serve --proxy-config proxy.conf.json",
    "build": "tslint \"src/**/*.ts\" && ng test --watch=false && ng build",
    "lint": "tslint \"src/**/*.ts\" --force",

[2017-01-30 20:50] krassx opened #620 "NodeJS: more Net stuff requires wrapping"
I periodically get the following errors:

[code]

Which are totally non-infomative. My investigation led my into net.js and TCPConnectWrap. Seems like callbacks in there also require wrapping.

[2017-01-30 22:27] CognitiveFeedback commented on #603
I only needed to set the name-attribute on the input control to fix this problem.
<input type="text" class="form-control" id="phone" [(ngModel)]="phone" **name="phone"**>

[2017-01-31 02:06] JiaLiPassion commented on #619
Please post a repo or a plunker to reproduce your issue.

[2017-01-31 03:13] JiaLiPassion commented on #620
I will make a PR to  add the wrapper later.

[2017-01-31 04:09] krassx commented on #620
Great! Thank you.

[2017-01-31 07:27] redplane commented on #427
I've tried with zone 0.7.4, it worked . Thank all of you :)

[2017-02-01 12:36] jahtalab opened #621 "`unhandledrejection` even is not fired"
According to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onunhandledrejection) `unhandledrejection ` event should be fired if the promise rejection is unhandled

[2017-02-01 12:41] #272 closed

[2017-02-01 12:44] JiaLiPassion commented on #621
I'll add it when promise has unhandledrejection.

 such spec doesn't exist in Promise A+ spec current version, it seems promise A+ is making the spec of unhandledrejection now, hope it will be compatible with MDN's definition.

[2017-02-01 12:49] jahtalab commented on #621
Thanks @JiaLiPassion , FWIW, it is already supported by chrome since version 49

[2017-02-01 12:51] JiaLiPassion commented on #621
@jahtalab, you are welcome, I'll make a PR and test it in chrome.

[2017-02-01 13:15] MichaelBuerge commented on #446
Took another look at this and found a solution. Created https://github.com/angular/zone.js/pull/622

[2017-02-01 16:25] derekcdaley commented on #218
I know I'm late to the party, but what is the suggested workaround (or fix) when I see this issue while developing with Cordova? I am currently adding a manual change detection and using zone.run, but this looks like it has the potential to get messy. Any help is appreciated.
`
this.changeDetector.markForCheck();
this.zone.run(()=> function(){});
`

[2017-02-01 16:30] JiaLiPassion commented on #218
Currently I am working on write document for non-browser API, I have created a non-standard-api.md to describe the browser but non-standard-api, and I will add document for electron,node.js later.

@derekcdaley, could you provide more information about your issue? you are using cordova with angular2?

[2017-02-01 16:37] derekcdaley commented on #218
@JiaLiPassion - that is correct. I have an angular 2 application that runs inside of a Cordova wrapper and also on a node.js server. Something as simple as a button click to set a status won't update in Cordova unless I call the snippet I listed above. However, it works fine in Chrome and Safari. I did some tests as can be seen at this [stackoverflow](https://stackoverflow.com/questions/41903594/a

[2017-02-01 16:58] JiaLiPassion commented on #218
@derekcdaley , the answer at stackoverflow seems to be correct, the WL jsonstore use other Promise implementation(JQuery?), so it is not patched. I can make a PR to patch it later.

for now, there are several walkarounds.

I didn't test, please try those methods.

1. use JQuery's promise to replace global promise.

- before angular and zone.js are being loaded, load wL jsonstore first.
- add follo

[2017-02-01 17:04] derekcdaley commented on #218
Thank you for that information. I am still questioning one thing. I can remove all calls for WL.JSONStore, and just do something basic like below:
`
export class StoreComponent implements OnInit {
    status: string;

    constructor(private changeDetector: ChangeDetectorRef, private zone: NgZone) { }

    //On a button click, status is set below
    jsonStoreInit(){
        this.status = "JSONSto

[2017-02-01 17:13] JiaLiPassion commented on #218
@derekcdaley, could you post a sample repo to describe your issue? what cordova wrapper you are using? I use ionic2 + angular2 and everything works fine.

[2017-02-01 17:45] derekcdaley commented on #218
@JiaLiPassion - We're just using Angular2 (no Ionic involved). I'll create an example with reproducible steps. The project I'm working on now is a POC for my company, so I'll put another example together and let you know. Thank you for your time and patience with this :)

[2017-02-02 01:44] derekcdaley commented on #218
@JiaLiPassion  - turns out you are correct. Any time I'm seeing this issue it's dealing with this 3rd party library (MobileFirst CLI aka WL). I created a new sample and all tests are succeeding when there is no reference to this api. Thank you again for your time and the valuable information!

[2017-02-02 01:56] JiaLiPassion commented on #218
@derekcdaley , you are welcome, I don't know if WL override the global promise, if it does, you should load WL first before load zone.js and angular, so it may work.

[2017-02-02 14:37] bansanguy opened #623 "Access wsdl data from Angular2"
Hi All,

I need to access data through a wsdl file. My approach is to convert the wsdl data into json format and later work with the json file. check.wsdl​​ is the associated file with the url and authenticate​ is the method to validate the logged in user credentials of user & password.
Please let me know if it is the right approach to connect to the wsdl from Http.

​export class WSDLService {

[2017-02-02 14:43] JiaLiPassion commented on #623
@bansanguy ， I think your question is not related to zone.js, maybe you should ask it in stackoverflow or post in angular/angular?

[2017-02-02 14:50] bansanguy commented on #623
Ok, Will do JiaLiPassion.

[2017-02-03 22:03] d-nation opened #626 "Mobile Safari - patchTimer breaks for Angular 1 ngAnimate"
I have an Angular 2 app that bootstraps an Angular 1 app using the upgrade-downgrade system. The Angular 1 app uses ngAnimate which seems to be breaking zone.js in mobile safari.
`angular.js:13920Error: undefined is not an object (evaluating 'handle.ref')`

I'm not very familiar with zone.js, but as best as I can tell, mobile safari's requestAnimation is sending zone a task with no handleId (It br

[2017-02-04 01:59] JiaLiPassion commented on #626
Thank you for posting the issue.
based on the spec, requestAnimationFrame should return a  animation frame callback identifier for cancel, but it seems some browser or polyfill just return undefined, I'll make a PR to add undefined check for it.

[2017-02-05 05:02] patrickmichalina commented on #476
Happening here too in an Angular 2 app..

[2017-02-05 16:44] JiaLiPassion commented on #476
I did a little debug, I think it is related to fetch promise patch, maybe PR #622 will fix this one.

[2017-02-06 12:48] MichaelBuerge commented on #476
Author of PR #622 here. I have a little demo Angular app live that includes said PR (+lots of dev output): https://orino.ch/test/zone.js-fetch/
I'm not seeing the security error anymore there, so it seems that #622 indeed addresses this too.

[2017-02-06 16:59] d-nation commented on #626
@JiaLiPassion Thanks for looking at this so quickly! I'm going to attempt to try out your changes today. Some more info for posterity...

Even though zone.js should probably handle this scenario a little better, I did find the culprit on my project. We're using pdf.js which needs [https://github.com/mozilla/pdf.js/blob/master/web/compatibility.js](https://github.com/mozilla/pdf.js/blob/master/web/

[2017-02-06 17:50] antonyRoberts commented on #476
@JiaLiPassion Can we get this pull request merged?

[2017-02-07 01:05] JiaLiPassion commented on #476
@antonyRoberts , sorry I don't have the permission to merge pull request, I think the PR is under review.

[2017-02-07 01:39] JiaLiPassion commented on #626
@d-nation , thank you for the compatibility information, I agree with you, zone.js monkey patch the most basic APIs, it should handle such kind of scenario much gracefully.

[2017-02-07 19:34] #626 closed

[2017-02-07 21:37] d-nation commented on #626
Thanks again @JiaLiPassion and @mhevery!

Any idea when this will hit a release?

[2017-02-07 23:24] JiaLiPassion commented on #582
@inlined , I have made a PR #627 to add unhandledRejection event trigger, is that meet your requirement?

[2017-02-07 23:33] MichaelBuerge commented on #476
#622

[2017-02-08 04:49] #621 closed

[2017-02-08 17:50] d-nation commented on #626
@JiaLiPassion
I tried implementing this, but now I'm getting an error that `More tasks executed then were scheduled`

[code]

where main.bundle is angular 2, and vendor.js is angular 1.

The rAF calls looks like they're coming from angular-animate. Would the fix from #628 cause this?

[2017-02-08 23:48] JiaLiPassion commented on #626
@d-nation , could you provide a reproduce repository? thank you.

[2017-02-09 09:51] petewalker commented on #446
See your PR was merged, @MichaelBuerge 👍 Looking forward to seeing this in a release..!

[2017-02-09 16:20] d-nation commented on #626
I will try. Give me a few days.

[2017-02-09 20:42] inlined commented on #582
Sorry I didn't catch the comment last month. This looks great. Thanks! I'll start testing with this asap.

[2017-02-09 20:42] #582 closed

[2017-02-12 22:05] robianmcd opened #634 "Change detection doesn't fire after Web MIDI API callback"
Change detection doesn't fire in an Angular 2 app after receiving a MIDI message through the Web MIDI API.  e.g. The following component listens to all MIDI messages and displays the most recent message but the message only shows up after clicking a button

[code]

Plunker: https://plnkr.co/edit/wf7CLlnsTBc0GO8jbyzD?p=preview

I tried wrapping `this.lastMsg = message.data;` with `Zone.current.run(

[2017-02-13 02:28] JiaLiPassion commented on #634
@robianmcd, I have no midi device, so I can't test, but I think you can try

[code]

[2017-02-13 03:59] robianmcd commented on #634
@JiaLiPassion that worked! Thanks!

[2017-02-13 08:38] pjordaan opened #635 "fetch() with no arguments check does an ajax call in safari technology preview"
Recently we ran into lots of 404's with 'undefined' added at the end of the url, but no complaining customers. We found out all came from the latest Safari version and that the line in zone.ts:
[code]
was causing the ajax call. If I do window.fetch() i a rejected promise in firefox and chrome and in the latest Safari I get an actual 404 ajax call to 'undefined'. Can this be patched so it does not

[2017-02-13 09:17] JiaLiPassion commented on #635
This has been fixed in #622  , please wait for the next release.

[2017-02-13 09:23] yannickl88 commented on #635
When will there be a next release?

[2017-02-13 21:21] rheomatic opened #636 "Angular 2 not “in the zone” after PhoneGap Build"
Background: My company's mobile app has been in both iOS and Google Play stores since July. It's built using Angular 2, Webpack, and PhoneGap. The working version was built using Angular 2.0.0-beta.17, and we now have a chance to go back and upgrade Angular to the latest released version. We went through the process of rewriting two other internal apps (web only, not ported to mobile) and it went

[2017-02-14 00:57] JiaLiPassion commented on #636
I use cordova with angular 2,everything work fine,so could you provide a sample reproduce repository so I can try to debug the reason

[2017-02-14 15:09] d-nation commented on #626
I've been unable to make time to reproduce this. Sorry. We just ended up temporarily dropping ng-animate in order to ship. When I make time, I'll open another issue if I think there's a problem with zone.

Thanks again guys!

[2017-02-14 15:09] rheomatic commented on #636
Let me know if this is enough: https://github.com/rheomatic/angular-zone-issue636-example

[2017-02-14 16:57] fanshuai opened #638 ""Paused in debugger" in Chrome with version "0.7.7""
<img width="1134" alt="2017-02-15 00 56 43" src="https://cloud.githubusercontent.com/assets/1005487/22939460/b5b37676-f319-11e6-8741-2e0f40dc7d68.png">

When I click a button with `routerLink` for change router url it raise, only with version `0.7.7`.

[2017-02-14 18:21] dsumer commented on #477
Remove zone.js from your bundle and find a way to import it on your site in the header (via theme or hook)

[2017-02-14 22:46] antonyRoberts commented on #515
Was fixed in 0.7.4

[2017-02-14 22:46] #515 closed

[2017-02-14 22:46] #498 closed

[2017-02-15 01:07] JiaLiPassion commented on #638
@fanshuai , thank you for reporting the issue, I will make a PR to remove it.

[2017-02-15 10:27] JiaLiPassion commented on #636
@rheomatic , could you write a simple build steps?

[2017-02-15 16:41] rheomatic commented on #636
1. Install package and dependencies
[code]
2. Build Angular2 app
[code]
3. Build Cordova app
[code]

Alternatively, from inside the pgdata/ directory, you could run cordova/phonegap commands to build or run platform versions of the app.

The Dockerfile.phonegapbuild.* files are used by Jenkins to build and ship the apps to PhoneGap Build, but I removed any sensitive data like app keys and IDs.

[2017-02-15 18:58] vikerman opened #640 "async test zone should not throw an exception when it encounters setInterval"
Users are having problems using the async test zone on Angular with RxJS and other libraries. There are a variety of RxJS operators that temporarily setup a setInterval which just throws an exception in the async test zone.

The fix is just to not throw the exception and let the user cancel the timer as required. The test will timeout if they don't cancel the timer since the async test zone will n

[2017-02-15 22:50] vwzhang commented on #446
I have no problem with the test Plunker but do have problem within vscode. I am using code 1.9.1, zonejs  0.7.6, and chrome 56.0.2924.87. It seemed the problem is solved but I need to know what to do with my code.

[2017-02-15 23:36] #640 closed

[2017-02-16 00:54] JiaLiPassion commented on #636
@rheomatic , I can't start the app through phonegap, after pg.pg.sh, should I run

[code]
under pgdata folder?

I did that, but in simulator I just saw a blank page. more detail about build will help.

[2017-02-16 13:34] rheomatic commented on #636
@JiaLiPassion, I made a few changes to the repo. I think if you run
[code]
after what you've already done, you should be able to run the project in Xcode and in the simulator.

[2017-02-16 14:08] JiaLiPassion commented on #636
@rheomatic , not working , still blank page.
When I run phonegap platform add ios, it report error, Error: Source path does not exist: www/res/icons/ios/icon-40.png, so I run

[code]

instead, I can see the page in browser, but in xcode simulator, still blank page, nothing run.

[2017-02-16 14:36] rheomatic commented on #636
@JiaLiPassion, there must be something left over from before the latest changes.

Delete /dist, /node_modules, /pgdata/platforms, /pgdata/plugins, /pgdata/config.xml (if it's there), and everything under /pgdata/www **except** for /pgdata/www/res.

Then run:
[code]
[code]
[code]

I just did these same steps and had no errors and the app runs in the simulator. Hopefully this will work for you.

[2017-02-16 15:24] JiaLiPassion commented on #636
BTW, I can't find how to install phonegap 6.5.0

[2017-02-16 16:17] rheomatic commented on #636
That's the version PhoneGap Build is recommending (specified in config.xml), but it's not a released version we can install, correct. I'm going to roll back the version in config.xml and see if the resulting app works. Maybe that's been the issue all along.

[2017-02-16 16:18] KoenigLear commented on #618
I can also reproduce Out of stack space.  this is my stack trace:

Uncaught RangeError: Maximum call stack size exceeded
    at ClearTimeOutToHideMenu (core.js?rev=rjZicIy%2BXBea34HbdjHJhw%3D%3D:1)
    at PopupMouseOverParent (core.js?rev=rjZicIy%2BXBea34HbdjHJhw%3D%3D:1)
    at HTMLSpanElement.<anonymous> (core.js?rev=rjZicIy%2BXBea34HbdjHJhw%3D%3D:1)
    at HTMLSpanElement.wrapFn [as _onmouseove

[2017-02-16 16:29] JiaLiPassion commented on #618
@KoenigLear , can you help to debug

[code]

what event handler were triggered here?

[2017-02-16 16:37] KoenigLear commented on #618
@JiaLiPassion
ClearTimeOutToHideMenu
-> ClearTimeOut("HideMenuTimeOut");
-> function ClearTimeOut(a) {
    var b = document.body.getAttribute(a);
    b != null && window.clearTimeout(Number(b));
    document.body.removeAttribute(a)
}

not sure why that should lead to a loop.

[2017-02-16 16:44] rheomatic commented on #636
FYI, I just tried
[code]
and
[code]
and neither of those produce a working app, either.

[2017-02-17 01:05] JiaLiPassion commented on #636
@rheomatic , I somehow make it output console.log, but I can't reproduce, please see the screenshot.

<img width="792" alt="2017-02-17 10 04 48" src="https://cloud.githubusercontent.com/assets/1442575/23048362/a5575d7a-f4f8-11e6-9703-0e229ea9e584.png">

[2017-02-17 01:11] JiaLiPassion commented on #635
@yannickl88 , now 0.7.7 is released, you can check it.

[2017-02-17 08:14] JiaLiPassion commented on #618
@KoenigLear , @AndriiDidkivsky

maybe the issue because zone.js patch timer and return a Task from setTimeout instead of a number, and in sharepoint, the logic is

[code]

and when clearTimeout

[code]

so the timer in fact was not cleared, because Number(task) return NaN

I can't test so could you guys try the attached version of zone.js to see whether the issue can be resolved?

[2017-02-17 08:20] AndriiDidkivsky commented on #618
@JiaLiPassion , thanks. I'll try.

[2017-02-17 08:29] andtii commented on #618
If anyone needs a SharePoint Online environment to help figure this out, contact me and i can give you login information

[2017-02-17 08:46] JiaLiPassion commented on #618
@andtii, thank you, if the version I post will not resolve the issue, I will ask for your help!

[2017-02-17 10:52] KoenigLear commented on #618
@JiaLiPassion   I see your patchtimer.   I'm afraid the patch doesn't have any effect; still the same error

Anything else you want me to try?

    Uncaught RangeError: Maximum call stack size exceeded
    at HTMLSpanElement.<anonymous> (core.js?rev=rjZicIy%2BXBea34HbdjHJhw%3D%3D:1)
    at HTMLSpanElement.wrapFn [as _onmouseover] (eval at <anonymous> (vendorbundle.js:5298), <anonymous>:1214:29)

[2017-02-17 10:56] KoenigLear commented on #618
When the page is loaded there's also this error I forgot to mention.  This is even before you click the ribbon.  It might have an impact on the above events...

addPageComponent: function(a) {
        a: ;!CUI.ScriptUtility.isNullOrUndefined(this.$2o_1[a.getId()]) && Error.create("A PageComponent with id: " + a.getId() + " has already been added to the PageManger.");

Uncaught TypeError: Error.cre

[2017-02-17 11:08] JiaLiPassion commented on #618
@KoenigLear , thank you for trying, I may need the environment to debug, @andtii , could you please provide the account information to me? thank you very much.

[2017-02-17 13:32] rheomatic commented on #636
@JiaLiPassion, yeah, that's the difficult part of this issue, that building locally shows no sign of the problem. It's only when the app is built at build.phonegap.com that it doesn't work. I'm going to do a complete build locally and submit it to the App Store instead of going the build.phonegap.com route to try and further isolate the problem.

[2017-02-17 15:56] KoenigLear commented on #618
A bit of an update  using Zone.js 0.6.26 and adding the following line to
zoneAwareAddListener right before zone.scheduleEventTask works (no errors)

//SharePoint ribbon issue
        if (data.target.id === 'zz4_Menu_t' || data.target.id === 'zz11_SiteActionsMenu_t')
            	return;

[2017-02-18 23:20] rsnider19 commented on #638
I am seeing the same thing when I run code in `this.zone.runOutsideAngular(() => {...});`. It is happening in 0.7.7, but not in 0.7.6. Even if you remove the `debugger`, it is still going to throw that error. Could there be another issue going on here?

[2017-02-19 01:02] JiaLiPassion commented on #638
@rsnider19 , can you post a screenshot of the error or the pause on debugger?

[2017-02-19 12:16] smartHasmukh commented on #501
@bdunn44 I am facing below issue. but I haven't idea how can I solved that issue.

(program):8 Unhandled promise rejection ZoneAwareError__zone_symbol__error: Error: Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten.
Most likely cause is that a Promise polyfill has been loaded after Zone.js (Polyfilling Promise api is not necessary when zone.js is loaded. If

[2017-02-19 15:28] rsnider19 commented on #638
![image](https://cloud.githubusercontent.com/assets/13546759/23103738/274cab32-f68e-11e6-8d02-d5aef7c0b0c4.png)

[2017-02-20 01:25] JiaLiPassion commented on #638
@rsnider19 , thank you for the error screenshot, could you post a repository to reproduce so I can debug into it?

[2017-02-20 12:10] rsnider19 commented on #638
Sure thing! Here is a plunk. Just hover over the sections of the pie chart a couple times and it will trigger.
https://plnkr.co/edit/gar5B50EwAfrIrdU60m5

[2017-02-21 04:54] JiaLiPassion commented on #638
@rsnider19, Thank you, I have made a PR to fix this one.

[2017-02-21 09:00] andtii commented on #618
@JiaLiPassion I have sent you a mail with the login information

[2017-02-21 09:59] JiaLiPassion commented on #618
@andtii, Thank you, I have reproduced the issue, could you tell me how to modify the page such as edit loading javascript files?
If you remove the zone.js , the problem still exists?

[2017-02-21 10:03] andtii commented on #618
@JiaLiPassion There error dissapears if you remove the include of zone.js,  If you provide a url to a file hosted somewhere i can include that instead so that you can modify the file as you like.

[2017-02-21 10:10] JiaLiPassion commented on #618
@andtii, could you provide another version of the same example without zone.js? thanks.

[2017-02-21 13:04] andtii commented on #618
@JiaLiPassion Now i commented out the include of zone.js and everything works

[2017-02-21 13:15] rsnider19 commented on #638
Awesome! Thanks!

[2017-02-21 16:28] JiaLiPassion commented on #618
@andtii, it seems I can't login into it anymore ,could you check it and change the demo to with zone.js version, and could you use the attached version of zone.js ? thank you .

[zone.js.zip](https://github.com/angular/zone.js/files/782604/zone.js.zip)

[2017-02-22 08:50] andtii commented on #618
@JiaLiPassion I have updated the zone.js to your version, also sent you new login information

[2017-02-22 13:07] JiaLiPassion commented on #618
@andtii, thank you so much for your help, it seems this version's zone.js fixed the problem, I right click the menu, and no error occurs, and I checked the code, that the popupMouseOverParent will not infinite loop again,  could you check it?

[2017-02-22 14:14] KoenigLear commented on #618
In my environment the error remains with (zip from -22hours) zone.js?fad3:155 Uncaught RangeError: Maximum call stack size exceeded and also Uncaught TypeError: Error.create is not a function
at SP.Ribbon.PageManager.addPageComponent (/_layouts/15/cui.js?) when loading the page.

[2017-02-22 15:11] andtii commented on #618
@JiaLiPassion The error still happens, maybe not the first time you right click but after 2 or 3.

[2017-02-22 15:12] andtii commented on #618
Also as @KoenigLear says we have another issue with SP.Ribbon.PageManager.addPageComponent but lets  try fix this one first

[2017-02-22 18:10] webbjohn opened #643 "Cannot read property 'length' of null in _updateTaskCount"
When trying to add Bing maps to an Angular 2 and 4 app, the map freezes the second time you try to zoom.

**I'm submitting a ...**  (check one with "x")
[code]

**Zone.js version:** 0.7.7 and 0.7.6

**Current behavior**
Throws error and freezes the second time the map is zoomed (either by clicking the zoom button or scrolling).

**Expected behavior**
The map should continue to zoom.

**Minimal rep

[2017-02-22 19:45] webbjohn commented on #643
It looks like this issue is being handled. Looks like it was mentioned here: https://github.com/angular/zone.js/issues/638#issuecomment-280926207

And the pull request is pending: https://github.com/JiaLiPassion/zone.js/commit/cfb5c696c88af5ca1ef8587faf6fe95ebdcdf32c

[2017-02-22 19:45] #643 closed

[2017-02-23 08:57] JiaLiPassion commented on #618
@andtii, I made another test version, please help me to upload it, and if it is possible, please tell me how to update the test version of zone.js, thank you.
[zone.js.zip](https://github.com/angular/zone.js/files/795966/zone.js.zip)

[2017-02-23 09:37] andtii commented on #618
@JiaLiPassion You got mail :)

[2017-02-23 09:38] JiaLiPassion commented on #618
@andtii , thank you :)

[2017-02-23 10:01] andtii commented on #618
@JiaLiPassion  This version seems to fix the issue, also the SP.Ribbon.PageManager.addPageComponent problem is gone. Can you verify this aswell @KoenigLear @AndriiDidkivsky

[2017-02-23 10:03] JiaLiPassion commented on #618
@andtii , Thank you for your great help! That's great!

[2017-02-23 15:45] Ibrahim-Islam opened #646 "Change detection issues in Office add-in after upgrading from 2.0.0 to 2.4.4"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Have to manually do `this.cd.detectChanges()` to reflect changes in UI.

**Expected behavior**

Did not have to do `this.cd.detectChanges()` to reflect changes.

**Minimal reproduction of the problem with instructions**

[code]
The above code as it was running fine in version `2.0.0` but had to be changed as shown below a

[2017-02-23 15:50] JiaLiPassion commented on #646
@Ibrahim-Islam , please provide an environment to reproduce, I checked your post in angular/angular#14673, it is a very special environment, so could you provide some sample application and how to install manual for debug?

[2017-02-23 15:55] KoenigLear commented on #618
@andtii @JiaLiPassion looking great!   The recursive popmenu e.g. maximum call stack error is gone.  however I still see the Uncaught TypeError: Error.create is not a function
    at SP_Ribbon_PageManager.CUI_Page_PageManager$addPageComponent [as addPageComponent]

[2017-02-23 15:58] JiaLiPassion commented on #618
@KoenigLear , Thank you for confirming the issue, Error.create should be another problem, could you provide a demo to reproduce? I can guess the reason of this error, but I still need to confirm it.

[2017-02-23 16:09] KoenigLear commented on #618
@JiaLiPassion you should still be able to reproduce it in @andtii 's environment.    I just add zone.js to the page and just by loading it and looking at the console you'll see the error.  (It looks like a clash name with the Error global).  At least that's the way I reproduce it on my environment (on premises unfortunately).

if (!CUI.ScriptUtility.isNullOrUndefined(this.$2o_1[component.getId()])

[2017-02-23 16:11] JiaLiPassion commented on #618
@KoenigLear , could you send me the url? I can't see the error in @andtii's environment.

[2017-02-23 16:18] KoenigLear commented on #618
@JiaLiPassion

In a new publishing site (via cog wheel, site settings, new subsite, title: angular2, url: angular2, template: Publishing: Publishing site.

I insert a code script via Edit/Insert/Embed code  <script text="javascript/text" src="...zone.js"> </script>

![ribbon_error](https://cloud.githubusercontent.com/assets/19749651/23267592/197badf2-f9e3-11e6-8aae-066ffbeaa09c.png)

[2017-02-23 16:32] JiaLiPassion commented on #618
@KoenigLear , thank you , I can reproduce it and I have found the reason, I will post a PR to fix it.

[2017-02-23 21:18] naveedahmed1 commented on #638
Should this PR also fix the issues reported here https://github.com/angular/angular/issues/14683#issuecomment-282119653

[2017-02-24 02:18] JiaLiPassion commented on #638
@naveedahmed1 , yes, the same issue.

[2017-02-24 03:00] cedvdb commented on #513
I've somewhat the same use case as you had @jahtalab Could you clarify your code however ? If I understand correctly it checks if the user has already specified '__rootZoneSpec__' and if so make that spec the new spec for the root zone (thus allowing us to have onInvokeTask.

[2017-02-24 06:15] rolandjitsu commented on #616
I have the same issues. Check [angular-lab](https://github.com/rolandjitsu/angular-lab) repo.

[2017-02-24 08:11] Ibrahim-Islam commented on #646
@JiaLiPassion I can give you a sample application and also instructions on how to debug or step through it. But since this in only reproducible in Outlook Desktop. You have to install it and sideload the sample app yourself. Will that do?

[2017-02-24 09:01] JiaLiPassion commented on #646
Yes,sure,a simple manual will help!

[2017-02-24 13:21] JiaLiPassion opened #649 "zone.js build/test/clang-format will fail because version upgrade"
1. clang-format will fail because clang-format upgrade to 1.0.48, and after upgrade to 1.0.48, the code will be format to strange format.

such as
[code]

will be format to

[code]

2. update typescript to 2.1.5 will cause test failed (SystemJS exports not found)
3. @types/jasmine will also cause compile error with typescript 2.0.x

[2017-02-26 15:04] naveedahmed1 commented on #638
@JiaLiPassion btw when should we expect it to be released?

[2017-02-26 15:08] JiaLiPassion commented on #638
@naveedahmed1 , I think it is under review. It will take some time, Thank you.

[2017-02-26 15:12] naveedahmed1 commented on #638
Is it possible to use the version with your submitted pr while its under review?

[2017-02-27 01:29] JiaLiPassion commented on #638
@naveedahmed1 , sure ,you can use the attached file to test.
[zone.js.zip](https://github.com/angular/zone.js/files/802489/zone.js.zip)

[2017-02-27 14:15] calidion opened #653 "locale not working after updated"
version change:

0.6.26  →   0.7.7
moment.locale('zh-CN');

not working.

[2017-02-27 14:16] JiaLiPassion commented on #653
what's the error?

[2017-02-27 14:20] calidion commented on #653
@JiaLiPassion

no error, just results turned to english from chinese.

[2017-02-27 14:21] JiaLiPassion commented on #653
could you post a plunker to reproduce? only zone.js was upgraded, is that right?

[2017-02-27 14:35] calidion commented on #653
seems not.  upgraded with many dependencies.
I would when i have time.
thanks.

[2017-02-27 14:36] calidion commented on #653
seems not.  upgraded with many dependencies.
I would when i have time.
thanks.

[2017-02-27 18:37] AAAnderson7301 commented on #618
@JiaLiPassion  I tried ussing your pull request but I am still getting the error "Error.create is not a function" My project is the auto generated project from Angular CLI. I just uploaded the files from the build and added them to a script web part.

![image](https://cloud.githubusercontent.com/assets/8826208/23374339/db586076-fcf1-11e6-8405-8448653b05db.png)

[2017-02-28 00:12] JiaLiPassion commented on #618
@AAAnderson7301 , could you try this attached file again?  thank you.
If the error still exists, just help to debug Error's all properties.
[zone.js.zip](https://github.com/angular/zone.js/files/805368/zone.js.zip)

[2017-02-28 00:46] JiaLiPassion commented on #618
@andtii, @KoenigLear , could you help me to upload this attached version to see the infinite loop and Error.create is fixed or not?
and @andtii, could you upload this zone.js to the test environment, so if it is not fixed, I can continue to debug, thank you!

[zone.js.zip](https://github.com/angular/zone.js/files/805368/zone.js.zip)

[2017-02-28 07:54] andtii commented on #618
@JiaLiPassion You already uploaded it?

[2017-02-28 07:55] NicolasR commented on #618
Hi,

Your fix seems to work on my side.
Tested on SharePoint 2013 on premise.

[2017-02-28 09:20] JiaLiPassion commented on #618
@andtii, yes, I update zone.js and angular2.bundle.lib.js(I just download this file, and replace my fix of zone.js parts) and re-upload  angular2.bundle.lib.js, no error occur, could help me to double check the two errors? thank you

[2017-02-28 09:20] JiaLiPassion commented on #618
@NicolasR , thank you for confirm.

[2017-02-28 11:16] Ibrahim-Islam commented on #646
@JiaLiPassion I have been able to recreate the issue in a sample app that you can find [here](https://github.com/Ibrahim-Islam/ng2-outlook-imgur). Please follow the directions mentioned in the readme to get it up and running and sideload the app in your Outlook Mail or preferably in Office 365 Mail. Once you get up to that I can take you to Outlook Desktop from there.

[2017-02-28 12:01] JiaLiPassion commented on #646
@Ibrahim-Islam , sure ,I have successfully installed the addin, how to reproduce the issue?

[2017-02-28 12:19] Ibrahim-Islam commented on #646
@JiaLiPassion That was fast! Next you need to install Outlook Desktop 2016.
1. Link up your account with Outlook Desktop
2. Open a new appointment window
![hffg](https://cloud.githubusercontent.com/assets/6401874/23404738/b1742a66-fde0-11e6-864c-d30b0f1f063c.png)
3. You should see your add-ins in your account in the ribbon or you can access it from "Office add-ins" menu:
![errfg](https://cloud.git

[2017-02-28 12:22] JiaLiPassion commented on #646
@Ibrahim-Islam , sure ,I will try those steps later, and how to reproduce the issue?

[2017-02-28 12:58] Ibrahim-Islam commented on #646
@JiaLiPassion The issue is that there is no automatic Change detection by default like I mentioned above. The same app is working fine in Chrome inside Outlook web without any `tick()` or `detectChanges()` but for the change detection to work inside Outlook desktop the following has to be done as shown here: https://github.com/Ibrahim-Islam/ng2-outlook-imgur/blob/master/src/app/%2Balbums/albums.co

[2017-02-28 13:12] JiaLiPassion commented on #646
@Ibrahim-Islam , I will install outlook and try later, I want to know the reproduce steps, how can I run to https://github.com/Ibrahim-Islam/ng2-outlook-imgur/blob/master/src/app/%2Balbums/albums.component.ts#L49-L53, I need to login with imgur? and then click some buttons?

[2017-02-28 13:39] Ibrahim-Islam commented on #646
@JiaLiPassion Yes. If you basically login with imgur. It will try to fetch the account's albums and show it in the albums component. I did it this way because it mimics how our actual app works. If you mean running inside outlook office 365 then it should not complain and if it does then just allow and continue. Otherwise, you would have to launch it through VS and IIS Express and that would just

[2017-02-28 13:43] JiaLiPassion commented on #646
@Ibrahim-Islam , ok I see. thank you.

you mean IE 11 outlook web apps also work without detectChange or tick()?

[2017-02-28 14:11] Ibrahim-Islam commented on #646
@JiaLiPassion Yes they seem to be working in IE 11 in outlook web. But do not take my work for it. You can try it out as well.

[2017-02-28 16:02] KoenigLear commented on #618
@JiaLiPassion yes working great for me me no errors whatsoever!

[2017-02-28 16:09] JiaLiPassion commented on #618
@KoenigLear , Thank you for confirm.

[2017-02-28 16:10] AAAnderson7301 commented on #618
@JiaLiPassion. It turns out the issue was a polyfill was setting the global namespace Error before SharePoint is able to finish loading. I even tried waiting for the file that was calling Error (O365ShellG2Plus.js) but then it never fired the callback. I am using SharePoint online. I ended up just throwing a script in my angular project to handle the issue. Not the best but it works for what I nee

[2017-02-28 16:14] JiaLiPassion commented on #618
@AAAnderson7301 , yes, zone.js override the global Error, and sharepoint add some methods to it, so the order of js loading matters, based on the environment @andtii provided, the sharepoint related js will loaded before zone.js and angular polyfill, so please make sure your env is the same order.

[2017-03-01 03:02] JiaLiPassion commented on #646
@Ibrahim-Islam , I can debug the application now, and after I login, I can see the images in the album immediately. that is the behavior you expect, right?

I modified a little code in album.component.ts

[code]

[2017-03-01 09:29] Ibrahim-Islam commented on #646
@JiaLiPassion Were you able to get the application running as expected in a browser or inside Outlook desktop? Like I mentioned earlier and also in the comments, `AlbumsComponent` is loaded but the changes are not reflected in the view unless I explicitly and manually `detectChanges()` or `tick()`.

[2017-03-01 09:41] JiaLiPassion commented on #646
@Ibrahim-Islam , I run the application inside Outlook desktop, and what I do is

1. login with imageur
2. popup window to login
3. after login,begin to load album
4. two images were loaded and displayed in page.

I did not call detectChanges or tick.

Is this the correct behavior?

[2017-03-01 10:00] Ibrahim-Islam commented on #646
@JiaLiPassion Yes. That is the correct and expected behavior. Makes me wonder why its not working at my end. Can you please give more details on your environment like OS, Outlook version, etc.

[2017-03-01 10:40] JiaLiPassion commented on #646
@Ibrahim-Islam , I test it again , and this time, it not working....
And I think I know the reason why it is not refresh.

[code]

The dialog.addEventHandler are not patched by zone, so the code run inside callback will
run in root zone, so nothing will refresh.

the solution will be

[code]

use zone.wrap to make callback in zone.

In the future, maybe zone.js can patch Office UI event as well

[2017-03-01 10:45] #69 closed

[2017-03-01 11:54] Ibrahim-Islam commented on #646
@JiaLiPassion Thanks. That seem to do the trick.

[2017-03-01 11:54] #646 closed

[2017-03-01 17:30] lukeclifton opened #654 "'Error: Zone already loaded' Conflict on Squarespace website"
I have developed a simple Angular app built using Angular CLI. Works fine on a demo site in production mode.
When i try and include within a website running on [Squarespace](https://www.squarespace.com/) i get the following error:

[code]

I have ensured that my packaged Angular app script is only being included once.
I can only presume that the Squarespace CMS is already including Zone.js perhaps

[2017-03-02 00:47] JiaLiPassion commented on #654
@lukeclifton , could you provide a sample page to reproduce?

[2017-03-02 09:02] andybandy89 commented on #618
Also with the zone.js version you uploaded here, I still receive this error. I also tried to add the script files I get from angular cli to a script editor webpart. To be sure all SharePoint Scripts loaded, for debugging I add the scripts to body after some seconds.

![image](https://cloud.githubusercontent.com/assets/15612874/23500158/4ea3367a-ff2f-11e6-8f4e-b863bdbe59ee.png)

If I add the code @

[2017-03-02 09:06] JiaLiPassion commented on #618
@andybandy89 , can you provide a test environment? The 2nd screenshot it seems you call err.popStackFrame method, this method should be a function property of Error, so I think it should be called as

[code]

[2017-03-02 10:55] andybandy89 commented on #618
@JiaLiPassion , it's unbelievable. I'm struggling with that for hours now but when I setup a test environment for you everything works. I'll have to investigate the differences of the two environments.

[2017-03-02 10:57] JiaLiPassion commented on #618
@andybandy89 , sure, please notify me when you have further information.

[2017-03-02 13:29] andybandy89 commented on #618
@JiaLiPassion , only one of our SharePoint Farm throws errors. For now I'll develop the solution on another one and investigate more later. The important thing on the other farms also is to ensure the correct loading order of the JavaScripts.

[2017-03-02 13:44] JiaLiPassion commented on #618
@andybandy89 , ok, got it.

[2017-03-02 16:10] alexi2014 opened #656 "clearInterval on a destroyed interval raises an exception"
The following piece of code raises "TypeError: Cannot read property 'length' of null" exception in Zone._updateTaskCount:
[code]

Here's a repro plunker - check console log after you open it:
[https://plnkr.co/edit/S0haHUHmxrZHmRql2EjY?p=preview](https://plnkr.co/edit/S0haHUHmxrZHmRql2EjY?p=preview)

As I understand, duplicate call to clearInterval on the same interval should not raise an exceptio

[2017-03-02 16:11] JiaLiPassion commented on #656
@alexi2014, this has been fixed by this PR #642, please wait for the next release.

[2017-03-02 16:23] alexi2014 commented on #656
Nice, thanks!
Could you advise me to what zone.js version I need to downgrade my app to get rid of this exception (it seems to be a recently introduced regression)?

[2017-03-02 16:29] JiaLiPassion commented on #656
@alexi2014, you can downgrade to 0.7.6, the error will disappear.

[2017-03-02 16:44] alexi2014 commented on #656
@JiaLiPassion - indeed, thank you so much!

[2017-03-02 18:00] lukeclifton commented on #654
@JiaLiPassion Yes good idea. I've setup a new demo website on Sqaurespace.
Intrestingly i now have a different error (see screenshot).
I think this is happening because the Squarespace theme is already WebPack on the page and its conflicting.

So perhaps this is not a specific Zone.js issue but more of a WebPack issue?

![screen shot 2017-03-02 at 17 56 50](https://cloud.githubusercontent.com/asse

[2017-03-02 18:03] lukeclifton commented on #654
Intrestingly when previewing the site within the admin the app loads without errors. (Ignore the CORS errors, thats expected)
![screen shot 2017-03-02 at 17 55 36](https://cloud.githubusercontent.com/assets/7794283/23520339/72336c7a-ff72-11e6-93b4-5f838a920015.png)

[2017-03-02 20:54] devoto13 opened #657 "Error caused by patched XMLHttpRequest"
We're using Angular with Zone.js 0.7.7 in the WebView in our mobile application. The problem is that quite often we get [following error](https://github.com/angular/zone.js/blob/v0.7.7/dist/zone.js#L445-L447):

    Error: macroTask 'XMLHttpRequest.send': can not transition to 'running', expecting state 'scheduled', was 'notScheduled'.

Real application is complex, but we managed to come up with a

[2017-03-02 21:50] MerlinMartel commented on #618
I confirm, it's working for me too, with my SharePoint Online tenant version : 16.0.6223.1203.
thx a lot for this !!

When can we expect to have this fix in package ?

[2017-03-03 00:20] JiaLiPassion commented on #654
@lukeclifton , can you package your angular2 app without uglify(minify)?

[2017-03-03 01:46] JiaLiPassion commented on #657
@devoto13 , thank you for posting the issue and the steps to reproduce.
I just debug it, find out sometimes the XMLHttpRequest.onreadystatechange will be fired multiple times with readyState=4. So I made a PR to add check to prevent that in zone.js. And I test it with your repo, the error is gone.

[2017-03-03 01:50] JiaLiPassion commented on #618
@MerlinMartel , thank you for confirm, I think it is under review, please wait for a moment.

[2017-03-03 11:40] johnstaveley commented on #616
I have the same issue running Selenium tests on zone.js 0.7.7, FF 51.0.1 and Selenium WebDriver 3.0.1. Same error as reported above

[2017-03-03 11:48] AshMcConnell commented on #381
@lpenet we are having trouble getting protractor to test our app with a websocket.  Did you ever get a workaround?

[2017-03-03 12:24] lpenet commented on #381
Le 2017-03-03 12:48, Ash McConnell a écrit :

Sadly, I added a parameter to disable websockets on tests with
protractor...

Ludovic

[2017-03-03 13:44] AshMcConnell commented on #381
Thanks Ludovic

That's a shame as that's really the big advantage of protractor (it's angular integration).  So it's essentially broke for Angular 2 if you use websockets (which a lot of people will for hot reloading during development).

Has anyone else got any workarounds?

[2017-03-03 14:06] devoto13 commented on #657
Thank you @JiaLiPassion for a quick fix! I tried Zone.js with your fix in the test application and it seems to work well. I'll try it in the real application as well on Monday and will get back.

Do you think we should report this issue with `onreadystatechange` being called multiple times to the WebKit/Safari developers as well?

[2017-03-03 14:11] JiaLiPassion commented on #657
@devoto13, it seems that the issue has already been reported, but their cases are hard to reproduce,   your case is very easy to reproduce, so I think it will be helpful to report your case to them:)

[2017-03-03 14:14] devoto13 commented on #657
Okey, thanks! Will take care about it next week as well.

[2017-03-03 14:40] JiaLiPassion commented on #381
@AshMcConnell , can you post a reproduce repo?

[2017-03-03 14:42] JiaLiPassion commented on #616
@rolandjitsu @johnstaveley , can you tell me how to reproduce the issue? I use the angular-lab repo, but I don't know how to configure the protractor to run with Firefox 51.

[2017-03-03 14:53] AshMcConnell commented on #381
I'll try to create one

[2017-03-03 18:44] GiuseppePiscopo commented on #384
It looks like this issue could be closed, by now

[2017-03-03 19:03] #654 closed

[2017-03-03 19:06] lukeclifton commented on #654
Identified that this issue is being caused by two scripts running the webpack plugin **CommonsChunkPlugin**. Both are using the global variable `window.webpackJsonp`.

Closing this issue as its not really a Zone.js issue.

[2017-03-03 19:10] lukeclifton commented on #654
Just found the following webpack config option:
`**output.jsonpFunction**`

The docs says:
The JSONP function used by webpack for async loading of chunks.
Use a different identifier when having multiple webpack instances on a single page.

Only wish i had seen this earlier!

[2017-03-04 09:01] rohan2934 commented on #465
![capture](https://cloud.githubusercontent.com/assets/13061832/23577515/24ba2a8a-00e7-11e7-86ac-35077889f96d.PNG)

Got this error every time i run my web app

[2017-03-05 13:12] rolandjitsu commented on #616
@JiaLiPassion just use `capabilities: {browserName: 'firefox'}` I guess. It should work if you have firefox installed. You can also set the binary path to Firefox.

[2017-03-06 03:37] JiaLiPassion commented on #616
@rolandjitsu , I have tried to add a capabilities {browserName: 'firefox'}, it is not working, the protractor complains can't download firefoxdriver, it seems that webdriver doesnot support firefox 50

[2017-03-06 05:19] rolandjitsu commented on #616
As far as I know, Firefox is supported, it just seems to be an issue with selenium, see https://github.com/angular/protractor/issues/886#issuecomment-274246993

[2017-03-06 07:52] johnstaveley commented on #616
I'm not using protractor, I'm just running web tests using C# on zone.js 0.7.7, FF 51.0.1 and Selenium WebDriver 3.0.1 but it is the same issue. There is a dynamic component built using Angular 2 it fails to find (the first it tries to find). It fails with the error message above on:

_wait.Until(ExpectedConditions.ElementIsVisible(by));

where by is find the element by id

[2017-03-06 19:01] tbosch opened #661 "long-stack-trace zone breaks SourceMaps on stack traces"
Looks like the extra line in the stack trace breaks source maps (e.g. `  -------------   Elapsed: 4137 ms; At: Mon Mar 06 2017 11:00:38 GMT-0800 (PST)   -------------  `).

This does not work (which is used by long-stack-trace zone)
[code]

This works:
[code]

[2017-03-07 00:14] #638 closed

[2017-03-07 00:15] #618 closed

[2017-03-07 00:16] #649 closed

[2017-03-07 00:33] #657 closed

[2017-03-07 10:13] martvaha opened #663 "Zone.js tries to mutate immutable Error"
I am not sure whether it is a bug or not but after 0.7.5 I get an error with every dispatched action containing an Error as payload. The error occurs in development mode because I am using [ngrx-store-freeze](https://github.com/codewareio/ngrx-store-freeze) to prevent inadvertent state mutations and it seems to make action payloads immutable.

Here is the error message:
[code]

Everything works fi

[2017-03-07 14:34] jankei opened #664 "Registering on-event handlers on the window object should be scheduled"
```window.addEventListener('resize', ...)```
is being scheduled
```window.onresize = ...```
is not
tested on other events like click and load

the on-event syntax works on HTMLButtonElement

[2017-03-07 21:00] JiaLiPassion commented on #663
@martvaha , can you provide a plunker or repo to reproduce?

[2017-03-07 21:00] JiaLiPassion commented on #664
@jankei , I will make a PR to patch it.

[2017-03-07 21:24] naveedahmed1 commented on #656
@mhevery should your recent merge https://github.com/angular/zone.js/commit/eb9250da94b29fc0502b0d7f12069e36adebfeac also fix this issue?

[2017-03-07 21:26] JiaLiPassion commented on #656
@naveedahmed1 , yes , it also fix this one.

[2017-03-07 21:28] naveedahmed1 commented on #656
So this issue can also be marked as closed. Can you please also share when should we expect next release with this fix?

[2017-03-07 21:29] JiaLiPassion commented on #656
@naveedahmed1 , yes, this can be closed, sorry I don't know when it will be released, but I think it will be released soon.

[2017-03-07 22:11] #455 closed

[2017-03-08 05:27] mhevery commented on #656
I am hoping to cut a release this week.

[2017-03-08 05:27] #656 closed

[2017-03-08 10:22] martvaha commented on #663
Here's a simple plunker: https://plnkr.co/edit/cfPhi4pXtGuwsOk9Yqi4

[2017-03-08 17:30] pastur commented on #636
http://weblogs.thinktecture.com/thomas/2017/02/cordova-vs-zonejs-or-why-is-angulars-document-event-listener-not-in-a-zone.html

[2017-03-08 18:18] ssougnez opened #666 "Overriding native function can lead to unwanted side effect"
I'm currently trying to start a project with "angular4" and "ckeditor5" and I noticed that I'm not able to use "ckeditor5" because of "zone.js". The thing is that "ckeditor5" is using "isNative" method from "lodash" library to determine if "addEventListener" is a native method or not and then, based on that, do its stuff. However, when "zone.js" is included un the page, "isNative" returns "false"

[2017-03-09 15:45] JiaLiPassion commented on #663
@martvaha , there is a walk around https://plnkr.co/edit/W6x3ej4nI663eMhOOozc?p=preview, I would like to consider it more deeply to find out zone.js should fix it or not.

[2017-03-09 18:18] martvaha commented on #663
Alright, thanks for the workaround in the meantime.

[2017-03-09 20:46] zzx88991 opened #667 "Wrapper function doesn't return orignal function's result"
I am using ASP.NET Webform (yeah,  it is legacy code..) with `<asp:UpdatePanel> `and `<AsyncPostBackTrigger>`.
When a button click triggers a async postback, `event.onsubmit` from `<form onsubmit="javascript:return WebForm_OnSubmit();">` will be called and return the validation result. However it is not returned once `zone.js` wraps the event handler, resulting the request not passing validation.

[2017-03-09 23:50] JiaLiPassion commented on #666
@ssougnez, thank you for reporting the issue, we will make isNative return true for all methods which were patched by zone.js

[2017-03-10 00:02] JiaLiPassion commented on #667
@zzx88991 , thank you for posting the issue, I will make a PR to fix it.

[2017-03-10 02:25] Kaffiend opened #669 "Electron - Zone and change detection."
I realize that the MongoDB calls are running outside of zone when used in electron. Is there a more efficient manner of getting the callbacks to work with zone so change detection works properly? Other than running the callbacks through zone.run()? or calling detectChanges manually?
[code]
`invalidLogin` is bound in the template for showing an alert and it doesnt updated properly unless run throug

[2017-03-10 11:38] ssougnez commented on #666
Cool, thanks :-D

[2017-03-10 18:39] christophmegusta commented on #455
Hi thanks a lot for the patch, @JiaLiPassion .

Unfortunately with current Zone 0.7.8 it doesnt work for us. The patch is loaded and patching the Bluebird, but we still get the error on startup of our angular2 app.

    Error: Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten. Most likely cause is that a Promise polyfill has been loaded after Zone.js (Polyfi

[2017-03-11 00:20] JiaLiPassion commented on #455
@christophmegusta , can you provide a reproduce repo or plunker? I would like to find out why zone.js complain

And could you tell me more about

a reproduce code or repo will help, thank you.

[2017-03-11 00:21] JiaLiPassion commented on #669
@Kaffiend , we will patch mogodb callback later.

[2017-03-11 11:39] aabluedragon opened #671 "Using webcomponentsjs polyfill makes RxJS callbacks run outside NgZone on Safari"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Including the `webcomponentsjs` polyfill versions `<=0.7.24` (for usage with Polymer1 `paper-elements`) makes RxJS callbacks (e.g subscribe, map) execute *outside* NgZone.

**Expected behavior**
RxJS callbacks should execute inside NgZone.

**Minimal reproduction of the problem with instructions**

1. Install webcomponents

[2017-03-12 05:30] JiaLiPassion commented on #671
@aabluedragon , thank you for posting the issue, and the reproduce repo. the reason seems to be in Safari, XMLHttpRequest define addEventListener in it's prototype without using EventTarget's.
I will try to fix it.

[2017-03-12 21:44] myquery commented on #530
@mhevery i made changes to browser.ts, though seem not find a test/browser/XMLHttpRequest.spec.ts. but error still persist. any work around?

[2017-03-13 01:53] JiaLiPassion commented on #671
[dist.zip](https://github.com/angular/zone.js/files/837100/dist.zip)
@aabluedragon , you can try this one.

[2017-03-13 02:01] JiaLiPassion commented on #530
@myquery , can you provide more details? a reproduce repo will help. and what the changes you made to browser.ts?

[2017-03-13 04:12] myquery commented on #530
`/**
 * @license
 * Copyright Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://angular.io/license
 */

import {patchTimer} from '../common/timers';
import {patchClass, patchMethod, patchPrototype, zoneSymbol} from '../common/utils';

import {propertyPatch} from './define-property';
import {eventTa

[2017-03-13 12:28] hxuanhung commented on #663
I got the same problem with zone.js 0.8.0 and ngrx-store-freeze.

[2017-03-13 17:23] #671 closed

[2017-03-13 23:11] aabluedragon commented on #671
@JiaLiPassion Thanks, it works as expected 👍

[2017-03-14 12:36] lorenzodallavecchia commented on #455
I searched the very first fix that I was using, based on `setScheduler`. It is actually a bit different than the one in #655.

[code]

The idea is to wrap the task callback in the current Zone.

If I recall correctly, the problem was that sometimes the scheduler function is called outside of every zone (in the root zone that is). As a result `Zone.current` means "root zone", causing the scheduled

[2017-03-14 12:39] JiaLiPassion commented on #455
@lorenzodallavecchia , yeah, in my first fix, I patch _then to do the work, maybe that solution will resolve the issue, but first could you give some code sample about how to reproduce the outside(root) zone case?

[2017-03-14 12:45] paulsouche opened #674 "0.8.1 breaks on phantomJS"
Hi,

I have an issue since this [commit](76fa891b88f85bb975ac69c23e620c915e71bf84) on phantomJS 2.2.1.

[code]

Line is [here](https://github.com/angular/zone.js/blob/master/lib/zone.ts#L1792)

I think one of the property stack or zoneAwareStack must be readonly but I can't figure out why ? Everything works fine on chrome or when downgrading on 0.8.0.

Thanks

[2017-03-14 12:48] JiaLiPassion commented on #674
@paulsouche , could you provide a reproduce repo? the code https://github.com/angular/zone.js/blob/master/lib/zone.ts#L1792 not newly added in 0.8.1, so maybe some other logic goes wrong. thanks.

[2017-03-14 13:08] paulsouche commented on #674
@JiaLiPassion we have several private repositories but you can reproduce with [this starter](https://github.com/paulsouche/ionic2-webpack2-starter). I've just updated it to have same dependencies.

[2017-03-14 14:20] JiaLiPassion commented on #674
@paulsouche , thank you for the repo, I think I have found the reason , and I will fix it soon.

[2017-03-14 14:47] paulsouche commented on #674
Great ! Glad it helps. Thank you for the great work anyway

[2017-03-14 21:15] #674 closed

[2017-03-15 06:45] GZidar opened #679 "Error when trying to clean up spies after running jasmine tests since jasmine 2.5.0"
A change in the way that jasmine is cleaning up its spies means that as of version 2.5.0 of that testing framework the test results will not display in the browser window when using the tool in conjunction with zone.js patching.

This issue can be reproduced using any of the angular 2 testing samples if the package definitions for jasmine are updated to 2.5.0 or higher. The developer of Jasmine ha

[2017-03-15 06:58] JiaLiPassion commented on #679
@GZidar, could you provide a reproduce sample repo with the package.json included? Thank you.

[2017-03-15 08:26] paulsouche commented on #674
Everything's fine since 0.8.2. Thank you

[2017-03-15 08:32] krassx commented on #620
Any progress on it? I am still getting these poor stack traces with latest version on Zone.js

[2017-03-15 08:56] JiaLiPassion commented on #620
@krassx, I think it is my misunderstanding, you want a more informative stack trace which means you want the stack with zone information like zone name?

[2017-03-15 10:59] krassx commented on #620
I want the stack to point to the true source of the error. It seems like Zone loses context in that case.

After digging through source of the http/https/net modules, it seems to me that afterConnect callback is called without being bound to the Zone which triggered the network operation. So, looking at this callstack I have no idea where to look for the source of error.

[2017-03-15 14:39] JiaLiPassion commented on #620
@krassx , so you mean you want the stack to trace the real source of error before afterConnect?
did you try longStackTrace?

[2017-03-15 15:10] AngelCastilloB commented on #657
Hi, I have a very similar error with 7.7 and higher. I have an Angular2 app connected to a meteor server, and if I update my zone.js version from 7.2 to 7.7 I get the following error everytime I close the browser with the application loaded:

This crash the server (with said error). I dont have any issue with version 7.2, havent tried any intermediate versions, but definetly have the issue with 0.

[2017-03-15 15:12] JiaLiPassion commented on #657
@AngelCastilloB , can you provide a reproduce repo? thank you.
it seems that Socket has been cancelled (closed maybe) .

[2017-03-15 15:27] JiaLiPassion commented on #667
@zzx88991 , I have further question about this one, I am not familiar with ASP.NET, current zone.js implementation just call event.preventDefault when eventHandler return false, so in your code, the form will not submit but you will directly use the eventHandler return value somewhere else, is that right?

[2017-03-15 19:31] zzx88991 commented on #667
Yes, you are right. The eventHandler is called somewhere else before the the form is submitted. I am just curious why `wrapFun` doesn't `return  result`

[2017-03-16 00:03] JiaLiPassion commented on #667
@zzx88991 , yes, it should return , I just want to create test case to prove it.

[2017-03-16 00:24] JiaLiPassion commented on #661
@tbosch , I would like to look into this issue, based on the https://github.com/angular/angular/issues/15185, the source map will not be correct when SyntaxError, so I just modify the html template with some wrong syntax , so I can reproduce? If you can provide a reproduce repository, it will help, thank you.

[2017-03-16 03:16] GZidar commented on #679
[repro.zip](https://github.com/angular/zone.js/files/846584/repro.zip)
The attached zip hopefully shows the error in action. If you want the error to go away change the version of jasmine-core in package.json back down to 2.4.1 and reinstall to get it working, but the sample as it stands will (hopefully) show the bug in action.

[2017-03-16 10:15] krassx commented on #620
Yes. Exactly.

No, I didn't. Will give it a try. Will respond shortly.

[2017-03-16 11:24] AngelCastilloB commented on #657
@JiaLiPassion The application is very complex, I will try to figure out how to create a simple app that reproduce it.

[2017-03-16 14:42] JiaLiPassion commented on #657
@AngelCastilloB , sure , thank you!

[2017-03-17 06:40] #667 closed

[2017-03-17 08:33] ssougnez commented on #666
Hi, would you have an estimate of the date for the release of the version with this fix?

Thanks

[2017-03-17 09:23] JiaLiPassion commented on #666
Sorry for the late reply,I will try to fix this one this weekend, I will update the status here.

[2017-03-17 09:25] ssougnez commented on #666
Awesome, thanks a lot.

[2017-03-17 15:51] DzmitryShylovich opened #684 "zone.js prints into the console: Error: STACKTRACE TRACKING"
Repro: http://plnkr.co/edit/lU32vBJY9KYXZUTW7GQQ?p=preview

Probably related to https://github.com/angular/zone.js/issues/661 (https://github.com/angular/angular/issues/15185#issuecomment-287306883)

[2017-03-18 12:06] JiaLiPassion commented on #679
@GZidar , I just try your repo, and I don't think it is a zone.js problem, you can try the attached systemjs.config.js, it should work, and you can also see this page for custom_boot of jasmine.
[systemjs.config.js.zip](https://github.com/angular/zone.js/files/852387/systemjs.config.js.zip)

[2017-03-18 13:29] JiaLiPassion commented on #666
@ssougnez , can you test the attached zone.js to see the problem is gone or not? thank you.
[zone.js.zip](https://github.com/angular/zone.js/files/852450/zone.js.zip)

[2017-03-18 13:48] JiaLiPassion commented on #663
zone.js 0.8.4 has resolved this issue, please update to it.

[2017-03-18 20:46] ssougnez commented on #666
@jribble , works like a charm ;-)

[2017-03-18 23:24] webtechy commented on #618
Has this fix been packaged into a release now?

[2017-03-19 00:59] JiaLiPassion commented on #666
@ssougnez , ok , thank you for confirm.

[2017-03-19 01:01] JiaLiPassion commented on #618
@webtechy , yes, this has been released, you can use the latest version to test.

[2017-03-19 01:38] webtechy commented on #618
OK, have updated it, and I was previously seeing:

I then ran:

`npm install zone.js@latest --save`

My webpack is as follows (it did warn about 2 dependencies, webpack and I forget the other):

[code]

However, I am now seeing:

[2017-03-19 02:06] JiaLiPassion commented on #618
@webtechy , the new error seems to be the security problem, the Error.create problem is gone.

[2017-03-19 21:59] webtechy commented on #618
True, but still related to Zone.js?

[2017-03-19 22:40] GZidar commented on #679
@JiaLiPassion your changes to the systemjs.config.js do allow the tests to run using the latest version of jasmine. Thank you for looking into this.