[2018-04-14 06:00] jochenhebbrecht commented on #933
Thanks @JiaLiPassion !

[2018-04-17 18:31] exequielc commented on #963
I get this error whit Zone 0.8.21
Error: Zone already loaded.
  at http://localhost:8100/build/vendor.js:130606:15
    at http://localhost:8100/build/vendor.js:131218:3
    at FUNCTION (http://localhost:8100/build/vendor.js:130583:10)
    at Object.<anonymous> (http://localhost:8100/build/vendor.js:130586:2)
    at Object.<anonymous> (http://localhost:8100/build/vendor.js:133666:30)
    at __webpa

[2018-04-17 18:34] JiaLiPassion commented on #963
@exequielc , please post a reproduce repo, it seems you required `zone.js` twice.

[2018-04-19 02:13] taras-mytofir opened #1077 "Promise.all indexing issue when combining non-zone.js promises"
When you use [Promise.all](https://github.com/angular/zone.js/blob/c8c599073b87025d44a4b7d6e2efea9cedfbd3e2/lib/common/promise.ts#L305-L331) for combining not only zone.js promises (e.g. WinJSPromise) you can fall into issue that Promise.all results into single element result.

Example of issue https://plnkr.co/edit/UO2QhIa5eeLm6tPAyAjt?p=preview.
Important part of the code(skipping WinJSPromise i

[2018-04-19 05:01] JiaLiPassion commented on #1077
@taras-mytofir , thank you for posting the issue, I will check it.

[2018-04-19 14:10] JiaLiPassion commented on #1077
@taras-mytofir , could you provide a reproduce repo?
I just added a test case like this.

[code]

And the test passes.

[2018-04-19 17:42] taras-mytofir commented on #1077
@JiaLiPassion example with one promise as WinJSPromise:
https://plnkr.co/edit/biopXhYkyxK9hhmQxlVh?p=preview

[2018-04-19 21:14] JiaLiPassion commented on #1077
@taras-mytofir, the code you provided failed because `WinJSPromise` not following the `Promise Spec` which was described  here https://promisesaplus.com/#point-67, `promise.then` should make sure run in `async` way, so the `callback` which was passed into `then` should not run in the current tick turn.

So I think you should report bug to `WinJSPromise`. Or you can `patch WinJSPromise` just like t

[2018-04-20 00:39] taras-mytofir commented on #1077
I see, thanks for looking into this!

[2018-04-20 03:25] dkosasih commented on #150
Happen to me when creating file
`new File([blob], 'fileEdit')`

Then I use this instead:
`<File>blob`

[2018-04-22 16:32] tao-cumplido commented on #1061
@JiaLiPassion
Is this supposed to work in 0.8.26 already?
I just updated but I am still experiencing the issue, or do I need to update Angular as well?

I have a test that looks kinda like this
[code]
The above test fails, while the one below succeeds
[code]

[2018-04-22 16:34] JiaLiPassion commented on #1061
@tao-cumplido, could you provide a reproduce repo?

[2018-04-22 16:41] tao-cumplido commented on #1061
@JiaLiPassion
Sure, I can try. It will probably take me a few days though. I will post it here as soon as I have it ready.

[2018-04-23 05:00] ArielGueta commented on #1050
Why it's closed? The problem still exists.

[2018-04-23 05:04] ArielGueta commented on #1050
[code]

[2018-04-23 05:30] JiaLiPassion commented on #1050
@ArielGueta, you need to import this file.

[code]

I have tested with your test code, it passed.

[2018-04-23 05:38] ArielGueta commented on #1050
Thanks for your response. I added this to the test.ts file (angular-cli):
[code]
And it's still not working. (zone.js version 0.8.26)

[2018-04-23 05:56] JiaLiPassion commented on #1050
@ArielGueta , I see, the `angular` side is not released yet, I used a local version to test.

you can use the following code for now. Please see the `fakeAsync/tick` import part.

[code]

[2018-04-23 06:01] ArielGueta commented on #1050
Yes, it's working, Thanks! Can we reopen it until it will be available in Angular?

[2018-04-23 06:04] JiaLiPassion commented on #1050
@ArielGueta , it has been merged in `Angular`, you can try `6.0.0-rc5`.

[2018-04-23 06:05] ArielGueta commented on #1050
We are on version 5. I think it should also be merged to version 5. Most of us are still in 5.

[2018-04-23 06:08] JiaLiPassion commented on #1050
@ArielGueta , I see, you can file an issue in `angular/angular`, I am not sure about the `merge policy`, but it is merged to `v5` branch, I think your issue will be fixed. For now, you can use the `fakeAsync/async` from `Zone` instead of from `angular`.

[2018-04-23 06:10] ArielGueta commented on #1050
I will. Thanks!

[2018-04-23 21:46] JiaLiPassion commented on #1050
@mhevery , do you think we should also merge https://github.com/angular/angular/pull/23108 and https://github.com/angular/angular/pull/23227 into `angular v5` branch? So user who use `angular v5` can get the new features of

- fakeAsync/Date.now support
- fakeAsync/rxjs scheduler support

Please review, thank you.

[2018-04-25 12:27] tao-cumplido commented on #1061
@JiaLiPassion
I haven't had time yet to try to isolate the problem, but I just tried to write a router redirection test with `fakeAsync` and again it didn't work where regular async/await did. So, I am not sure if maybe I got something fundamentally wrong in using `fakeAsync` and thought I'd ask before trying to further investigate the example above.

So, I wrote the following test and the version

[2018-04-25 16:55] JiaLiPassion commented on #1061
@tao-cumplido , for the router one, could you provide a repo?

[2018-04-25 18:16] tao-cumplido commented on #1061
@JiaLiPassion here you go https://github.com/tao-cumplido/fake-async-test

[2018-04-27 15:28] rudgal opened #1078 "Uncaught TypeError: Property '__zone_symbol__then' of object [object Promise] is not a function"
Observed this on Mobile Chrome/33.0.1750.170 using zone.js 0.8.26:
![__zone_symbol__then](https://user-images.githubusercontent.com/16487735/39369398-7a0fb802-4a3c-11e8-8e60-80fd033941e8.PNG)
Although that's a pretty outdated browser, I'm still reporting it just in case the issue occurs with other userAgents too.

I tracked the problem down to the following code snippet that patches the `then`-met

[2018-04-29 01:24] rbuenon opened #1080 "version 0.8.13+ causes ArcGIS maps version 3.xx to not register click events on IE11"
**Reproduction steps:**
- Create a new app with ng-cli: `ng new my-app`
- Run the app and open it on IE11 `ng start`
- Enable IE polyfills on `polyfills.ts`:
[code]
- Replace index.html contents with this:
[code]
-----

**Results: **
The map won't allow to click, double click or drag; it will however zoom with mousescroll or keyboard.

**Workaround:**
Change your zone.js version to 0.8.12 or lower

[2018-04-29 18:06] gmarimo opened #1081 "Runtime Error Zone already loaded"
Hie guys, i am developing my project in ionic 3 and Firebase Authentication on Firebase Version 4.13.1. I installed Angularfire2 and do everything. i created registration form and successfully put the user details into the firebase database when testing my app using ionic-lab. However the issue came when i closed and re-open my project, i got the following error:

**ERROR in ...node_modules/angula

[2018-04-30 04:00] JiaLiPassion commented on #1081
please post a reproduce repo.

[2018-04-30 04:00] JiaLiPassion commented on #1080
@rbuenon , could you post a reproduce repo?

[2018-04-30 09:18] roinou commented on #1015
I can confirm: `"zone.js": "^0.8.26"` and `"jasmine-core": "~3.1.0"` work together

[2018-04-30 15:57] rbuenon commented on #1080
@JiaLiPassion , I just created a simple repo with the above steps, it uses the default dependencies for ng-cli 1.7.4 ("zone.js": "^0.8.19"): [https://github.com/rbuenon/arcgis3-zone](https://github.com/rbuenon/arcgis3-zone)

[2018-04-30 22:31] httpete commented on #1020
I am using \@angular/hybrid and I am seeing similar things - with angular 1.6.10 and Angular 5.2.10 what does blacklisting the events do to Angular?

[2018-04-30 22:53] timruhle commented on #1020
@httpete As far as I understand zone.js patches over some in-build javascript functions, and then when they get called zone.js knows to redraw the screen. Blacklisting the events tells zone.js not to redraw the screen on those events, so then it improves performance. Because the screen is not being automatically redrawn, sometimes I have to add in this around my code so that it gets rendered prope

[2018-04-30 23:33] JiaLiPassion commented on #1020
`__zone_symbol__BLACK_LISTED_EVENTS` means those events will not be monkey-patched by `zone.js`, so they will be processed by `native` delegate when call `addEventListener` or `onXXX`(for example, onscroll). So this will guarantee the best performance.

But because those events will not in `ngZone`, so in the callback of those event, if there are some data changes which needed to updated on screen

[2018-05-01 00:18] JiaLiPassion commented on #1080
@rbuenon, ok, I will check it later.

[2018-05-01 01:28] JiaLiPassion commented on #1080
@rbuenon , it seems zone.js 0.8.13 's changes has conflict with `arcgis map`. I need some time to figure out the exact reason, here is a walk around for now.
add following code to `polyfills.ts` after `import zone.js/dist/zone;`

[code]

[2018-05-01 03:16] ssunny2 commented on #1015
A few test cases are still failing after using the above versions. Before upgrading zone.js and jasmine-core, all specs used to pass. Most of the failing ones have 'toBe' and 'toEqual' assertions. It seems the specs are not being tested in order, for example in a describe block with 3 'It' functions, the third(or the second, I found it to be inconsistent) 'It' is being tested first thereby assigni

[2018-05-01 03:37] ssunny2 commented on #1015
@JiaLiPassion Thanks for the clarification. I do understand why it's not recommended,but could you please tell me where I can configure the specs to run in order.

[2018-05-01 03:39] JiaLiPassion commented on #1015
@ssunny2 , sure, you can find it here, https://jasmine.github.io/setup/nodejs.html
Search `random`, you can set `random: false`.

[2018-05-01 03:57] ssunny2 commented on #1015
I looked up the file, and found that random is already set to false

`{
  "spec_dir": "spec",
  "spec_files": [
    "**/*[sS]pec.js"
  ],
  "helpers": [
    "helpers/**/*.js"
  ],
  "stopSpecOnExpectationFailure": false,
  "random": false
}
`

on running the test by appending --random:false also didn't yield the expected result. Some specs are still failing.

[2018-05-01 04:01] JiaLiPassion commented on #1015
I am not sure which part is wrong, you can try to downgrade to `jasmine 2.x`, but still use latest `zone.js` to see what happened, if it worked, maybe your test code have some other conflict with `jasmine 3.x`. Or you can post your reproduce repo here, I can help to find the reason.

[2018-05-01 04:10] ssunny2 commented on #1015
OK I'll try the steps you suggested, although I'm sure its the TCs that are having conficts with jasmine 3.x. I can't post the repo here though, it isn't my personal project. Thanks for the help.

[2018-05-01 13:11] httpete commented on #1020
15 days ago, they changed the way they bootstrapped an uirouter/angular-hybrid app and they do it in a zone.

https://github.com/ui-router/angular-hybrid/blob/master/example/src/main.ts

I can report, it is working MUCH better in my large app. It was insane the way it was before! No blacklist needed.

[2018-05-03 07:07] manishbansal8843 opened #1082 "npm install failing due to prepublish hook"
npm install is failing due to prepublish hook.

[code]

First suggestion is to change prepublish to prepublishOnly in package.json.

Further, this will not solve the compilation issue. Issue seems to be because 2 parallel threads are running for compilation using 2 different tsconfig-*.json. One is for compile-esm task and another is for compile-esm-node task.

Since, both these tasks are compilin

[2018-05-03 09:00] G-Bazan opened #1083 "process is not defined"
Hi Guys, I installed zone.js via npm in my Angular 5 application.
When the app start I got this error in chrome inspector:

Uncaught ReferenceError: process is not defined
    at zone-node.js:2216

// patch process related methods
Zone.__load_patch('nextTick', function () {
    // patch nextTick as microTask
    patchMicroTask(process, 'nextTick', function (self, args) {
        return {

[2018-05-03 17:26] JiaLiPassion commented on #1082
Could you post your os/npm/node version?
And the test results seems to be ok, toe `skipped 20` is the correct result.

[2018-05-03 17:27] JiaLiPassion commented on #1083
@G-Bazan , could you post a reproduce repo? because `zone-node.js` is only used in `nodejs` project. it should not be loaded in `angular` project. So you must have some wrong `polyfills` settings.

[2018-05-03 17:31] manishbansal8843 commented on #1082
@JiaLiPassion
[code]

OS is windows 8.1

[2018-05-03 21:26] joshbabb commented on #405
Hmmm

[code]

[2018-05-03 21:40] joshbabb commented on #1081
Also experiencing this issue.  I used `ionic starts MyApp tabs`, `npm i -S angularfire2 firebase`, and imported and initialized Firebase ... ` Zone already loaded`.

[2018-05-04 00:12] JiaLiPassion commented on #1081
@joshbabb , could you provide a sample repository to reproduce?

[2018-05-05 12:12] Celtiore commented on #1081
hi @JiaLiPassion , i start a sample here too :

https://github.com/Celtiore/test-angularfire2

    "angularfire2": "^5.0.0-rc.7",
    "firebase": "^4.13.1"

thanks you, i'm not expert, but i suspect angularfire2 :)
breaks come after update angularfire2 5.0.0-rc.7

[2018-05-05 12:26] JiaLiPassion commented on #1082
@manishbansal8843 , I have no `windows 8.1`, and I can't reproduce your issue... Could you delete all your `node_modules` and reinstall?

[2018-05-05 12:34] MaartenGDev commented on #1081
I had the same issue after the following the tutorial from here: https://github.com/angular/angularfire2/blob/master/docs/ionic/v3.md

I fixed it by installing rc.4 instead of rc.7 because everything after rc.4 seems to cause "Zone already loaded"

fix:
`npm install angularfire2@5.0.0-rc.4`

[2018-05-05 13:54] Atif-Mahmud commented on #1081
Same issue here. Same setup, same error, same fix.

[2018-05-05 14:42] Celtiore commented on #1081
@MaartenGDev , 5.0.0-rc.6 works fine here with firebase 4.13.1

[2018-05-05 17:12] JiaLiPassion commented on #1081
I think this is an angularfire2 issue, I will check it there.

[2018-05-05 17:35] JiaLiPassion commented on #1081
should be fixed in https://github.com/angular/angularfire2/pull/1599, I have tested with @Celtiore 's repo using my modified `angularfire2`.

[2018-05-05 18:07] manishbansal8843 commented on #1082
@JiaLiPassion yeah sure i will try that. But does my RCA makes any sense? Why 2 threads are spawned to compile same set of files using 2 similar tsconfig.json. won't that cause issues because both will try to generate same set of source maps?
P.s. i am just trying to reverse engineer the project and would like to contribute. Thanks.

[2018-05-06 08:58] MuazzOsman commented on #1081
What firebase version is suitable with angularfire2@5.0.0rc.7 ? I've installed angularfire2@4.0.0-rc0
and firebase@4.13.1 already and my app is still not working. I need help ASAP thank you.

[2018-05-06 12:48] JiaLiPassion commented on #1081
@MuazzOsman , I think maybe issue is in `angularfire2@5.0.0rc.7` itself, I am just confirming why they import `zone.js` again in this issue, https://github.com/angular/angularfire2/issues/1597, you can also try this `angualrfire2.zip` for test.
[dist.zip](https://github.com/angular/zone.js/files/1977631/dist.zip)

[2018-05-06 12:53] JiaLiPassion commented on #1082
@manishbansal8843 , thank you for your help to reverse engineer this project. I saw this error before, but it is hard to reproduce, I believe something wrong in `gulpfile.js`, that different `tasks` may compile at the same time and generate the `sourcemap` at the same time. I will look into this issue later.

[2018-05-06 15:36] Celtiore commented on #1081
thanks you @JiaLiPassion

working fine

repo updated :

https://github.com/Celtiore/test-angularfire2

[2018-05-06 15:41] LYTzeng commented on #1081
@JiaLiPassion It works just fine.
Thank you very much!

[2018-05-06 15:50] leonardo-mendonca commented on #1081
Thank you @JiaLiPassion  working perfectly

[2018-05-07 07:12] AnthonyNahas commented on #1081
I am facing the same problem as well after updating **angularfire2** to version` 5.0.0-rc.7`! Downgrading was a good idea!

[2018-05-07 07:46] herkulano commented on #405
Also getting this error running tests

[code]

[2018-05-07 13:20] mariohmol opened #1085 "Error: can not transition to 'running', expecting state 'scheduled', was 'notScheduled'."
Hi,

i have an app using nodejs, express , multer (to upload images).

For some specific files (some wav formats) it gives me a different flow in busboy where reaches the zone.js and breaks the node app (stops the execution without catching the error )

Without zone.js everything works fine. But as i have an SSR project, i have to have zone.js.

Here is more details about the error: https://github

[2018-05-07 14:00] JiaLiPassion commented on #1085
@mariohmol , could you provide a reproduce repo? thank you.

[2018-05-07 14:54] mariohmol commented on #1085
I got this.. but is not reproducing the error.. https://github.com/mariohmol/zonemulter

Will try to play with my project removing some things and see what it may causing it..

[2018-05-07 15:04] JiaLiPassion commented on #1085
@mariohmol , sure, please tell me when you reproduce this issue.

[2018-05-07 15:45] mariohmol commented on #1085
Upgrading to  "zone.js": "^0.8.26" worked! =)

[2018-05-07 16:26] mariohmol commented on #1085
Actually this new version is affecting mongoose calls.. now i receive empty from a nested promise

[code]

[2018-05-07 16:27] JiaLiPassion commented on #1085
Could you make a sample repo to reproduce the issue?

[2018-05-07 16:50] mariohmol commented on #1085
This will be kind hard to reproduce.. must be a ssr project (https://github.com/mariohmol/angular-ssr) and add multer.... After that make and enpoint with nested mongoose calls.

What i can tell is, 0.8.20 works for upload file and nested mongoose calls..

The fix of the file problem its before 0.8.20.

 Definitly the problem with mongoose appeared on 0.8.21 and still in 0.8.29!

[2018-05-08 04:07] JiaLiPassion commented on #1085
@mariohmol , the `mongoose` issue is in the test code? from zone.js `0.8.20` to `0.8.21`, basically only `test` related lib was updated, and could you provide some kind of `setup` and `reproduce` steps based on your repo?

[2018-05-08 17:12] CruelEngine opened #1086 "zone.onMicrotaskEmpty.emit(null) causing browser(Chrome and Firefox) to freeze"
Occurs during a Subscription in Angular 5 application . When a GET request is subscribed for first time its all good . but if the same GET request is subscribed browser freezes which eventually forces my application to crash . No errors on console .

Zonejs version : "^0.8.19"

Thanks,

[2018-05-08 17:15] JiaLiPassion commented on #1086
@CruelEngine , please provide a reproduce repo.

[2018-05-09 06:54] CruelEngine commented on #1086
@JiaLiPassion i tried reproducing it again and again using a dummy Observable , but i'm unable to do so . I'll try to provide you a repro repo .

[2018-05-09 07:15] charliemacdonald-incentro commented on #1081
Downgrading **angularfire2** to version _`5.0.0-rc.4`_ worked for me perfectly!

[2018-05-09 09:16] CruelEngine commented on #1086
@JiaLiPassion , after 24hrs of debugging i came to a conclusion that it is angular that is creating this havoc in my project . It seems that angular event propagation is failing which is causing Observable.complete() to never fire the callback function. I'll close this issue .
Thanks for the help and sorry for the trouble .

[2018-05-09 09:18] JiaLiPassion commented on #1086
@CruelEngine , sure , glad to here the issue was resolved.

[2018-05-09 12:45] josejaner commented on #1081
angularfire2 5.0.0-rc.4 run in the PC, but in the devices it does not work

[2018-05-09 13:17] JiaLiPassion commented on #1081
@josejaner , could you provide the detailed error information?

[2018-05-09 15:26] #1086 closed

[2018-05-09 18:03] enko commented on #740
Has there been any progress on this one? As far as my limited skill of perception can see, this is the main issue that prevents angulars change detection work properly with es2017's async/await.

ES2017 is realy helpfull for debugging as the compiled sourcecode by typescript/angular is not that different to the real source and so sourcemaps work much much better.

Thanks for your time, Tim.

[2018-05-09 18:11] jscharett opened #1087 "Is ZoneAwarePromise really async?"
I've encountered an issue which seems to point back to ZoneAwarePromise.  I've created animations for enter/leave to show when a node is added/removed.  These work fine until I do a "move", an remove followed by an add.  I'n debugging my code, I realized my issue was that I was doing the remove+add synchronously, so there was only 1 change detection and hence only 1 animation.  I added a simple ti

[2018-05-09 20:32] guillop commented on #405
fix:
npm install angularfire2@5.0.0-rc.4

[2018-05-10 03:40] manoela-reis commented on #1081
I've downgrade angularfire2 to version 5.0.0-rc.4, but now i got another problem:
 `Runtime Error
Uncaught(in promise): cordova_not_available`

My config is:
`@ionic/cli-utils : 1.19.1
ionic (Ionic CLI): 3.19.1
cordova(Cordova CLI) : 7.0.1
@IONIC/APP-SCRIPTS :3.0.1
Cordova Platforms : none
IOnic Framework : ionic-angular 3.8.0
Node : v8.4.0
npm: 5.3.0
OS: Windows 8.1`

I'm having this trouble with

[2018-05-10 03:43] JiaLiPassion commented on #1081
@manoela-reis , this is not a `zone.js` issue, you can check it here ,https://stackoverflow.com/questions/42840951/uncaught-in-promise-cordova-not-available-in-ionic-2
You can't use `cordova` in `desktop` env, you need to add code to detect environment.

[2018-05-10 03:46] manoela-reis commented on #1081
Ok but before i didn't have this error. I tried to fik the zone error and now I got this one.

[2018-05-10 09:31] sharikovvladislav commented on #563
Why do you pass string as a second parameter? You have to put number there.

[2018-05-10 23:49] artistic commented on #1081
Had the same issue, downgrading worked for me thanks

[2018-05-11 07:27] nyashaChitiyo commented on #1081
1) install angularfire v4 anything above v4 will throw zone already loaded. I dont noe why they import when its already there
2) You can remove the import from your app.module.ts file.

[2018-05-12 01:16] kavvisha commented on #1081
@JiaLiPassion works like charm. Thanks you sir !
what is the version number ?

[2018-05-12 02:16] JiaLiPassion commented on #1081
@kavvisha , because this is not a `zone.js` issue,  and the fix has been merged into `angularfire2`, so please wait for the next `angularfire2` release.

[2018-05-12 02:31] JiaLiPassion commented on #1087
@jscharett , `Promise.resolve()` is not `async`, it is `sync`, because there is no `async operation` inside. `Promise.resolve().then()` is `async`, because it will schedule a microTask.

This is the `spec` of `Promise`.

[2018-05-12 04:15] rahuljograna commented on #405
This is the problem of new firebase update, here is a solution for this error

** Step: 1** Install the lower version of firebase using this command

npm install angularfire2@5.0.0-rc.4

** Step: 2**

npm install

Try.

[2018-05-12 04:16] rahuljograna commented on #1081
This is the problem of new firebase update, here is a solution for this error

** Step: 1** Install the lower version of firebase using this command

npm install angularfire2@5.0.0-rc.4

** Step: 2**

npm install

Try.

[2018-05-12 04:57] lavanvickyneshwaran commented on #405
Error: Zone already loaded.
    at http://localhost:8100/build/vendor.js:126054:15
    at http://localhost:8100/build/vendor.js:126668:3
    at FUNCTION (http://localhost:8100/build/vendor.js:126031:10)
    at Object.<anonymous> (http://localhost:8100/build/vendor.js:126034:2)
    at Object.<anonymous> (http://localhost:8100/build/vendor.js:129050:30)
    at __webpack_require__ (http://localhost:8

[2018-05-12 04:58] lavanvickyneshwaran commented on #405
Stack
Error: Zone already loaded.
    at http://localhost:8100/build/vendor.js:126054:15
    at http://localhost:8100/build/vendor.js:126668:3
    at FUNCTION (http://localhost:8100/build/vendor.js:126031:10)
    at Object.<anonymous> (http://localhost:8100/build/vendor.js:126034:2)
    at Object.<anonymous> (http://localhost:8100/build/vendor.js:129050:30)
    at __webpack_require__ (http://local

[2018-05-12 07:51] anoopmv6 commented on #405
I was facing this problem for last few days..Now I am get out of this "zone already error" from the following way....!

Step 1: Degrade firebase version to lower by typing npm install angularfire2@5.0.0-rc.4

Step 2: run npm install

[2018-05-12 16:35] mehtaparam commented on #405
Ty @rahuljograna  @anoopmv6  @guillop solution is working

[2018-05-13 02:01] GonzaloUNAB2018 commented on #405
thanks for your answers!! it working!
see ya!

[2018-05-13 06:00] anoopmv6 commented on #405
welcome Gonzalo

[2018-05-13 06:52] kavvisha commented on #1081
@JiaLiPassion thank you ! ^_^

[2018-05-13 06:56] arjun526nag commented on #405
Uncaught Error: Zone already loaded.
    at zone.js:32
    at zone.js:644
    at FUNCTION (zone.js:9)
    at Object.<anonymous> (zone.js:12)
    at Object.<anonymous> (zone.js:3060)
    at __webpack_require__ (bootstrap 6613f924a1108f55b2e9:54)
    at Object.defineProperty.value (vendor.js:69159)
    at __webpack_require__ (bootstrap 6613f924a1108f55b2e9:54)
    at Object.<anonymous> (vendor.js:11

[2018-05-13 07:03] anoopmv6 commented on #405
arjun..
after update angularfire run npm install

[2018-05-13 07:36] arjun526nag commented on #405
i am trying this command  it's wrkng for me. npm install firebase@4.8.0

[2018-05-14 16:31] ardeshirj opened #1088 "XMLHttpRequest & globalZoneAwareCallBack"
We recently noticed a performance issue with IE11 in our angular 5 app that is not happening in other browsers. I start troubleshooting it using F12 developer tools in windows 10. Used both networks and performance tab in the debug tools and noticed XMLHttpRequest (networks) & globalZoneAwareCallBack (performance) are the main tasks that takes about 25 seconds to finish.

![ie-11-win-10-cors](http

[2018-05-14 16:45] JiaLiPassion commented on #1088
@ardeshirj , could you provide a reproduce repo? `globalZoneAwareCallBack` is just a wrapper for the `event handler`, so if some logic costs 24 seconds, it should be the `event handler` itself, but anyway, if you can provide a repo, I can help to debug.

[2018-05-14 16:46] JiaLiPassion commented on #1020
@httpete , thank you for the information.

[2018-05-15 01:55] timruhle commented on #1020
I can also report that I have removed all of the blacklistings and disables (e.g. __Zone_disable_PromiseRejectionEvent) and the performance is not being degraded. I am closing this issue as it seems to be fixed in one of the more recent versions.

[2018-05-15 01:55] #1020 closed

[2018-05-15 16:06] kapilraghuwanshi commented on #1081
downgrading not working for me. :(

[2018-05-15 22:28] benrobster commented on #1078
Is there a workaround in the mean time?

(This is challenging because Chromium 33 is the fixed (non-upgradeable) version of WebView on Android 4.4.3 & 4.4.4 which still has quite a bit of distribution.

[2018-05-16 06:40] hesampour opened #1089 "ReferenceError: Zone is not defined angular universal 6"
I try to update my angular project to angular 6. after a lot of tries I get this error when start the universal
ReferenceError: Zone is not defined
when I remove import 'zone.js/dist/zone-node' this problem fixed but there is another problem that zone is not loaded

[2018-05-16 06:42] JiaLiPassion commented on #1089
Please provide a reproduce repo.

[2018-05-16 06:46] hesampour commented on #1089
sorry I dont know what you mean

[2018-05-16 06:50] JiaLiPassion commented on #1089
I mean I need a repository which can reproduce the issue. A github repo will work.

[2018-05-16 16:12] ardeshirj commented on #1088
@JiaLiPassion I am working on reproduce repo. In the mean time do you know if the delay cause by OPTIONS calls can block `globalZoneAwareCallBack` tasks or they are independent of each other?

[2018-05-16 22:41] thenyel commented on #1080
This is amazing!!! Thank you @JiaLiPassion !!!!!!

[2018-05-17 02:13] JiaLiPassion commented on #1087
@jscharett , in your example, you use `Promise.resolve()`, not `Promise.resolve().then()`.

[2018-05-17 05:52] jcDu commented on #1081
Hi @JiaLiPassion , in my case, I integrated angular into a jQuery project. Everything works well when I direct to angular page first time. And I got back to jQuery page, after this, when I want to direct to angular page again. I got "zone already loaded". Do you have any idea in this case?

[2018-05-17 07:02] jcDu commented on #1081
Obviously, zone has been loaded in the first time. In the second time, it tried to load again, so I got this issue. Is there a way to unload zone?

[2018-05-17 07:04] JiaLiPassion commented on #1081
@jcDu, currently there is no way to unload `zone`, I am working on unloadable zone.js, but it will take some time.
`Zone already loaded` was reported a lot recently, I will try to find a better solution when loading `Zone.js` multiple time.

[2018-05-17 07:14] jcDu commented on #1081
@JiaLiPassion , thanks for the reply. Waiting for your good news.

[2018-05-17 07:42] harishmegharaj opened #1090 "ngZone with google map lead to heigh CPU and memory leak"
My APP build with google map and Angular, when I use the application for 10-15 mins it crashes.
So many zoneTask gets accumulated, if we test through chrome dev memory tools.

[2018-05-17 07:56] JiaLiPassion commented on #1090
@harishmegharaj, please provide a reproduce repo, so I can check it.

[2018-05-17 08:02] harishmegharaj commented on #1090
Ok, I will create and update you.

On Thu 17 May, 2018 1:27 pm JiaLiPassion, <notifications@github.com> wrote:

[2018-05-17 09:16] JiaLiPassion commented on #1088
@ardeshirj , I don't think anything will block `globalZoneAwareCallBack` task, so I think the `callback handler` itself may have something block the execution.

[2018-05-17 22:19] SwCon commented on #1081
I found a solution that worked for me:  comment out the line in polyfills.ts

//import 'zone.js/dist/zone';

[2018-05-18 00:16] jscharett commented on #1087
@JiaLiPassion In my example, I `return Promise.resolve();` of which I then call `.then()` on

[2018-05-18 01:37] JiaLiPassion commented on #1087
@jscharett , ok, then it should work, the behavior should be the same with `setTimeout`, if it is not, could you post a reproduce repo?

[2018-05-18 08:06] TheCraccer commented on #1078
We're still having this issue, too. Any solution for this?

[2018-05-18 08:45] JiaLiPassion commented on #1078
@benrobster , @TheCraccer , @rudgal
you can try to add following code after import `zone.js`.

[code]

[2018-05-18 13:12] TheCraccer commented on #1078
@JiaLiPassion that seems to work. Thanks a lot!

[2018-05-18 13:29] MrBlaise opened #1091 "RxJs 6 Support"
The `zone-patch-rxjs.js` fails to build with rxjs 6.x that Angular 6 uses now. Any plan on fixing this?

[2018-05-18 13:32] JiaLiPassion commented on #1091
@MrBlaise , I will check it and try to handle `rxjs 6`, could you provide a reproduce repo to describe the error you mentioned?

[2018-05-18 13:43] MrBlaise commented on #1091
@JiaLiPassion Unfortunately the repo I am working on is private, you should be able to reproduce the issue by creating a fresh Angular 6 application with the angular-cli (`ng new zonejs`) and import the patch in pollyfils.ts:
`import 'zone.js/dist/zone-patch-rxjs';`

After that building it for production should cause errors (`ng build --prod --aot --build-optimizer`) like this:

`Module not found:

[2018-05-18 13:47] JiaLiPassion commented on #1091
@MrBlaise , ok, got it, you can use `rxjs-compat` for now to resolve this issue until a `rxjs6` version of `zone.js patch` is released.

[2018-05-21 14:08] kirtanleela opened #1092 "j"

[2018-05-21 14:43] JiaLiPassion commented on #1092
@kirtanleela , please provide a reproduce repo.

[2018-05-22 11:10] oztek22 commented on #910
Is there any way to determine it or not?

[2018-05-23 07:17] marcinnajder opened #1094 "zone-node breaks util.promisify"
Hi

[code]

after calling this script

[code]

It looks like zone-node breaks `fs.exists[promisify.custom]` mechanism

regards,
marcin

[2018-05-23 09:05] JiaLiPassion commented on #1094
@marcinnajder , this is a bug, thank you for reporting this issue, I will fix this one.

[2018-05-23 18:06] ardeshirj commented on #1088
@JiaLiPassion I could repro the issue in a new angular 5 application. You can find the repo [here](https://github.com/FlukeNetworks/repro). To run this app simply clone the app and run `yarn install && yarn start`. This should start the app in localhost:4200.

In this repro, I created an anchor called `click here`. Once you click on it, it will dispatch an action which will trigger five effects (a

[2018-05-25 08:23] syncro opened #1096 "initialize must be fault tolerant"
every time zone.js library is attempted to be loaded multiple times it throws an exceptions and breaks everything on page, please change this to reuse already loaded instance (as it relies on globals and patching) as web and js is full of unstrict things and shouldn't behave like Clang apps and falling with segfaults and everything if anything.

[2018-05-25 09:04] JiaLiPassion commented on #1096
@syncro , have been resolved by #1093

[2018-05-25 10:20] siegenthalerroger commented on #304
I appear to be having the same issue, also using an API that returns a promise within Angular (Atlassian connect library - .request returns a promise).

ngFors and bindings, etc are not being updated. Only after a click in the relevant area.

[2018-05-25 11:11] JiaLiPassion commented on #304
@siegenthalerroger , could you provide a reproduce repo?

[2018-05-25 11:47] siegenthalerroger commented on #304
https://github.com/siegenthalerroger/zonejsissue/

Should do the trick. You'll have to run it within an Atlassian developer instance to see the effect of the AP object though. The whole thing is a bit of a mess because it's part of a larger project.

The issue is in the app.component.ts file: `this.uS.getCurrentUser().subscribe(res => this.user = res.name);` does not trigger an update in the html.

[2018-05-27 22:15] eyalhakim commented on #1089
Same issue

[2018-05-28 09:59] JiaLiPassion commented on #1089
@eyalhakim , could you provide a reproduce repo?

[2018-05-28 10:02] eyalhakim commented on #1089
The problem occurs if we define an empty mock window object using i.e. webpack.DefinePlugin

[2018-05-28 12:32] JiaLiPassion commented on #1089
@eyalhakim , yes, that will be the problem, you need to load zone.js after you mock window object, or you need to get the `Zone` instance before mock, and set it to `mocked window` after.

[2018-05-28 13:08] eyalhakim commented on #1089
Can you recommend based on the settings of the angular universal starter how to implement this?

[2018-06-05 10:37] ojemuyiwa commented on #933
Thanks so much @JiaLiPassion

Added only for IE and Edge using the below in pollyfills.ts and it works a charm
`/*
* in IE/Edge developer tools, the addEventListener will also be wrapped by zone.js
* with the following flag, it will bypass `zone.js` patch for IE/Edge
*/
//(window as any).__Zone_enable_cross_context_check = true;
if (document['documentMode'] || /Edge/.test(navigator.userAgent)) {

[2018-06-06 05:15] matthewharwood commented on #1089
@JiaLiPassion https://github.com/morningharwood/morningharwood on master.

**Up and running Steps:**
[code]
go to
`localhost:4200`
`cmd + i //opens inspector`

read error:
[code]
I've implemented this verbatium:

[code]
And added in `main.ts`
[code]
And removed from `polyfills.ts`
[code]

This error maybe because of the

causes in v6 in https://github.com/angular/angular/issues/23428

[2018-06-06 10:00] jain1403 commented on #783
Getting the error "Uncaught (in promise): undefined zone.js " while using html2canvas in Angular 5 .
Any help or Update ?

[2018-06-06 10:53] JiaLiPassion commented on #783
@jain1403 , please provide a reproduce repo.

[2018-06-06 13:13] denisbeklarov commented on #1015
Found a way to disable random mode by jasmine for angular (6 in my case). Put this in karma.conf.js:
[code]

[2018-06-06 16:21] ardeshirj commented on #1088
Is there any update about this issue?

[2018-06-07 05:29] sathishkumar94 commented on #1037
[$injector:modulerr] Failed to instantiate module $$UpgradeModule due to:

Same error throwing myself also. when i try to reload the page with angular and angular 5

[2018-06-07 07:28] JiaLiPassion commented on #1089
@matthewharwood , this is a known issue, have been fixed here, https://github.com/angular/angular/pull/23452, but not been merged yet, current walk around is here.
https://github.com/angular/angular/issues/23428#issuecomment-384812312

[2018-06-08 02:02] aortez commented on #1088
Hi @JiaLiPassion, I'm a colleague of @ardeshirj's and I'm spending some time helping him look into this issue.

I reduced the repro case to be simpler, such that it there is no network traffic and ngrx is not involved.  It's basically now just an ngFor populating a list of sequential IDs.  The observed pausing behavior is still the same though.  I didn't see it mentioned earlier in this issue, but

[2018-06-08 03:22] JiaLiPassion commented on #1088
@aortez , sure , like you said, it seems to be a performance issue of `ngFor on IE11`, I will check it in `angular side`.

[2018-06-08 05:57] tegarjgap opened #1097 "[Violation] Added non-passive event listener to a scroll-blocking 'wheel' event. Consider marking event handler as 'passive' to make the page more responsive."
Hi, I want to ask..

How to solve the problem? ([Violation] Added non-passive event listener to a scroll-blocking 'wheel' event.)

the temporary step which has iam try :
1. i am use module default-passive-events (npm)
2. and, How to add script event listener in angular? Am i save in component.ts?

Or,. another way to solve this problem?

thank

[2018-06-08 10:18] everedifice commented on #1078
@benrobster @TheCraccer Add patching code before import syntax. in my case that works.

@JiaLiPassion I think your code just trick. so we need to find safe way to solving this problem.

[2018-06-08 10:44] JiaLiPassion commented on #1078
@everedifice , to be more safer, you can update the code like this.

[code]

[2018-06-08 14:33] JiaLiPassion commented on #1097
Currently to add `passive` event handler, you need to use `dom API` directly.

[code]

[2018-06-11 06:03] JiaLiPassion commented on #1097
@tegarjgap , you can check the example here, https://stackblitz.com/edit/angular-xftpwj?file=src%2Fapp%2Fapp.component.ts

[2018-06-11 07:07] MrBlaise commented on #1091
Any news on this @JiaLiPassion?

[2018-06-11 13:39] JiaLiPassion commented on #1091
@MrBlaise , I have finished `zone-testing-rxjs-fake-async` part, the `rxjs` part need some additional work, I am still working on it, please wait for a little longer, does `rxjs-compat` work for you now?

[2018-06-11 14:21] AndyLex opened #1100 "Zone throws access deny error"
I have a project based on Angular 2. Everything works very well before, but recently `Access Deny' error is sometimes thrown. I googled a lot, but nothing is found. Any clue is appropriate. BTW, I am using Angular 4.2.4 and zone 0.8.4.

Here are the screenshot of browser's console:

![issue](https://user-images.githubusercontent.com/40136443/41237249-aac614da-6dc5-11e8-878c-c4a0bab79240.png)

[2018-06-11 14:23] JiaLiPassion commented on #1100
Could you provide a reproduce repo?

[2018-06-11 14:43] tegarjgap commented on #1097
great... thank sir @JiaLiPassion  👍

[2018-06-11 15:03] StuartNg2 commented on #1100
@AndyLex I have similar issue. The project based on angular 4.2 and zone 0.8 works very well before, but recently it sometimes throws `undefined is not a function`.

@JiaLiPassion, I try to create a simple online demo, once it is created, I will post link here.

[2018-06-11 15:44] BerndLeukert commented on #1100
I have some similar error before. I update `zone` to latest version to resolve the problem. Maybe you could have a try.

[2018-06-11 16:05] AndyLex commented on #1100
@BerndLeukert I updated to latest `zone` and also update other dependencies to latest version, the issue is gone.

Thanks a lot, everyone. I close the issue, as it is resolved.

[2018-06-11 16:05] #1100 closed

[2018-06-12 04:00] zds-jack commented on #1078
@JiaLiPassion  This method is invalid
![n wkaq ov1shb 24g92bk](https://user-images.githubusercontent.com/16936239/41269535-2d1cd532-6e38-11e8-9aa5-f170023987b3.png)

[2018-06-12 04:02] zds-jack commented on #1078
I am using android 4.4.4

[2018-06-12 04:28] JiaLiPassion commented on #1078
@zds-jack , you can try the walk around here, and this has been fixed, but need to wait for the next release.

[code]

[2018-06-12 05:41] zds-jack commented on #1078
@JiaLiPassion  I created a new project and used this method, but I still get this error. This error does not appear in zone.js right now. Now appears in polyfills.js
![21835d683f100493c04bf329d5bd0f4](https://user-images.githubusercontent.com/16936239/41271988-eba5dcee-6e45-11e8-8c11-047d99c098e7.png)
![6149916bd59ce291cc097cb13191059](https://user-images.githubusercontent.com/16936239/41271993-ee

[2018-06-12 05:48] zds-jack commented on #1078
![20f8a85b1f034642b6522e435cf45e4](https://user-images.githubusercontent.com/16936239/41272309-33431d0e-6e47-11e8-88c2-ad15aee8ed8a.png)

[2018-06-12 05:57] everedifice commented on #1078
@zds-jack Are you tried that add polyfill code before `import 'zone.js/dist/zone'` syntax?

[2018-06-12 06:17] JiaLiPassion commented on #1078
@zds-jack , it is a little weird , could you debug in `Chrome dev tools console` and check
what properties exist in `Promise.prototype` ?

[2018-06-12 06:54] 255kb opened #1101 "Angular not detecting changes in Electron + ExpressJS callbacks"
Hello,

I have an application built with Electron, Angular 5 and ExpressJS (It's basically running a local server).

Until Electron v1.8.3 everything was running fine, but since I updated Angular stopped detecting changes in ExpressJS callbacks like `server.listen(8080, () => { /* not executed */ })`. This results in my interface not being updated until a call to the server is made (which strangel

[2018-06-12 12:31] MrBlaise commented on #1091
Yes it is working fine. I was just wondering, because this is the last thing that needs the compat library in my setup. I am in no rush, the app working fine with compat until this is finished. Thanks.

[2018-06-13 07:26] #1090 closed, assigned to nobody

[2018-06-13 07:27] harishmegharaj commented on #1090
On upgrading to latest zone.js (0.8.17) version it got resolved.

[2018-06-13 16:01] JiaLiPassion commented on #1101
Could you post a reproduce repo?

[2018-06-14 21:17] thenyel commented on #1080
@JiaLiPassion, would you have an idea why hostbinding does not work with this patch?

[2018-06-15 03:02] JiaLiPassion commented on #1080
@thenyel , `hostbinding` should also work if it is inside `ngZone`, if it is not , please update your repo and I can check it.

[2018-06-15 06:54] 255kb commented on #1101
Sure I will work on this!

[2018-06-15 18:53] #1092 closed

[2018-06-16 12:05] JiaLiPassion commented on #405
@davidenke, sure, this has been fixed here https://github.com/angular/zone.js/pull/1093

[2018-06-16 13:41] JiaLiPassion commented on #405
@davidenke , I have changed PR title, when the flag is true, the `Zone is already loaded error` will be thrown, by default, this error will not be thrown.

[2018-06-18 06:36] ishan123456789 opened #1103 "ERROR Error: Uncaught (in promise): Error Error at XMLHttpRequest.onreadystatechange [as"
I'm not able to find the cause of this error is there a solution for that or anything else this error tells.

`ERROR Error: Uncaught (in promise): Error Error at XMLHttpRequest.onreadystatechange [as __zone_symbol__ON_PROPERTYreadystatechange] (VM7676 twilio.js:55) at XMLHttpRequest.H (VM7678 polyfills.js:3) at t.invokeTask (VM7678 polyfills.js:3) at Object.onInvokeTask (VM7679 vendor.js:5425) at

[2018-06-18 06:38] JiaLiPassion commented on #1103
@ishan123456789 ,  please provide a reproduce repo.

[2018-06-18 06:50] ishan123456789 commented on #1103
Sorry but I can't I'm not authorised to share the code but I can explain that could be a reason a bit.
I'm integrating twilio with streamtext iframe so when I change Streamtext iframe url dynamically on click of button and then, when I stop twilio connection then I get this error and all of sudden the page reloads due to this error and behave strangely.

[2018-06-18 06:52] JiaLiPassion commented on #1103
@ishan123456789 , in such case, especially involves some 3rd party libs, without reproduce repo, it is hard to debug, most of such kind of error is not `zone.js` error, `zone.js` just catch all errors happened inside `promise` and throw them out.

 So if you can create a very simple repo to reproduce this error, I can help to debug.

[2018-06-18 17:01] #1078 closed

[2018-06-18 17:02] #1094 closed

[2018-06-19 07:52] ishan123456789 commented on #1103
Thanks for giving your time @JiaLiPassion I've still not figured out what the problem could be but i fixed the error by instead of using property binding on iframe I switched to DOM manipulation.
What I did was
**Replaced**
[code]
**With**
[code]
And instead add iframe using this
[code]

So this error was gone with this.

[2018-06-19 07:52] #1103 closed

[2018-06-19 16:31] vincentjames501 commented on #48
I'm surprised more people haven't requested this. This would make it much easier to debug why a fixture doesn't become stable for example or which pending tasks are left at the end of a test.

[2018-06-22 14:56] mprobst opened #1104 "TypeScript 2.9 support"
Zone JS doesn't compile with TypeScript 2.9:

[code]

[2018-06-22 14:56] mprobst commented on #1104
(note: this is using v0.8.16, but it looks as if the compile errors are still current)

[2018-06-22 14:57] JiaLiPassion commented on #1104
I did some modification in other PR, I will check that PR can pass TS 2.9 or not.

[2018-06-22 16:13] yume117 commented on #1058
I got the same issue, updated to zone version 0.8.19 and replaced the imports by
`import 'zone.js/dist/zone-testing';`

Now I get this error for each test of each .spec files.

[code]

[2018-06-22 16:14] JiaLiPassion commented on #1058
@yume117, could you provide a reproduce repo?

[2018-06-22 16:23] JiaLiPassion commented on #1058
@AbnerCrivellari ,
So if you use old version of `zone.js`, it will work?
Could you try the newest version of `zone.js 0.8.26`?

I am not sure what the problem, if you can create a simple reproduce repo or share some test code, I can help to debug.

[2018-06-22 16:32] yume117 commented on #1058
I tried with  `zone.js 0.8.26` and get the exact same result.

I get thoses issues since I added aliases in tsconfig files for clearer import :

Example :

[code]

[2018-06-22 17:07] JiaLiPassion commented on #1058
So if you remove those `aliases`, the issue will be gone?
I am not sure why it related to `zone.js`. But I can try to create a project to test.

[2018-06-23 08:58] TaposhiBaruah opened #1105 "Dynamic form disappears on clicking on a link to add more dynamic form"
I am loading a dynamic form from a json and also i have a link on click which I am adding more form controls in the same dynamic formGroup. When first time I am clicking on the link the dynamic form disappears, when I reload my page and click again in that link it is working. Please can anyone tell me why it is happening. While debugging I got that it is breaking when the control is going inside z

[2018-06-24 23:37] #975 closed

[2018-06-25 08:29] yume117 commented on #1058
Yes if I delete them I have no issue. But I don't understand what is going on with them. They work normally exept for the test with karma

[2018-06-25 09:17] JiaLiPassion commented on #1058
@yume117, yeah, it is really weird, if you can provide a sample project, I would like to debug this one. I also want to know why it happened.

[2018-06-26 13:08] consulbit commented on #1058
Same problem here as pointed out by @yume117, if I remove the aliases the tests run fine but with the aliases they don't start throwing the exception reported by @AbnerCrivellari (Uncaught Error: Missing: SyncTestZoneSpec).

[2018-06-26 14:42] JiaLiPassion commented on #1063
@ohjames, please provide a reproduce repo .

[2018-06-26 14:43] JiaLiPassion commented on #1058
@consulbit , could you provide a reproduce repo?

[2018-06-26 14:54] ohjames commented on #1063
@JiaLiPassion The reproduction is simple, merely call `jasmine.clock().mockDate(...)` inside of your `beforeEach` along with your `jasmine.clock().install()` and it has no effect. You have to call it inside of the test now, but if you have say 100 tests grouped in the same `describe` block which should all use the same mocked date, now you have one hundred extra lines in your source code.

[2018-06-26 15:07] JiaLiPassion commented on #1063
@ohjames , you mean

[code]
this case will fail,
[code]

this will success.

is that right ?
And you are using `fakeAsync`?

Please paste some sample test codes here, it will help a lot.

[2018-06-26 21:04] artuska commented on #1034
This does not help also — https://github.com/angular/angular/issues/22509#issuecomment-382297711.

[2018-06-27 13:08] artuska commented on #758
+1.

I have the same problem I described in this issue:

https://github.com/angular/zone.js/issues/1034

[2018-06-27 13:19] artuska commented on #856
This one still in `open` state...

[2018-06-27 16:54] johnwest80 commented on #856
Any update on this... still being seen...

[2018-06-27 17:11] JiaLiPassion commented on #856
Can anyone post a reproduce repo? It will help.

[2018-06-27 18:28] jbedard opened #1108 "window.onerror signature is incorrect"
The `window.onerror` handler has [a different method signature](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror#window.onerror) compared to all other `*.on*` event methods. When ZoneJS wraps `window.onerror` it changes the signature to be the standard handler signature instead of the `window.onerror` specific signature.

http://embed.plnkr.co/jiclV3raUVIhlz3uQ3IM/

[2018-06-28 20:36] mitschmidt commented on #404
Same issue for me, after tslint auto fixed many files in my project the client tests did not work anymore.
Thanks for the hint with the import orders, that solved the problem for me.

[2018-06-29 04:49] Shamshiel commented on #1078
In which version of zone.js should this error not occur anymore? I'm using the latest version of zone.js (0.8.26) and a visitor of my site got this error yesterday. Or is the mentioned workaround required for this old browser?

[2018-06-29 04:58] JiaLiPassion commented on #1078
@Shamshiel , it will be fixed in next version `0.8.27`, so you need to use the walk around here.

[code]

[2018-06-29 13:13] ohjames commented on #1063
I ported all our tests over to `fakeAsync` and use `tick()` with a negative number to set the time to what I need: `tick(desiredTime - Date.now())` so I'm not worried about this issue anymore, but I suppose someone else will report it.

[2018-06-29 13:54] JiaLiPassion commented on #1063
@ohjames , thanks for the update, I will check `jasmine.clock` with `Date` in `beforeEach`.

[2018-06-29 17:34] #432 closed

[2018-07-02 07:19] consulbit commented on #1058
Hi @JiaLiPassion,

sorry for the delay but I couldn't answer before.

I don't have a repo to reproduce the problem but I manage to solve it updating the `zone.js` to the version `0.8.26` and using the following import in the `test.ts`:

[code]
but I had to remove all the other imports referring the `zone.js`.

Thanks

[2018-07-03 15:48] JiaLiPassion commented on #1108
@jbedard , thank you for posting the issue, I will fix this one.

[2018-07-03 16:45] JiaLiPassion commented on #1105
I don't think this is a `zone.js` issue, please ask it in stackoverflow. thank you.

[2018-07-03 17:07] pratikparikh-opentext commented on #1081
@JiaLiPassion any solution to this?  When commenting out import as suggested by @SwCon it complains that angular requires it.  @jcDu have you found any workarounds?

[2018-07-03 17:14] JiaLiPassion commented on #1081
I have created a PR to fix this one, it is still under review, if you want to test now, please update your `package.json`

[code]

[2018-07-03 18:31] pratikparikh-opentext commented on #1081
@JiaLiPassion I get the following when i tried your PR.  But it for sure solve the original problem, I am using Angular 6.0.3

Uncaught Error: Already loaded patch: ZoneAwarePromise
    at Function.t.__load_patch (<anonymous>:1:1521)
    at <anonymous>:1:11066
    at Object.0TWp (<anonymous>:1:39603)
    at p (<anonymous>:1:518)
    at Object.hN/g (<anonymous>:1:55802)
    at p (<anonymous>:1:518)

[2018-07-04 00:59] JiaLiPassion commented on #1081
@pratikparikh-opentext , could you provide a reproduce repo?

[2018-07-05 13:30] mike-suggitt commented on #491
Bump - same here

[2018-07-05 15:31] JiaLiPassion commented on #491
@mike-suggitt , @MrCroft , I don't think the `Can't set headers after they are sent` is `zone.js` error, it is just `express http response` error.

[2018-07-05 16:07] JiaLiPassion commented on #491
@MrCroft , sorry I am not familiar with `SSR`, you can ask at `stackoverflow`.

[2018-07-05 16:16] MrCroft commented on #491
@JiaLiPassion actually, I remember that the headers were in fact being set. And the app worked fine. But I was just seeing that error in the log and it mentioned zone.js. Weird... Haven't been doing SSR recently.

[2018-07-05 16:30] JiaLiPassion commented on #491
@MrCroft, yeah, almost all the errors in `angular` will mention `zone.js`, so really very little error is really `zone.js` error.

[2018-07-08 16:34] herkulano commented on #657
@JiaLiPassion I'm also getting a similar error using Cypress `cy.type('something)` command on a form. In my case, your workaround doesn't work.

[code]

[2018-07-08 16:35] JiaLiPassion commented on #657
@herkulano, please provide a reproduce repo, thanks.

[2018-07-08 16:55] herkulano commented on #657
@JiaLiPassion I've fixed it by moving the Cypress command to another test. I'm guessing the problem was not zone or angular related. Sorry for that.

[2018-07-09 04:18] JiaLiPassion commented on #657
@herkulano , you are welcome, but if you could provide a reproduce sample about the error, I am very curious why the `cypress` can cause `zone.js` throw such an error. thank you.

[2018-07-10 22:09] jreidgreer opened #1110 "makeAddListener breaks when the Event Name is a Symbol"
When Zone.js is running in Node, it appears to be wrapping Node's EventEmitter methods, causing issues when the `eventName` is a Symbol. Node's [documentation states that `eventName` can be a string or a symbol.](https://nodejs.org/api/events.html#events_emitter_on_eventname_listener)

However, Zone tries to coerce `eventName` into a string:

https://github.com/angular/zone.js/blob/e9536ec7d724e21

[2018-07-12 17:12] skjagini opened #1111 "Unable to Unit test Angular application using Karma and Jasmine"
Trying to unit test Angular (not AngularJS) application.

Here is the package.json

[code]

Here is tsconfig.json

[code]
Here is karma.config.js

[code]
With the above details ng test was throwing the following error
12 07 2018 11:12:27.391:INFO [Chrome 67.0.3396 (Windows 7.0.0)]: Connected on socket Y_50WuISYFnxSEPLAAAA with id 9725077
Chrome 67.0.3396 (Windows 7.0.0) ERROR
  **Uncaught Error: M

[2018-07-12 19:40] skjagini commented on #1111
I created a new application and matched the files between them and found that tests.ts and karma config were not updated accordingly.

This fixed the issue.

[2018-07-12 19:40] #1111 closed

[2018-07-13 17:34] SuyogShah commented on #1088
@JiaLiPassion : Any update on above IE 11 performance ? We are facing issue when we have more than 10 tbales having *ngFor and loading take arund 3 secs in IE 11 while in chrome it takes 0.6 sec.

[2018-07-13 19:14] aortez commented on #1088
@SuyogShah (and anyone else facing this issue), I don't have a solution to the performance problem, but I will share the workaround that my group has chosen to follow.  Maybe it will help you, maybe not.  Keep in mind that our IE11 user base is not large, so we are just aiming to make their experience tolerable, and that will be good enough for now.

First, the issue we faced is that we are render

[2018-07-16 11:03] shellmann commented on #740
@JiaLiPassion can you say something about the current status?

[2018-07-16 20:51] jrabbe opened #1112 "Patched bluebird does not provide data to promise chain"
Just started investigating the upgrade of a large application based on AngularJS to Angular. This application relies on Bluebird as its global promise object and uses webpack as its module loader. The prescribed solutions mentioned in #455 were unsuccessful, as the promises from webpack kept resolving to `undefined` instead of the relevant view and controller content.

[code]

After investigation

[2018-07-16 23:43] JiaLiPassion commented on #1110
@jreidgreer , thank you for posting the issue, I will fix this one.

[2018-07-16 23:49] JiaLiPassion commented on #1112
@jrabbe, I will check this one, could you post a `test case` to describe this issue?
In current version, this line https://github.com/angular/zone.js/blob/master/lib/extra/bluebird.ts#L34
will return the `BluebirdPromise`, so it should be able to be chained. I will add some test cases too.

[2018-07-16 23:57] JiaLiPassion commented on #740
@enko, @shellmann, this issue is still pending because there is no proper way to patch `async/await` promise in `Javascript world`. In nodejs, it is possible to do the `patch` and I have made some POC to verify it. But in browser, it is still impossible to do that, so we will wait whether `zone` will pass `TC39` proposal or browser can open some `PromiseHook` like API to us.

So now, sorry this is

[2018-07-17 07:29] JiaLiPassion commented on #740
@enko, yes, it is, it has been in stage 0 for about two years...

[2018-07-17 10:01] JiaLiPassion commented on #1013
@tschoartschi, yes, it is released, and sorry I didn't clarify the document, please add this line before `import zone-testing` in `src/test.ts`.

[code]

[2018-07-17 12:50] tschoartschi commented on #1013
@JiaLiPassion thanks for the quick response, but I can't get it to work with the newest version. Beside experience "strange" behavior it somehow breaks `jasmine testing framework`. With `git://github.com/JiaLiPassion/zone.js#promise-for-test-dist` everything works fine but with `0.8.26`  `jasmine`says: `Spec 'App can boot correctly this time' has no expectations.`. Maybe I'm just missing something

[2018-07-17 14:22] JiaLiPassion commented on #1013
@tschoartschi, could you post a reproduce repo? thank you!

[2018-07-17 17:22] jrabbe commented on #1112
You can chain bluebird promises, yes, but the value from the callbacks (each of the `args`) are not propagated. Because the call to `func` is wrapped in a function which schedules a micro task, the function ([on line 25](https://github.com/angular/zone.js/blob/master/lib/extra/bluebird.ts#L25)) immediately returns `undefined`. This results in two problems:

1) If the invocation of `func` returns a

[2018-07-17 20:30] #1108 closed

[2018-07-18 01:17] JiaLiPassion commented on #1112
@jrabbe, yes, you are right, your fix is correct, I will add test cases and fix this one, thank you very much for the research.

[2018-07-18 03:18] royalrover commented on #740
@JiaLiPassion  How about node.js now? Can  we resolve the question with async_hook? has examples? thx!

[2018-07-18 06:45] saiumesh-letznav opened #1115 "Firefox Add-on TypeError: "fetch" is read-only"
I've developed Extension using Angular 4 which works well on Chrome but not on firefox, result in **TypeError: "fetch" is read-only**

The stack of error as follows

[code]

[2018-07-18 07:48] tschoartschi commented on #1013
@JiaLiPassion I tried to create a repo but I wasn't able to reproduce it. I have to investigate it in more detail and I'll let you know. But I'm not sure when I can finish it

[2018-07-18 10:14] JiaLiPassion commented on #1013
@tschoartschi, sure, please tell me when you can reproduce it.

[2018-07-18 10:16] JiaLiPassion commented on #740
@royalrover, yes, with `async_hooks`, this issue can be resolved, I am working on it in this PR #795.

[2018-07-18 12:02] JiaLiPassion commented on #1115
@saiumesh-letznav, in firefox extension environment, a lot of `window global` object can't be `monkey patched`, so you can disable the errored one, in this case, you can add this line before `import zone.js`.

[code]

[2018-07-18 13:11] saiumesh-letznav commented on #1115
Thanks for response. unfortunately it didn't work. I still get same error **TypeError: "fetch" is read-only polyfills.bundle.js:8719:31 **

**polyfills.browser.ts** as follows

[code]

[2018-07-18 13:16] JiaLiPassion commented on #1115
@saiumesh-letznav, yeah, the `fetch` is still not a module in `0.8.26`, currently, you have to wait for the next version of `zone.js` and try this flag until then.

[2018-07-18 13:20] saiumesh-letznav commented on #1115
@JiaLiPassion I did try with your flag. still I get the same error.

[2018-07-18 20:15] BenBergman opened #1116 "Taps on a touch screen are not triggering click events when packaged with Electron"
I have an Electron app that I inherited that I need to get working with a touch screen on macOS. If I repackage the app with Cordova touches trigger click events just fine but I am missing a bunch of functionality that Electron provides.

I have created [a fairly minimal project](https://github.com/BenBergman/angular-electron-tap-bug-test) that demonstrates this issue.

I had originally opened [a

[2018-07-18 21:09] mpadierna opened #1117 "App keep calling this"
Starting today, I observed this instruction is repeating every second, while testing Angular apps locally.

ZoneDelegate.prototype.invokeTask = function (targetZone, task, applyThis, applyArgs) {
            return this._invokeTaskZS ?
                this._invokeTaskZS.onInvokeTask(this._invokeTaskDlgt, this._invokeTaskCurrZone, targetZone, task, applyThis, applyArgs) :
                task.callb

[2018-07-18 21:50] JiaLiPassion commented on #1116
@BenBergman, as you said in `Cordova` it works fine, so it may not a `zone.js` issue, maybe `Electron ` did something to change the behavior of the `touch` event.
Is that possible to use `ipad` as a touch screen to test?

[2018-07-18 21:51] JiaLiPassion commented on #1117
This is not an issue, every `async` operations in `angular` will finally call this method, such as you have a `setInterval(..., 1000)`, it will call this function every second.

[2018-07-18 21:54] mpadierna commented on #1117
Thank you

[2018-07-19 12:40] MSkipper opened #1118 "se"

[2018-07-19 12:41] #1118 closed

[2018-07-19 14:17] BenBergman commented on #1116
I have packaged it with Cordova and deployed to iOS with successful touch clicks. I have also just tried serving the `dist/` directory and opening that on my iPad and clicks are working fine there too.

[2018-07-19 15:14] JiaLiPassion commented on #1116
@BenBergman, thank you for the update, so it looks like not a `zone.js` issue, `electron` does something to change the behavior. I do have a pixelbook with touch screen, I don't know whether it can work or not, I will try later. Could you write some simple reproduce steps with your minimal project?

[2018-07-20 09:42] joews opened #1119 "onHandleError is sometimes triggered for handled Bluebird rejections"
* Zone.js 0.8.26
* Bluebird 3.5.0
* Chrome 67

`onHandledError` is sometimes called for handled rejections when using the Zone.js Bluebird patch.

In this example, `onHandleError` is called despite `catch`. The `catch` callback itself is not called.

[code]

If the `runGuarded` callback calls `Bluebird.reject` instead, we get the expected behaviour: the `catch` callback is called, `onHandleError`

[2018-07-20 09:48] JiaLiPassion commented on #1119
@joews, thank you for posting the issue, I will check it.

[2018-07-20 12:47] Teamop opened #1120 "fakeAsync cannot work with FileReader event"
## verison
zone.js: 0.8.26

## issue
For testing the `FileReader` event, like `onload`, if with `setTimeout`, test case can pass, while with `fakeAsync`, failed.
The below is the code that can reproduce this issue and can just be pasted in the current test spec and run

[code]

## Background
Today when I tried to write some unit tests for a function with `FileReader`, I got this issue. But I'm not

[2018-07-20 16:31] JiaLiPassion commented on #1119
@joews, The issue is being fixed here #1114.

And I will clarify the usage.

## Setup

[code]

You don't need to set `global.Promise = Bluebird`, the `zone-bluebird` already did this.

## ZoneSpec
Basically, `onHandleError` will not be called unless `unhandledRejection` occurs (Rejected Promise without catch).

[code]

## catch

`catch` should always be called with a `rejected` Promise.

You can u

[2018-07-20 16:56] JiaLiPassion commented on #1120
@Teamop, `FileReader` is not supported by `fakeAsync` by default because it is not a `timer related async operation`, and currently, `FileReader.readAsText` is not a `macroTask` either, so I need to make a PR to support this feature.

And BTW, your case is not correct.

[code]

This will not really pass, because `number` will be `0`.
No error thrown because you didn't use `done`.

I will update a

[2018-07-20 17:01] Teamop commented on #1120
thanks @JiaLiPassion
so how about other methods, `readAsArrayBuffer`, `readAsBinaryString`, `readAsDataURL`?

[2018-07-20 17:03] JiaLiPassion commented on #1120
@Teamop, all those `methods` are the same, I need to create a PR to make those methods behave as `macroTask`, and let `fakeAsync` handle them.

[2018-07-20 17:04] Teamop commented on #1120
thanks @JiaLiPassion

[2018-07-24 09:54] JiaLiPassion commented on #970
@hakanaltinbas, `zone.js` will not access the file system, could you provide a reproduce repo?

[2018-07-24 21:18] joews commented on #1119
@JiaLiPassion thanks for the response!

The patch fixes my problem - `onHandledError` is not called for the handled rejection in my first example. Awesome, thank you! Do you know when we may see a release with this fix?

 Also thanks for the clarification on `window.Promise`. I saw that you don't need to patch manually, but after the `catch`/`onHandledError` issue I started playing around to see w

[2018-07-25 00:11] JiaLiPassion commented on #1119
@joews, thank you for the confirmation, and I will check the `re-assignment` case, it should work...

[2018-07-25 14:40] #74 closed

[2018-07-25 17:11] Germcguire87 commented on #1081
Im seeing the same error as @pratikparikh after using your PR @JiaLiPassion

[2018-07-26 00:57] JiaLiPassion commented on #1081
@Germcguire87, @pratikparikh-opentext, I will check it.

[2018-07-26 01:17] JiaLiPassion commented on #1119
@joews, in `nodejs`, the code you post will just work, to use it in the `browser`, it needs additional setup, I will add it to document.

[code]

[2018-07-26 05:21] pratikparikh-opentext commented on #1081
@JiaLiPassion thank you sir.

[2018-07-27 17:42] #1112 closed

[2018-07-29 05:19] alamothe commented on #740
Just want to point out the "obvious" workaround for Node.js, which is to downgrade target to ES2015 😄 . Thanks for your great work!

[2018-07-29 07:36] JiaLiPassion commented on #1081
I have made a new PR #1121 to fix the `Already loaded patch: ZoneAwarePromise` error, you can use the attached zip to test for now.
[zone.js.zip](https://github.com/angular/zone.js/files/2238587/zone.js.zip)

[2018-08-02 18:01] dudewad commented on #1001
Why is this considered a solution?? When running dev servers, people refresh all the time, we're talking about just spinning up web sockets endlessly? Why not fix the actual source of the problem?

[2018-08-02 20:44] dudewad commented on #1001
Oh I see, you mean that the websocket connection is created inside of IE and not released...? Okay that makes sense then. Sorry, was confused.

[2018-08-07 07:29] yaojiafeng opened #1123 "zone.js"

[2018-08-10 02:27] withleedh commented on #1078
import 'zone.js/dist/zone';  // Included with Angular CLI.
    (Promise.prototype as any)['__zone_symbol__then'] = Promise.prototype.then;

also not working on 4.4.4

[2018-08-10 02:37] withleedh commented on #1078
Attached to you can check this issue.

<img width="1421" alt="2018-08-10 11 35 46" src="https://user-images.githubusercontent.com/12030315/43936046-cb5ae130-9c91-11e8-83d7-c678960f0c12.png">
<img width="1403" alt="2018-08-10 11 35 58" src="https://user-images.githubusercontent.com/12030315/43936047-cb7e19ca-9c91-11e8-9300-36ca33e8028b.png">

[2018-08-10 02:43] withleedh commented on #1078
When I type Promise.prototype.then on console,

Result:

function (e,n){var r=new this.constructor(null),o=t.current;return this[d]==b?this[g].push(o,r,e,n):z(this,o,r,e,n),r}

[2018-08-10 07:49] Lokeai commented on #1081
@BennoStaub this was the easiest way for me. Downgrading angularfire2 to rc4 introducing conflicts with other packages.

[2018-08-10 09:52] singhvivek2503 commented on #1037
@sathishkumar94  Me too facing the same issue. Were you able to fix it?

[2018-08-13 10:03] saiumesh-letznav commented on #1115
@JiaLiPassion With same version of zone.js with Angular 6 works but doesn't work with Angular 4.

[2018-08-13 11:39] joews commented on #1119
@JiaLiPassion thanks for your help with this issue.

 Do you know when we may see a release with this fix?

[2018-08-13 12:05] JiaLiPassion commented on #1119
@joews, I am not sure the release date, please wait for a while, I can create a branch for a temp release if it will help.

[2018-08-13 12:29] JiaLiPassion commented on #1119
@joews, sure, you can use this one in `package.json`

[code]

[2018-08-15 17:11] #364 closed

[2018-08-16 09:11] joews opened #1124 "unhandledrejection event fires after Zone handles Bluebird rejection"
Zone.js patched version from #1119 (https://github.com/JiaLiPassion/zone.js/tree/bluebird-then-release)
Bluebird 3.5.0
Chrome 67

I'm not sure if this is a usage problem or a bug, but I suspect the latter.

The `unhandledrejection` event is triggered for Bluebird Promise rejections, even if a Zone's `onHandleError` callback has handled the error. This doesn't happen with `ZoneAwarePromise`.

Repro

[2018-08-16 15:04] JiaLiPassion commented on #1124
@joews, thank you for posting the issue, I think the `Bluebird` behavior is correct, I will check the `zone.js` behavior.

[2018-08-17 08:38] Teamop commented on #1063
@JiaLiPassion
I found an interesting issue with `jasmine.clock` with `beforeAll` and `fakeAsync`.
I just use this specs `fakeAsyncTest should work without patch jasmine.clock`(Line 968) in the  `test\zone-spec\fake-async-test.spec.ts` to reproduce the issue.

then just add one test case at the first after the `beforeEach` and `AfterEach`
[code]
Then can reproduce as following(with changes just for

[2018-08-17 08:41] ohjames commented on #1063
@Teamop see my previous comment, you can't use those methods anymore. Write your own that uses `tick` with a negative number to reach your target date. It's simple. I went through this pain so you don't have to :P

[2018-08-17 08:50] Teamop commented on #1063
@ohjames yes, but for me, this just happens with `beforeAll` and `afterAll` with `fakeAsync`, besides, just want to elaborate on them to provide some information. Hope it can help to identity the real issue.

[2018-08-17 08:51] ohjames commented on #1063
Yeah it can't be used in any hook other than the test itself since angular 6.

[2018-08-17 08:55] JiaLiPassion commented on #1063
@ohjames, @Teamop, I will check this issue again, thank you for posting the issue.

[2018-08-17 12:53] joews commented on #1124
@JiaLiPassion is it possible to prevent the `unhandledrejection` event being triggered for errors that have transited `onHandleError`?

I'd like to use it as an error boundary for all types of error from part of an app that executes user-generated code.

I have tried `return true` and `return false` from `onHandledError`, but it doesn't do exactly what I want.

### Bluebird
* `return false` or ret

[2018-08-21 06:57] rvalimaki commented on #740
I get it that with current state of browsers this is not possible to fix by Angular team. However, it's a huge issue going forward with Angular lacking support for not-really-that-recent ES standards. As I get it, Google uses Angular a lot internally, there is some MS involvement as well and I get also that this issue requires "political" actions, not technical ones.

I hope people on Angular team

[2018-08-21 14:08] citrusfrukt opened #1127 "Unhandled Promise Rejection when requests are cancelled due to reloading page in firefox"
If i have an ongoing ajax request that gets cancelled due to refreshing the page or navigating to another page i get a Unhandled Promise rejection exception.

`Unhandled Promise rejection: NetworkError when attempting to fetch resource. ; Zone: <root> ; Task: Promise.then ; Value: TypeError: "NetworkError when attempting to fetch resource."`

This does not happen when not using zone.js. It should

[2018-08-21 23:28] JiaLiPassion commented on #1080
@arrow-dev, could you provide a reproduce repo, thanks.

[2018-08-22 13:58] mcgraphix opened #1128 "Zone.js versions greater that 0.8.12 break dojo applications"
When using zone.js with dojo, dropdown widgets (datepicker, combobox, etc) don't register click events when interacted with.

Simple reproduction steps: https://github.com/mcgraphix/zonejs-dojo-bug

That repo is currently using 0.8.26. If you revert to 0.8.12 in the script tag, the widget will start working.

[2018-08-22 14:00] JiaLiPassion commented on #1128
@mcgraphix, thanks for posting the issue, I will check it.

[2018-08-22 14:31] mcgraphix commented on #1128
Thanks @JiaLiPassion - I discovered that the issue only happens in IE11. I updated the defect title above

[2018-08-22 16:39] n8all3n commented on #1080
@JiaLiPassion - I created a repo at [https://github.com/n8all3n/PolyfillTest](https://github.com/n8all3n/PolyfillTest) that is built off of the angular tour of heroes example.  In src/app/app-routing.module.ts I added a resolver to the routes which waits 1 second before transitioning.  Try to run this in both Chrome and IE 11.  In IE 11 it seems like the view doesn't transition all the way or some

[2018-08-22 20:19] arrow-dev commented on #1080
@JiaLiPassion my wording of the patch breaking hostbinding might not be quite accurate, what is breaking are some typeahead suggestions that are bound to an observable via the async pipe, I have added a basic repo here https://github.com/arrow-dev/zone-issue-repro that shows how with this patch in ie11, the async pipe is successfully subscribing to the observable but the DOM is not being updated w

[2018-08-23 16:05] BenBergman commented on #1116
@JiaLiPassion Have you had a chance to try reproducing my issue?

[2018-08-23 22:45] JiaLiPassion commented on #1116
@BenBergman, not yet, I will try to reproduce this weekend.

[2018-08-24 08:35] dfahlander commented on #740
I've followed this issue for some years now of curiosity and I think it's time to share my own solution to the problem, implemented in [Dexie](https://github.com/dfahlander/Dexie.js) version 2.0. It has been used for quite a while and works across all browsers keeping the zones between await calls. My first beta was released in October 2016, and the first stable 2.0 release in September 2017. Dexi

[2018-08-24 08:38] JiaLiPassion commented on #740
@dfahlander, thank you for the post, I will definitely read it, and I will contact you if I have any questions.

[2018-08-25 03:55] JiaLiPassion commented on #1128
@mcgraphix, I think the issue related to this one, https://github.com/angular/zone.js/issues/589, the `MSPointerUp` vs `pointerup` changes from `0.8.12`, I will do more research.

[2018-08-26 23:16] JiaLiPassion commented on #1116
@BenBergman, I tried on my `ChromeBook`, doesn't reproduce, I believe this may because the `chromebook` is just a linux, not a real touch device.
So I don't know how to help more, because I don't have a touch device on MacOS, BTW, what device exactly you are using?

[2018-08-27 07:50] JiaLiPassion commented on #1080
@arrow-dev, ok, I will check it, thank you.

[2018-08-28 14:39] mcgraphix commented on #1128
This just got a lot more critical with Angular 6. It seems that rolling back to an earlier version of zone.js doesn't work when running the tests. As you mentioned in this comment https://github.com/jasmine/jasmine/issues/1496#issuecomment-364190348 it the fix will be in a newer version of zone.js than the one we can currently use with dojo on the page

[2018-08-28 18:30] TheCraccer commented on #1078
@JiaLiPassion when is version 0.8.27 going to be released? As mentioned above the temporary solution is not working...

[2018-08-29 13:30] slavafomin commented on #1091
Hello! The `zone.js` is the only dependency which prevents us from dropping the `rxjs-compat` package in our Angular projects. I think this is a major issue for many Angular projects, because this prevents them from building more optimal bundles. Could you please tell me if this issue is actually on a roadmap?

[2018-08-29 13:48] maxmumford commented on #933
I seem to get this error in IE11 while dev tools are open, regardless of whether or not JiaLiPassion's fix is applied. Closing dev tools makes the web app load again.

[2018-08-29 14:18] JiaLiPassion commented on #1128
@mcgraphix, I created a branch for temp release.
Could you try to update your package.json and test the release is correct? Thanks.

[code]

[2018-08-29 14:39] JiaLiPassion commented on #1078
@withleedh, @TheCraccer, Sorry, I am not sure about the release date, I can create a temp branch, and you can use it as a temp solution.
Please update your `package.json`

[code]

to test it work or not, thank you.

[2018-08-29 14:43] JiaLiPassion commented on #1091
@slavafomin, @MrBlaise, I am not sure about the release plan, you can test it with this branch.
Update the `package.json` to
[code]

Thanks.

[2018-08-30 13:09] mcgraphix commented on #1128
Thanks @JiaLiPassion - In my limited testing it does seem that that branch fixes the issue.

[2018-08-30 13:30] JiaLiPassion commented on #1128
@mcgraphix, thanks for the confirmation!

[2018-08-30 15:54] robwalch opened #1130 "Compatibility with native Promise.race"
We've run into an issue on a handful of websites where embedding zone.js after jwplayer.js broke setup of our players because of a mix of Promise types used in Promise.race. The issue only surfaced as we rolled out a release that included changes to a promise chain ([addressed here](https://github.com/jwplayer/jwplayer/pull/3044)).

jwplayer.js uses references to `Promise` stored in a module on sc

[2018-08-31 19:43] davemecha opened #1131 "ZoneAwarePromise conflicts with native CacheStorage"
I'm working on a project where I wanted to dynamically cache URLs in browsers native CacheStorage, that is also accessed by the service worker.

I just try to access the cache like this:

[code]

I get the error:

[code]

I can easily reproduce this by typing `window.caches.open('testcache').then(result => result.add('/'))` on the browser console window my angular app.

I assume this problem is ca

[2018-08-31 20:09] JiaLiPassion commented on #1131
@davemecha, thank you for posting the issue, I will look into it.

[2018-09-02 02:35] JiaLiPassion commented on #1130
@robwalch, thank you for posting the issue, the reason the result is `b` because the `thenCallback` of `NativePromise` will be `executed earlier` than `ZoneAwarePromise`. Because `ZoneAwarePromise` use `NativePromise.then` as `scheduler`, so even `promise a` is `resolved`, it will still behind `NativePromise b`.
`zone.js` patch `Promise`, so the intent is letting `app` use `global.Promise(ZoneAwar

[2018-09-02 02:47] JiaLiPassion commented on #1131
@davemecha, I don't know the cause either, maybe the `native implementation` of `cache.add` will check the `promise` is `native or not`.

so another walkaround is just using `cache.put`.
[code]

[2018-09-04 17:05] robwalch commented on #1130
Hi @JiaLiPassion,

Thank you for the explanation. Could native promises in `Promise.race` be detected to avoid the additional `NativePromise.then` scheduler? If not feel free to close.

[2018-09-05 08:36] aaaa0441 commented on #910
I need to subscribe myself to this issue, waiting for a release of the fix.

[2018-09-05 10:03] mobichel commented on #1128
I hit a similar issue with zone.js and [angular-gridster](https://github.com/ManifestWebDesign/angular-gridster) component.

Events blacklisting solved the issue without zone.js downgrading:
`
(window as any).__zone_symbol__BLACK_LISTED_EVENTS = [
  'MSPointerDown',
  'MSPointerMove',
  'MSPointerUp',
  'MSPointerCancel'
];
`

[2018-09-05 12:38] JiaLiPassion commented on #1128
@mobichel, thanks, this will also work if you don't need to update data in `Pointer Event`.

[2018-09-05 20:53] umairda commented on #910
I was able to solve this issue by ejecting the webpack config then namespacing my chunks via the `jsonpFunction` option.

To be honest I don't understand how this resolves the issue of `zone.js` being loaded twice- but it does.

[2018-09-06 16:14] praveen-angular commented on #856
Hi All,

i am also facing this issue, reproducible steps were easy, here are those

1. create a method, which can make ajax call,
2. now listen to cordova resume event :- document.addeventListner('resume',()=>{
// perform api call
},false)

it throws error saying, evaluating method undefined '_this.methodName()'

If some one knows the solution please help on this.

[2018-09-06 23:08] #1091 closed

[2018-09-09 07:00] SerkanSipahi commented on #657
@herkulano I can reproduce it (in my case i have to subscribe events from the AppComponent/Root-Element because it runs in an chrome extension)

[code]

The error occurs when im trying to get events by `fromEvent` from the `AppComponent` (root component) but the error will not appear when subscribing child elements of `AppComponent` (root component).

Reproduce:
[code]

[2018-09-09 14:14] JiaLiPassion commented on #740
@dfahlander, thanks for your post again, I have sent you an email, please check it.

[2018-09-11 05:47] rahulp22 commented on #1078
@JiaLiPassion
I updated my package.json with your zone.js distribution above and it resolved the errors shown below for Chrome 33 and 34.
![image](https://user-images.githubusercontent.com/8207735/45340409-4d5e4b00-b54b-11e8-980e-3d5d404de830.png)
Chrome 33^^
![image](https://user-images.githubusercontent.com/8207735/45340444-74b51800-b54b-11e8-90de-49cb2012b81b.png)
Chrome 34^^
Thank you!

[2018-09-11 09:06] hecht-software opened #1135 "Pending microtasks are not detected in fakeAsync()"
I posted this question on SO, because I thought I'm doing something wrong:
https://stackoverflow.com/questions/52255528/how-to-detect-missing-tick-in-fakeasync

A user in the comments suggested submitting an issue here.

I have a problem with one of my unit tests. It tests a "delete" component method, which should show a confirmation dialog allowing the user to confirm or abort the delete action.

[2018-09-11 09:29] JiaLiPassion commented on #1135
@hecht-software, thank you for posting the issue, I just checked the code, and currently `fakeAsync` will report error if there is `pending timers`, such as `setTimeout`, but `microTasks` will be `executed` automatically after the `test func` finished.

And I understand your point, I will try to figure out whether this is a feature.

[2018-09-11 14:07] rwoody commented on #1034
I've noticed in my Cordova application that change detection will stop working when the application goes into the background, and starts working again after interacting with the application via a tap on the screen.

My work around was a combination of the [`setTimeout` fix for the iOS `resume` event quirk](https://cordova.apache.org/docs/en/latest/cordova/events/events.html#ios-quirks) as well as

[2018-09-12 06:04] hecht-software commented on #1135
Is there a way to detect pending microtasks? I looked into `fake-async-test.ts` and couldn't find a method. `_microtasks` is not meant to be accessed directly from outside. So maybe a first step would be to provide a `getMicrotaskCount()` method. This would allow to write an own `fakeAsync()`  function that fits one's needs. It would even allow to add another `expect()` for pending microtasks in t

[2018-09-12 16:27] JiaLiPassion commented on #1135
I know what you mean, basically current `fakeAsync` is designed (`auto flush microtasks`) to handle the behaviour like this.
https://stackblitz.com/edit/angular-bv8ekh?file=src/app/person/person.component.spec.ts

[2018-09-12 16:29] JiaLiPassion commented on #1108
@Matrosskin, sorry I don't know the exact release date, I can create a temp release branch if you want.

[2018-09-13 06:54] hecht-software commented on #1135
So purpose of `auto flush microtasks` is to ensure all code inside promise or event handlers is called. I.e. auto flush in your example ensures that the `expect` inside the `then` handler is called at all. Did I understand you correctly?

In your example it could happen that `expect` is never called, because `deleteEntry` is not resolved yet. The test dev could avoid this by adding a `tick()` at t

[2018-09-13 08:58] Matrosskin commented on #1108
@JiaLiPassion what it will mean for us? it will be a branch which almost ready for release - it will be a copy of the current state of the master, so new changes in master will not affect this branch until the exact release will be scheduled, correct? So basically we can just always checkout the exact commit instead of create temp release branch? Or relase branch means something bigger than just c

[2018-09-13 10:32] JiaLiPassion commented on #1135
I will try to figure out the use case, the case you said, if `deleteEntry` not resolved, there will not be microtask pending, so even you call tick, nothing will happened.

[2018-09-13 10:35] JiaLiPassion commented on #1108
@Matrosskin, the master branch will have the newest source code, but the `dist` folder will not be updated, so even you point your `package.json` to master, you will still use the 0.8.26 version zonejs.
So I can create a temp release branch which will also update the `dist` folder.

[2018-09-13 18:10] rdhelms commented on #782
I know this has been awhile, but I thought I would mention that this fix worked for me using Angular 6:

`polyfills.ts`
[code]
The first line is present by default. Adding the second line is what fixed change detection in Firefox for me.

Pretty similar to the above, just seemed preferable to do it in `polyfills.ts` now instead of in `index.html`

[2018-09-17 06:37] Mallesh25nayak opened #1136 "updating data from back end data using Http but im getting Error"
im updating data but using angular 4 in  server backend application Http
![decoratorfacory](https://user-images.githubusercontent.com/42228652/45608739-3307fe00-ba72-11e8-884d-b7312c58367d.PNG)

[2018-09-17 06:51] JiaLiPassion commented on #1136
Please ask the question to stackoverflow, this is not a `zone.js` issue.

[2018-09-18 07:41] dottodot commented on #1108
Any idea when this fix will be released?

[2018-09-19 11:33] egaoneko opened #1137 "How to ignore on properties with lazy loaded library"
I lazily load some libraries. I set `__Zone_disable_timer = true` to ignore `setTimeout` and `setInterval` in the lazily loaded libraries and then set `__zone_symbol__BLACK_LISTED_EVENTS`to ignore custom events in the libraries like `pointermove` and `mousemove`. But I think it doesn't work well like under pictures.

* Before settings on window
![image](https://user-images.githubusercontent.com/65

[2018-09-19 13:42] JiaLiPassion commented on #1137
Please provide a reproduce repo, thanks.

[2018-09-20 01:42] egaoneko commented on #1137
@JiaLiPassion ,

I made simple repo. I ask for understanding on slow loading.

* repo : https://github.com/egaoneko/zone-test
* page : http://egaoneko.github.io/zone-test/

I want to ignore things like under pictures.

![image](https://user-images.githubusercontent.com/6583941/45790794-7efcb200-bcc1-11e8-85b4-4f82dc593d6a.png)

![2018-09-20 10 41 06](https://user-images.githubusercontent.com/65839

[2018-09-25 16:13] sivarajthava opened #1141 "Unable to run unit test in Angular 5 - ng test"
While running ng test, I am getting error

"Uncaught TypeError: Zone.__load_patch is not a function".

I checked the source code in the debugger console in chrome, it is showing error ../zone.js/dist/async-test.js_global. It was worked earlier but now seems some of the dependencies got upgraded.

**Dev Dependencies version:**

@Angular/cli: 1.2.7,
@angular/compiler-cli:~5.2.0,
@types/jasmine:2.5.3

[2018-09-25 19:50] captaincaius opened #1142 "Why doesn't an unresolved promise schedule a macrotask after calling the executor?"
I wanted to pose this as a question in case I'm missing something.

It seems to me like after calling the executor within the promise constructor, a macrotask should be scheduled, similar to how the XHR code works.

My reason for this is this: if the async code that ends up resolving the promise was called from a different zone, angular testability will believe angular is testable too soon, and th

[2018-09-26 09:14] SerkanSipahi commented on #1115
@JiaLiPassion will this issue really fixed in the next version of zone.js?

[2018-09-26 09:27] SerkanSipahi commented on #1115
@JiaLiPassion why patching on developer console of firefox is working without any error (fetch is read-only)?
[code]

[2018-09-26 09:33] JiaLiPassion commented on #1115
@SerkanSipahi, `console` is different with `Extension`, `extension` is like a `limited environment`, a lot of `behaviors` are not allowed there.

[2018-09-26 09:34] JiaLiPassion commented on #1141
It seems your `environment` is not correct, please provide a `reproduce repo`.

[2018-09-26 11:15] SerkanSipahi commented on #1115
@JiaLiPassion do you have plan when will this issue (the fetch is still not a module) fill be fixed?

[2018-09-26 11:52] JiaLiPassion commented on #1142
@captaincaius, I am not sure I understand your `use case`, in your sample code,
[code]
Because `setTimeout` is not running in `ngZone`, so `testability` can't not monitor this `setTimeout` at all, `testability` doesn't know there is a `macrotask` out there, so it just finish because everything is done( but in fact, there is a macrotask out of it's control).

So this is not an issue, this is by des

[2018-09-26 13:01] SerkanSipahi commented on #1115
Update: i found a way to run the extension firefox but that is a really really bad solution. The error "fetch is read-only" appears only in `"strict mode"`. What i have done? Well, i removed from compiled pollyfills.js the `"strict mode"` function headers.

Now i get some different weired error:

[code]

[2018-09-26 13:43] captaincaius commented on #1142
Hello :)

Thanks for taking the time to respond so quickly!  I understand what you mean by why the behavior is the way it is.  But I think my example was pretty bad at illustrating the use-case.  If you don't mind, I'll try one more time...

Let's say there's a setInterval that does some polling and processes a callback queue...  Certainly you'll need the setInterval to run outside the ngZone, or

[2018-09-26 14:35] jesgundy commented on #1078
I was able to resolve this issue by adding `import 'core-js/es6/promise';` to the list of IE9/10/11 reqs in my `polyfills.ts` file (now extracted to a [ie-polyfills file](https://github.com/angular/angular/blob/master/aio/src/ie-polyfills.js).

Seems that Chrome 33 has a faulty implementation of [unhandled rejection events](https://caniuse.com/#feat=unhandledrejection). Manually adding the promise

[2018-09-26 18:01] sivarajthava commented on #1141
Thank You. It worked 2 weeks back. I did not change anything in the code base. I created another sample project event that project also worked for me.  After launched chrome browser I checked the developer console I am getting error in "Uncaught TypeError: Zone.__load is not a function at zone-testing.js" and cause is from test.js. Could you please let me know any version compatibility  issue

[2018-09-27 05:36] egaoneko commented on #1137
@JiaLiPassion , Thank you for the solution! It's works! I'll close this issue!

[2018-09-27 05:36] #1137 closed

[2018-09-27 07:33] 255kb commented on #1101
after testing with a more recent electron version (3.0.0) everything seems to be working again, I can close this.

[2018-09-27 07:33] #1101 closed

[2018-09-27 19:28] SerkanSipahi commented on #1115
@saiumesh-letznav @JiaLiPassion  now i have found a way to run the angular app in firefox without any errors. Its hackie but is works :) It has one downside but this ok. You have to trigger the rendering engine `this.appRef.detectChanges()` by your self on any change.

in main.ts pass `{ngZone: 'noop'}` to bootstrapModule:
[code]
then remove then from pollyfills:
[code]

and remove this line from

[2018-09-28 22:53] Goodwine opened #1144 "ResizeObserver (and MutationObserver) not executed while in fakeAsync"
## Current behavior
Example with delay (my use case) -
https://stackblitz.com/edit/angular-f8evbx?file=src/app/app.component.spec.ts
Simplified example -
https://stackblitz.com/edit/angular-f8evbx-3ak8vv?file=src/app/app.component.spec.ts
MutationObserver example -
https://stackblitz.com/edit/angular-f8evbx-6wdpmj?file=src/app/app.component.ts

1. Use ResizeObserver (or MutationObserver + window.o

[2018-09-28 22:58] Goodwine commented on #1144
I also tried `whenStable` just in case but without any hope, it didn't work either

[2018-09-28 23:01] JiaLiPassion commented on #1144
Thanks for posting the issue, The reason `MutationObserver`, `ResizeObserver` not work in `fakeAsync` because they are not `patched` as `Task` like `setTimeout/Promise`. I will consider how to turn them into `task`.

[2018-10-03 22:18] chetankh23 commented on #1015
I am facing the same issue. I upgraded from Angular 5.2 to Angular 6 and my all the unit tests are breaking apart randomly. I even tried setting up the random mode by jasmine as per @denisbeklarov comment. But its still failing. I tried to use the
`"zone.js": "git://github.com/JiaLiPassion/zone.js#jasmine-dist"`
in my package.json. But it's still failing.

[2018-10-08 16:34] lightrabbit commented on #1077
This problem also occurs on the API of the Universal Windows Platform. Although `WinJSPromise` and `UWP API` do not follow `Promise spec`. But in order to avoid confusion for developers, making the performance of ZoneAwarePromise the same as native Promise, is it a better choice?

For example, the test case(non standard Promise) below:
[code]

For native Promise, the result is
[code]

For ZoneAwar

[2018-10-10 11:30] avolobuev opened #1145 "Capturing all the events doesn't work correctly for Microsoft Edge"
Hi.
It seems there is an issue for patchViaCapturingAllTheEvents() function in Microsoft Edge browser (from 17 version).
This block:
      if (elt) {
        source = elt.constructor['name'] + '.' + onproperty;
      }
Throws exception: Unable to get property 'name' of undefined or null reference

Its difficult to reproduce. Can't tell for which event target it happens and there are no acceptable

[2018-10-10 11:32] JiaLiPassion commented on #1145
@avolobuev, I will try to reproduce it first, thanks!

[2018-10-11 04:06] kksevta opened #1146 "How to make zone.js not to patch some async tasks like settimeout"
Hi Folks,
We have a scenario where we are continuously polling data from server in frequent calls of **setTimeout**.
We don't want the change detection to run after each setTimeout.

I know we can run setTimeout **outsideAngularZone**. But we have setTimeout at multiple places in our code. So putting each setTimeout in outsideAngularZone will be time taking process.

So what is the best way to tel

[2018-10-11 04:13] JiaLiPassion commented on #1146
here is the document, https://github.com/angular/zone.js/blob/master/MODULE.md
Just add code before `import 'zone.js/dist/zone'; in polyfills.ts`
[code]

[2018-10-11 04:30] kksevta commented on #1146
Thanks @JiaLiPassion  for quick response.
I hope for XHR` (window as any).__Zone_disable_XHR = true; ` will work.
and this won't trigger changeDetection at all after XHR completion?

[2018-10-11 05:15] JiaLiPassion commented on #1146
Yes, it should work, but I only disable this `XHR` may not enough, because I remember `Angular` also use `xhr.onload`, so you may also need to disable `onload`
[code]

[2018-10-11 05:54] kksevta commented on #1146
what about onReadyStateChange?

[2018-10-11 08:12] avolobuev commented on #1145
It has something to do with pseudo-element pointer events

[2018-10-11 08:57] JiaLiPassion commented on #1146
Yeah, you may need to disable that too.

[2018-10-11 14:14] exsoflowe commented on #829
It can be related with auto_focus = false.
It works for us if we set auto_focus **true** for Edge.

[2018-10-12 04:10] kksevta commented on #1146
HI @JiaLiPassion

Polyfills.ts
[code]
App.Component.ts
[code]
This is updating the value in template after each interval, that's means Angular Change detection is running after each interval.

But instead of making changes in Polyfills.ts, If I directly comment out code in Zone.js

[code]
The value is not updated in template and angular change detection is not running.
Please let me know what am I

[2018-10-12 05:13] kksevta commented on #1146
[code]
This was giving undefined, So for the time being I have defined it in index.html

[code]

and this works fine

[2018-10-12 11:15] avolobuev commented on #1145
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17435642/

[2018-10-13 06:28] #1146 closed

[2018-10-13 16:15] captaincaius commented on #1142
Hi @JiaLiPassion ...

I wanted to see if the idea I mentioned would solve the problem to begin with, because the ionic framework's loading controller currently works almost exactly how I described above, and so it exhibits the problem.

So I made a proof of concept.  It solves the problem for the examples I gave above, and also for the loading controller I mentioned:

https://github.com/captaincai

[2018-10-15 01:05] JiaLiPassion commented on #1145
@avolobuev, could you give me a reproduce repo, I can't reproduce in my `Edge 17` environment.

[2018-10-15 01:10] JiaLiPassion commented on #740
@dfahlander, I think I have a basic understanding of your code, I tried the same way, it works in some cases, but not work in the case below.

[code]

In this case, `test2` itself is not an `async` function, and inside it, it will call an `async` function, in this case, `zone.js` doesn’t know when `await of test1` begin, so `zone.js` can not keep the zone before `await`.

I think `Dexie` doesn't h

[2018-10-15 06:42] dfahlander commented on #740
That is true. It might not be the only solution. Maybe it would be better to always do `incrementExpectedAwaits()` and inspect whether returnValue is NativePromise, and if not, call `decrementExpectedAwaits()` directly. But I haven't thought it through...

[2018-10-15 06:49] JiaLiPassion commented on #740
@dfahlander, thanks for the response, in this case,
[code]

the return value of function `test2` is `void`, so there is no way to check it is a `NativePromise or not`.
So we still need some `PromiseHook` to make all cases work!

[2018-10-15 07:08] dfahlander commented on #740
True. Unless accompanied with a coding guideline of how to utilize zones together with native async await.

[2018-10-15 07:17] avolobuev commented on #1145
https://plnkr.co/edit/7ocm9jlOi5SfL3HijH3e

[2018-10-15 15:54] avolobuev commented on #1145
@JiaLiPassion is it enough?

[2018-10-15 18:06] JiaLiPassion commented on #740
@dfahlander, thanks for the clarification!

[2018-10-15 20:50] christianpalmer commented on #908
Hi @JiaLiPassion  do we have any update on this?
Thanks!

[2018-10-15 21:34] mlc-mlapis commented on #908
@JiaLiPassion ... btw, is the patch necessary at all for RxJS 6.x and Angular 6.x?

[2018-10-15 23:51] vovikdrg opened #1147 "Proper message when angular test.ts has invalid order instead of "TypeError: Cannot read property 'assertPresent' of undefined""
After I enabled ts-lint autofix with import sorting I got error in my tests "TypeError: Cannot read property 'assertPresent' of undefined"

// This file is required by karma.conf.js and loads recursively all the .spec and framework files

[code]
After that i found https://github.com/angular/angular/issues/11317#issuecomment-419122951 which solved my issue but I am not one who have this problem

I

[2018-10-16 09:14] adrianbarbe commented on #782
@rdhelms I tried your solution, but it didn't work for me. I still have troubles with change detection when I run my application (component) as web-component and it's critical for me. When I run this application as usually, change detection works well.

I'll appreciate any tips or advices.

[2018-10-16 12:20] rdhelms commented on #782
@adrianbarbe Is change detection working for you in Chrome but broken in Firefox? The solution above was for that specific case, but if change detection is broken in all browsers then it's probably a different issue.

Would be happy to help debug, but would probably need some more specifics or code example. Hope it works out!

[2018-10-16 19:13] piyushkashyap14 commented on #1031
I am using angular 5 and has the same error. i have imported all mentioned by uncommenting. Also I have no bootbrowser.ts file. Kindly help!

[2018-10-17 19:15] amitesh786 commented on #405
I agree, but I just remove some more link related to zone -

I have seen this problem, so I just remove as well as I create `system.config.js` file that contain info related to link & all script it works perfect.

[2018-10-19 09:43] JiaLiPassion commented on #1147
the reason is `tslint` just change the `import order`.
you need to `import 'zone.js/dist/zone-testing'` in the first line.

[2018-10-19 09:44] JiaLiPassion commented on #1145
@avolobuev, thanks, I will check it, sorry for the delay, I will give feedback after I trying it.

[2018-10-19 10:09] vovikdrg commented on #1147
@JiaLiPassion You are absolutely right, but my point is that proper error message should say that, how can I say what is wrong from this error message ?

[2018-10-19 10:32] JiaLiPassion commented on #1147
@vovikdrg, oh, you are right, I will change this message, thanks!

[2018-10-20 14:19] JiaLiPassion commented on #1031
@piyushkashyap14, please provide a reproduce repo.

[2018-10-21 00:00] JiaLiPassion commented on #1145
@avolobuev. I tried your sample, but still can not reproduce.
![screen shot 2018-10-21 at 8 59 48](https://user-images.githubusercontent.com/1442575/47261685-c61fd200-d50f-11e8-9b47-9e06edb39192.png)

[2018-10-22 05:20] avolobuev commented on #1145
@JiaLiPassion you need following Edge version for reproducing:
Microsoft Edge 42.17134.1.0
Microsoft EdgeHTML 17.17134

Try BrowserStack, if you have not such version on you PC.

[2018-10-22 12:42] abdulkareemnalband opened #1149 "Question:When Can we expect new release of zone.js?"
## Question

It has been long time since last release. There are quite few fixes available on trunk for long time (like rxjs6 compability #1122 )

When can we expect next release?

[2018-10-22 19:19] cary-smith commented on #962
So we have recently run into this too (using 0.8.26). Weird part is, the components using the ResizeObserver and MutationObservers are built using StencilJS so they are not part of the Angular ecosystem. Are there workarounds for 3rd party libraries?

[2018-10-25 17:48] Pretorian commented on #909
getting this error on chrome half of the time, running     "zone.js": "0.8.4"

[2018-10-26 17:11] #1077 closed

[2018-10-27 16:17] soorireddy commented on #1034
+ 1

@angular: 7.0.1

"cordova": "^8.1.2",
"cordova-android": "^7.1.1",
"cordova-browser": "^5.0.4",
"cordova-plugin-googleplus": "^5.3.2",
"cordova-plugin-whitelist": "^1.3.3",
"core-js": "^2.5.7",
"rxjs": "^6.3.3",
"sockjs-client": "^1.3.0",
"zone.js": "^0.8.26"

not working for router changes too ( back and navigate ) , forced to call ngZone.run()

[2018-10-29 07:03] peterbakonyi05 commented on #1149
Any update on this please? :)

Back in July, there was an important memory leak fix when running tests using Jest (https://github.com/angular/zone.js/pull/1106). Would be nice to know when can we expect that fix to be released (maybe at least as a nightly).

[2018-10-29 07:12] JiaLiPassion commented on #1149
I created a temp release branch for test, I am not sure about the official release date.
update `package.json` as below

[code]

[2018-10-30 20:45] mcgraphix commented on #1128
@JiaLiPassion Any ETA on when this fix will be released?

[2018-10-31 22:17] fr0 opened #1153 "ZoneTask.toString can return a number, which causes problems in Jasmine"
If a karma/jasmine test fails due to an unhandled promise rejection, Jasmine's `PrettyPrinter` class throws an exception due to the `ZoneTask.toString` function not returning a string.

See: https://github.com/jasmine/jasmine/issues/1575

[2018-11-01 09:14] hlovdal commented on #1149
And please, please start adding [changelog entries](https://keepachangelog.com/en/1.0.0/) to the releases. Currently https://github.com/angular/zone.js/releases contains **zero** release related information except for the dates.

Or if you want to keep the changelog information in a dedicated file instead that is fine as well ([example](https://github.com/pallets/flask/blob/master/CHANGES.rst)), b

[2018-11-01 09:16] JiaLiPassion commented on #1149
@hlovdal, there is change log here, https://github.com/angular/zone.js/blob/master/CHANGELOG.md

[2018-11-01 13:51] dottodot commented on #1149
Considering how much zone.js is used in Angular I'm bit confused as to why none of the bug fixes are getting released. It now been 7 months since the last release.

[2018-11-01 14:15] fr0 commented on #1153
I have not been able to reproduce it outside of my private repo, but I will keep trying. Thanks!

[2018-11-01 23:01] mko commented on #1149
@JiaLiPassion I think one of the big concerns from the community is why an official release is being held up. I greatly appreciate the "temp release" on your fork, but we're stuck in a weird holding pattern until that becomes formalized properly.

[2018-11-02 00:06] JiaLiPassion commented on #1149
Sure, guys, sorry for the delay, I will ask @mhevery about the release schedule.

[2018-11-02 00:19] nategurian opened #1154 "drainMicroTaskQueue infinite loop Angular 6 safari"
I recently upgraded my angular 5 app to angular 6. On my windows machine the app works as expected.  When I cloned the repo on my MAC the app does not ever visually load. I am able to hit breakpoints but the app never loads.

After debugging, I found that the function drainMicroTaskQueue gets stuck in an infinite loop and that is causing the hang up of the browser.

Angular 6
zone.js: 0.8.24
Mac:

[2018-11-02 00:20] JiaLiPassion commented on #1154
@nategurian, yeah, please post some reproduce repo, thanks!

[2018-11-02 00:37] nategurian commented on #1154
@JiaLiPassion I am trying. I just created a new angular 6 app for repro purposes with all the same versions I am using and its working. So Just a bit confused at the moment

[2018-11-02 00:50] nategurian commented on #1154
@JiaLiPassion Yea I am not sure I am able to reproduce the error in another small repo. I am more than willing to post my private repo in github for someone to check it out to reproduce.

[2018-11-04 07:27] staeke opened #1155 "Cannot assign to read only property 'message'"
We have unit tests throwing errors with `message` being read-only. This blows up with zone in `mocha-patch.js` since it's writing to the `message` property, thereby hiding our original errors (apart from destroying the test run)

[2018-11-04 09:07] staeke commented on #1155
The offending line is line 150 in `mocha-patch.js`. I can work on creating a reproducible case, but is it necessary. If you just look at that line, I think you can agree that this would not work if the errors don't allow resetting `message`. Btw...using `0.8.26`

[2018-11-04 09:07] staeke commented on #1155
@JiaLiPassion - somehow my answer ended up before yours :), so look above

[2018-11-04 09:14] JiaLiPassion commented on #1155
@staeke, ok, I will add `check` logic there, thanks.

[2018-11-04 09:52] JiaLiPassion commented on #1155
@staeke, which version are you using, and could you post a reproduce repo? thanks!

[2018-11-04 11:14] staeke commented on #1155
@JiaLiPassion thanks

[2018-11-06 01:54] nategurian commented on #1154
Found the issue. I had an async call that was being called over and over causing the app to jam up. Still a mystery as to why it would not jam on windows but it would on mac. Either way, ticket closed and not zone.js related

[2018-11-06 01:54] #1154 closed

[2018-11-06 08:49] Mathyn commented on #1110
Is a fix already available? I am also running into issues using node-tar with zone.js. I use zone.js version 0.8.26.

[2018-11-06 15:35] peteichuk opened #1160 "[Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019."
**[Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019. Please use window.customElements.define instead.**
_[See for more details.](https://www.chromestatus.com/features/4642138092470272)_

[2018-11-07 23:51] malladis commented on #1034
I can help with the reproduce repo, but it involves an IOS app using cordova bridge loading an Angular webview..how do you want to do this? Do you prefer a working session instead? Please let me know, this has become a critical issue on our side and needs a resolution soon. Thanks in advance and we appreciate any help!

[2018-11-08 00:29] malladis commented on #1034
@JiaLiPassion I can help reproduce a repo but this involves an IOS app using a cordova bridge to load Angular web views. How do you want us to do this? Do you may be prefer a working session or something? Please let me know, this is causing a lot of problems for our product, and needs a resolution soon. Appreciate any help!

[2018-11-08 08:04] JiaLiPassion commented on #1034
@malladis, thanks, any reproduce repo will help, so please post a repo so I can install and debug.

[2018-11-13 07:12] alamothe commented on #1110
Running into this issue after upgrading Node, is there a fix?

[2018-11-13 09:35] JiaLiPassion commented on #1110
@alamothe, it is fixed, but not merged yet, please wait for the next release(not sure when...)

[2018-11-13 21:22] mko commented on #1149
@JiaLiPassion @mhevery Any update on a Zone.js release? There's numerous issues fixed by the temp release version but none appear to be usable by the community.

[2018-11-16 09:34] NicBright opened #1161 "Support for history.pushState()"
I just found out that history.pushState() is not patched.

I would have expected it to be patched because it's most natural to expect the Angular router to pick up changes to the url from outside of Angular just as well.

For tracking purposes:
In this issue from 2014, btford already outlined History API to be supported by Zone.js: https://github.com/angular/zone.js/issues/9

[2018-11-16 09:39] JiaLiPassion commented on #1161
@NicBright, not sure what need to do to patch `pushState`, it is just a `function`, without any `callback` or `async operations`.

[2018-11-16 10:34] JiaLiPassion commented on #1160
It is supported in this PR https://github.com/angular/zone.js/pull/1133, will be available in the next version.

[2018-11-16 10:47] NicBright commented on #1161
@JiaLiPassion, yes it's "just a function". As far as I know there's no event triggered when pushState() is called. I can imagine a simple monkey patch like this:

[code]

[2018-11-16 10:49] JiaLiPassion commented on #1161
@NicBright, could you post a use case or some reproduce repo to describe that without the patch change detection will not run? Thanks!

[2018-11-16 10:59] NicBright commented on #1161
@JiaLiPassion my concrete use case is this:
In my Angular SPA I'm loading a 3rd party application (not necessarily an Angular SPA) within an iframe. Inside the 3rd party application there's a link that shall trigger navigation of the Angular SPA ("create a new business object starting with pre-defined parameters"). Until now, we used the hashbang navigation mode where everything worked well, becau

[2018-11-16 11:01] JiaLiPassion commented on #1161
I see, I will try to create a reproduce repo, thanks!

[2018-11-16 22:42] jreidgreer commented on #1110
@Mathyn @alamothe you can prevent this issue if you place this before Zone bootstraps:

[code]

Obviously not idea, but it'll do the trick.

[2018-11-17 07:02] alamothe commented on #1110
Does it have any side-effect...?

[2018-11-17 08:01] JiaLiPassion commented on #1110
@alamothe, the `side-effect` will be the `callback` of `addListener(eventName, callback)` will not under the control of `zone.js`, so it will outside of `zone`. if you are working on something relying on it (such as `Change detection` in Electron), it will not work.

[2018-11-17 15:05] uberspeck commented on #1001
I'm still seeing the "Security Error" even after applying @JiaLiPassion fix. I've also addressed the error in #933 and followed the directions in the [Angular and Internet Explorer](https://blog.angularindepth.com/angular-and-internet-explorer-5e59bb6fb4e9) article. Any subsequent navigation leads to a blank page and no console errors. I've restarted the browser and even restarted my VM and confir

[2018-11-18 02:09] alamothe commented on #1110
No worries, in my case I'm fine with `puppeteer` 1.8 for now and will wait for the next release. Thanks!

[2018-11-18 13:56] JiaLiPassion commented on #1001
@uberspeck, yeah, you have to import those `polyfills` to make `es6 APIs` work property in `IE`.

[2018-11-19 19:50] Jonatino commented on #1153
Also seeing this issue in jasmine.

[2018-11-19 19:54] Jonatino commented on #1153
@JiaLiPassion @fr0 looks like the issue is coming from here

[code]
It will return the `TaskData.handleId` which is a number. Returning a number and not a string doesn't make sense in a `toString()` call.

[2018-11-19 19:55] JiaLiPassion commented on #1153
@Jonatino, thanks! I will fix this one.

[2018-11-20 03:18] justinappler opened #1164 "Node Process crashes with 'Call stack exceeded' error in zone-node on Node 10"
zone.js version: 0.8.26
Node Version: 10.13.0

When running my Angular Universal application in Node 10.13, using `zone.js/dist/zone-node` version 0.8.26, the process crashes at startup with the following Stack Trace:

[code]

The error does not reproduce when I downgrade to Node 8 (8.9.4).

[2018-11-20 06:56] JiaLiPassion commented on #1164
Please provide a reproduce repo, thanks!

[2018-11-20 14:24] varrob112 commented on #1001
thank you @JiaLiPassion for the registry fix! its working for me. (But i dont know how u figure out this fix. 👍 )

[2018-11-20 18:09] justinappler commented on #1164
@JiaLiPassion I'm having trouble isolating what part of the code is triggering the issue. My instinct was that it had something to do with the Domain API in Node, but a small HTTP server that uses domains and Zone doesn't seem to trigger a repro of this case. It seems to have something to do with calling prependListener as from the stack trace you can see the infinite loop that occurs and causes t

[2018-11-20 21:32] maximedupre opened #1165 "Patch decodeAudioData"
Using the promise version of `decodeAudioData` returns a zone aware promise, but since this method has not been patched, the operation is not included in the list of microtasks.

    context.decodeAudioData(ab).then(this.audioDataDecoded.bind(this))
    this.ngZone.hasPendingMicrotasks // returns false
    Promise.resolve(null).then(() => {});
    this.ngZone.hasPendingMicrotasks // returns true

[2018-11-20 23:47] JiaLiPassion commented on #1165
I will try it later, thanks!

[2018-11-25 17:14] maximedupre commented on #1165
Maybe that the `.then` is added as a micro task once the decoding is done?

[2018-11-25 17:18] JiaLiPassion commented on #1165
@maximedupre, yes, you are right, when `decodeAudioData` is finished, `hasPendingMicrotasks` will be true.

[2018-11-25 17:30] maximedupre commented on #1165
Shouldn't there be a microtrask as soon as the `.then` is called?

[2018-11-25 17:39] JiaLiPassion commented on #1165
No, this is how promise worked, microtask only scheduled when promise is resolved or rejected.

[2018-11-26 15:49] #1165 closed

[2018-11-29 20:46] mleibman commented on #910
Should the same be done for loading patches?

[2018-11-30 18:51] JiaLiPassion commented on #1161
I will check it this weekend.

[2018-12-02 19:53] ArielBar commented on #1149
any updates?

[2018-12-05 14:57] JiaLiPassion commented on #1149
Sorry, I still confirm the `release date` with `angular core team`, hope will cut a release soon!

[2018-12-05 16:02] FDIM opened #1167 "macroTask 'setInterval': can not transition to 'running', expecting state 'scheduled', was 'notScheduled'"
So for quite some time we are seeing this error message in our logs and none of us are able to reproduce it locally. Does any one know how/why this case could occur?

[code]
We are seeing it for setTimeout and for setInterval and it is happening only in IE 11. What is interesting is that right before this error I can see $digest in progress errors (we run Angular + angularjs hybrid) from 4 http re

[2018-12-05 16:04] JiaLiPassion commented on #1167
Is that possible to provide a reproduce repo? Thanks!

[2018-12-06 09:58] FDIM commented on #1167
Unfortunately not, at least not in a normal scenario - we only see it client log many times and can trace it back to the first deployment of the hybrid app (when we started using angular / zone.js)

I did manage to break it, but only if I patch setTimeout / setInterval like this:
[code]
The good thing is that  #1156 fixes it and the error is no longer thrown. So my only idea is that IE might fire

[2018-12-06 10:01] JiaLiPassion commented on #1167
Yeah, thanks, just like you said, maybe some bug in `IE` cause the `callback` fired even it is cancelled...

[2018-12-08 02:51] shicks opened #1168 "Suspicious code in promise.ts"
https://github.com/angular/zone.js/blob/9ed57124d19b116fbdf0869da94804be960a53fe/lib/common/promise.ts#L296
https://github.com/angular/zone.js/blob/9ed57124d19b116fbdf0869da94804be960a53fe/lib/common/promise.ts#L299

I'm rolling out a new lint check and discovered some suspicious code in promise.ts.  In the above snippets, `null` is always falsy, so it is ignored.  It can be simplified to simply `

[2018-12-08 03:36] JiaLiPassion commented on #1168
Thanks, I will fix it!

[2018-12-08 03:49] nbryan commented on #1164
I'm seeing the same issue after upgrading from Node 8 to 10.14.1. Downgrading resolves it. Sadly I don't have a simple way to reproduce it as this isn't a direct dependency of mine, so I'm not sure how zone.js is being used by my dependency.

[2018-12-08 03:57] nbryan commented on #1164
It looks like my dependency is specifying 0.8.20. Sorry I can't share it, it's internal to my company. 🙁

[2018-12-10 18:05] nbryan commented on #1164
I still need to look further into how my dependency uses zone.js, but I'm actually seeing the error when running my unit tests. Specifically, this line from Mocha:
[code]
In a Node console I could reproduce this more directly with:
[code]
Still need to look into how we're using zone.js, but thought this might be helpful.

[2018-12-11 07:37] JiaLiPassion commented on #1164
Thanks, @nbryan, is that possible to share your `unit test.js`?

[2018-12-11 08:01] Teamop opened #1169 "Cannot flush Response.arrayBuffer() promise"
I tried with the code below which mostly taken from the `Promise.spec.ts`:
[code]
I'm not sure if this case is correct though.
Seems here it's because the `Response().arrayBuffer()` is not patched as `MicroTask`, but I'm a little confused as [fetch.spec.ts](https://github.com/angular/zone.js/blob/master/test/common/fetch.spec.ts#L76) here checks the `arrayBuffer`, is it just for validating `fetch`

[2018-12-11 14:15] nbryan commented on #1164
@JiaLiPassion Actually the reproduction gets even simpler:
[code]
If I run that in the Node REPL I get an error. If I save it to a a file and run it with `node file.js` I don't.

[2018-12-12 02:47] JiaLiPassion commented on #1164
@nbryan, @justinappler, thanks! I have fixed this one https://github.com/angular/zone.js/pull/1170

[2018-12-12 04:06] nbryan commented on #1164
@JiaLiPassion Wow, thanks for the quick responses and turnaround on a fix!

[2018-12-12 21:36] #1164 closed

[2018-12-12 21:36] #1153 closed

[2018-12-16 12:39] robermorales commented on #405
Which is the intended process to get this fix inside a running angular 6 application? It seems that the fix is in the zone.js master branch but the latest npm release is from 8 months ago.

Thanks,

[2018-12-16 12:47] JiaLiPassion commented on #405
Please wait for a little more longer, the new version will be released soon.

[2018-12-16 12:48] JiaLiPassion commented on #1169
Thanks, I will check it.

[2018-12-17 02:32] dalu commented on #356
It just isn't working for me
I can see that events are received in chromium, but nothing happens.

service
[code]

[code]

[code]

[2018-12-17 08:35] fishbone1 opened #1173 "Attempting to change configurable attribute of unconfigurable property"
Using iOS' WKWebView in a Cordova app, I get this exception:

The exception is thrown here:
https://github.com/angular/zone.js/blob/afa1363eb9ae3be506442311a18723a112f9ef8b/lib/browser/property-descriptor.ts#L362

The strange thing is that the exception only occurs once in a while and I don't know how to reproduce it. I assume that there is other code that overwrites the `onreadystatechange` attri

[2018-12-17 12:55] JiaLiPassion commented on #1173
Thanks, I will check it.

[2018-12-18 09:22] papushe opened #1174 "Error: ReferenceError: Zone is not defined"
1. I've created a new project

2. trying to run this -
![image](https://user-images.githubusercontent.com/23402732/50144107-0359d380-02b7-11e9-91c6-3f6ee0ce5b34.png)

3. getting this error
"C:\Program Files\nodejs\node.exe" "C:\Users\ashely\Documents\Angular\unit Testing\runProtractor\node_modules\protractor\bin\protractor" "C:\Program Files\JetBrains\IntelliJ IDEA 2018.3.1\plugins\JavaScriptLangu

[2018-12-18 09:58] JiaLiPassion commented on #1174
You are not importing `zone testing related stuff`.
I see you are using `zone.js 0.8.19`, so you need to add the following code at the beginning your `src/test.ts`.

[code]

[2018-12-18 10:59] papushe commented on #1174
1. this is my test.ts file after your answer
![image](https://user-images.githubusercontent.com/23402732/50149733-aa913780-02c4-11e9-80b2-90349da24e11.png)

and still get the same error

[2018-12-18 11:01] JiaLiPassion commented on #1174
Oh, you already import `zone-testing`, then you don't need
[code]

And I think this is your `intellij setting issue`, it seems this `test.ts` are not loaded...

[2018-12-18 11:03] papushe commented on #1174
leave it like this?
![image](https://user-images.githubusercontent.com/23402732/50149967-491d9880-02c5-11e9-994e-99979c525674.png)

So what should I do?

[2018-12-18 11:04] JiaLiPassion commented on #1174
I am not sure about `intellij settings`, if you run `ng test`,  any error there?

[2018-12-18 12:20] papushe commented on #1174
no. working just fine

[2018-12-18 13:41] JiaLiPassion commented on #1174
Yeah, so this is not a `zone.js` issue, please ask how to integrate with `ng test` with `jetbrain IDE` in stackoverflow.

I am using `WebStorm`, with the newest version, there is a built in `run config` named `karma test` under `angular project`, it just work out of the box.

[2018-12-18 13:58] papushe commented on #1174
I'm using IntelliJ IDEA 2018.3.1 (Ultimate Edition).

Where can I find it? the 'Karma test'?

By the way, If I haven't mentioned it before - I've created a new project with angular cli
and just try to run the specific test as I attached

[2018-12-18 23:36] JiaLiPassion commented on #1174
Like I said, I am using `WebStorm`, so I am not sure about `Intellij`, you can ask at `stackoverflow`.

[2018-12-20 00:09] Goodwine commented on #1144
Hiya, I was wondering if this is something I could try to work on, do you have an example commit showing how a patch like this is done?

[2018-12-20 08:50] JiaLiPassion commented on #1144
@Goodwine, thanks a lot, I am working on this now, it involves `MutiationObserver, ResizeObserver` and some other stuff such as `FileReader`, I want to make a generic routine to support them in `fakeAsync`, and thanks again, I will let you know after I finish.

[2018-12-20 10:56] fishbone1 commented on #405
This error can also occur if you export symbols at the bottom of polyfills.ts and import them in another ts file of your application.

[2018-12-24 09:45] ossdev07 opened #1175 "phantomjs"

[2018-12-24 09:46] #1175 closed

[2018-12-26 23:45] felyperennan commented on #1078
I was going with this one but then angular won't recognize "this" as the current component for async functions. My project here uses those heavily :/, if anyone has a stat on that I'd very much appreciate it.

[2019-01-07 06:55] oocx commented on #1149
We are currently getting many support calls from our customer because of issue #1072, which was fixed by #1074. A new release that contains that PR would be great.

[2019-01-08 00:50] #1110 closed

[2019-01-08 00:50] #1081 closed

[2019-01-08 02:30] JiaLiPassion commented on #1149
we will have a new release very soon, sorry for the long waiting!

[2019-01-10 08:59] Lirianna commented on #758
+1

[2019-01-10 11:32] Lirianna commented on #856
Hi all,

I also experienced this issue with routerLinks and the use of (tap) instead of (click). As soon as I changed it to (click), it works.

I later found this https://forum.ionicframework.com/t/click-vs-tap/99094/3 where they suggest to add 'tapable' on (click), which I haven't tried yet. Hopefully this will be my tempoary fix.

Hopefully this will help someone else looking up this issue like

[2019-01-11 06:01] JiaLiPassion commented on #1149
0.8.27 is live in npm now!

[2019-01-14 21:17] bschlosser opened #1177 "Missing tag for v0.8.27 release"
0.8.27 was released but it wasn't tagged

[2019-01-16 09:57] raidenfreeman commented on #856
Forcing change detection to run, (with the code above), solved my issue too.

I was using in app browser (cordova-plugin-inappbrowser) to open a link in the native browser, and when you navigated back to the cordova app, the change detection was broken. I will try to create a minimum reproduction repo.

[2019-01-16 13:14] rgammans opened #1178 "WebCrypto.subtle.generateKey runs outside of current zone"
I believe the WebCryto.subtle API is in need of extra handling by zoneJs.
From my somewhat naive analysis some functions ; notably elements run 'after' (eg; from the then() of the promise) generateKey seem to be running outside of the zone they were called in.

To confuse matter a little I'm using the newer async syntax from typescript, as I find it more readable.

My evidence for this is the foll

[2019-01-19 14:57] JiaLiPassion commented on #1178
I will check it, thanks!

[2019-01-19 18:59] CaerusKaru commented on #1177
It was tagged eight days ago: https://github.com/angular/zone.js/releases

[2019-01-21 15:26] DevInstinct commented on #1072
See https://github.com/IdentityModel/oidc-client-js/issues/528

[2019-01-21 16:48] bschlosser commented on #1177
Yes, I see the tag now. May have been a propagation issue, GitHub says the tag was created 5 days ago.

[2019-01-21 16:48] #1177 closed

[2019-01-22 19:09] chowdam commented on #1001
resolved after adding below in polysfills:
import 'core-js/es7/object';
import 'core-js/es7/array';

[2019-01-25 16:03] rcollette commented on #404
My testbed imports  got reordered as  well.  The complete import list I see for V4.x right now is
[code]

[2019-01-27 04:52] jpike88 opened #1183 "zone.js breaks IndexedDB by mangling EventTarget"
I've been looking at migrating from ng1 over the last week and after much pain I've realised that pouchdb-browser was breaking due to a modification that affects IndexedDB on Safari and Mobile Safari (WKWebView).

`
var ADAPTER_VERSION = 5;
var req = indexedDB.open(dbName, ADAPTER_VERSION);
`

^ this code fires fine.

But then:

[code]

^ this code causes this error:

[code]

As someone who was fi

[2019-02-06 00:55] IgorMinar opened #1184 "Upgrade this repo and add support to Jasmine 3.3"
[Jasmine 3.3](https://github.com/jasmine/jasmine/releases) is the latest version of Jasmine and the 3.x release has been out for a while. Many developers, including developers at Google want to use this version, but it's unclear if the zone.js project is compatible with it.

Can we please upgrade the angular/zone.js repo to use jasmine 3.3 and ensure that zone.js supports this version of jasmine.

[2019-02-06 01:10] JiaLiPassion commented on #1184
@IgorMinar, sure, I will take a look
@johnjbarton, if you can provide some error information you got, it will be greatly helpful.
Thanks.

[2019-02-06 14:57] IgorMinar commented on #1184
awesome! thanks @JiaLiPassion

[2019-02-06 15:12] johnjbarton commented on #1184
First a couple of hints: our jasmine 3.3 upgrade hit two bumps: the default for tests is now 'random' and the configuration API changed resulting in some mysterious fails. After that we got stuck on fails from code that uses zonejs.  I don't know the code involved; the stack I see is:
[code]

[2019-02-07 15:21] JiaLiPassion commented on #1184
@johnjbarton, is there any reproduce repo I can access? Thanks!

[2019-02-07 16:08] johnjbarton commented on #1184
Sorry, it's not my code, but I passed your request along.

[2019-02-07 16:40] JiaLiPassion commented on #1184
@johnjbarton, thanks, the only `breaking changes`  of `jasmine 3.3` I knew is `nodejs process.unhandledRejection handling`, I will also upgrade jasmine to 3.3 in `zone.js repo`.

[2019-02-07 17:42] johnjbarton commented on #1184
The code that fails for us currently runs on jasmine 2.9. So the delta we are working with is 3.3-2.9 rather than 3.3-3.2. (We've already set `random: false` for our 3.3 attempts; also note we  are running against your 0.8.21 which I don't control).

Note that the stacktrace I listed above is from code that involves testing errors in async functions.

[2019-02-07 18:58] IgorMinar commented on #1184
I suggest we update angular/zone.js, angular/angular, and
angular/angular-cli repos to jasmine 3.3 before we try to figure out this
google3 specific failure. It's possible that the issue is unrelated to
Jasmine 3.3 and zone.js integrations (in google3 we have a project called
Catalyst that sits between zone.js and jasmine, so that could be a culprit).

So let's do the updates first, if we come acr

[2019-02-14 10:42] markopayever commented on #900
Same error in 0.8.29

[2019-02-14 10:52] JiaLiPassion commented on #900
@markopayever, could you post a reproduce repo? Thanks!

[2019-02-20 10:41] ossdev07 opened #1187 "Upgrading to karma 3.0.0, failure of test cases"
Hi,

Updated the karma version to 3.0.0, failure can be seen in the test command karma start karma-build-jasmine-phantomjs.conf.js --single-run

https://travis-ci.com/ossdev07/zone.js

The browser gets a launch for the phantomjs but, no test cases are getting executed.
I am unable to understand, why the test cases are not getting executed.
Please help me with the issue.

Thanks,

[2019-02-21 05:30] KrauseStefan commented on #555
This is fixed long ago, I will close.

[2019-02-21 05:30] #555 closed

[2019-02-21 15:22] erhise opened #1188 "isStable, behavior of zone-patch-rxjs?"
If I create a new Angular application with `ng new <name>` and just inject ApplicationRef as follow:

[code]
I will get the emitted values [false, true] after app has been initialized, nothing strange.

But, if I then add `import 'zone.js/dist/zone-patch-rxjs'` in polyfills.ts or app.module.ts, previous code will get caught in infinite loop (toggle between emitted values true and false back and fo

[2019-02-21 15:31] JiaLiPassion commented on #1188
@erhise, could you post a reproduce repo? Thanks!

[2019-02-21 15:52] erhise commented on #1188
@JiaLiPassion yes of course,
https://stackblitz.com/edit/angular-zone-patch-rxjs-appref

[2019-02-22 14:29] earshinov opened #1189 "microTask 'Promise.then': can not transition to 'running', expecting state 'scheduled', was 'scheduling'."
Looks similar to https://github.com/angular/zone.js/issues/1167 except that this one is in `Promise.then` instead of `setInterval`.

We receive this error though an automated error reporting system ([Sentry](https://sentry.io/)) and have not yet managed to reproduce it manually.

For what we see, problem occurs in IE11 only.

We use zone.js 0.8.26 (so, https://github.com/angular/zone.js/issues/108

[2019-02-22 14:30] JiaLiPassion commented on #1189
@earshinov, could you provide a reproduce repo? thanks.

[2019-02-28 01:12] JiaLiPassion commented on #1188
@erhise, I think I know why it is not working, I need some time to figure out how to fix it, this is a little tricky because `ApplicationRef.isStable` is a little special, it needs to run `outsideOfAngular`.

[2019-02-28 13:02] abdulkareemnalband opened #1194 "Patch-rxjs: _unsubscribe function can be can be null"
here https://github.com/angular/zone.js/blob/9c65d25f583548d8366d94a633a8fceaecc6d1ca/lib/rxjs/rxjs.ts#L120
_unsbscribe is applied before null check
for retryWhen Operator it is set to be null for brief time see here

https://github.com/ReactiveX/rxjs/blob/d229235f4812dd5140209300e7cddf55553d5f53/src/internal/operators/retryWhen.ts#L108

[2019-02-28 13:03] abdulkareemnalband commented on #1066
@JiaLiPassion may be #1194 is related?

[2019-03-04 09:10] thekip opened #1195 "Zone long stack traces generates wrong stack trace"
I created a small stackblitz repo which shows the problem:

https://stackblitz.com/edit/typescript-ouevfy?file=index.html

Click on both buttons, and you will see that place of actual definition of event handler is incorrect. Here is a really simple example where both definitions really close to each other, but in real application, the situation is much worse.

Actually for all EventTasks (not sur

[2019-03-04 09:11] JiaLiPassion commented on #1195
@thekip , thanks for posting this issue, I will check it.

[2019-03-04 10:11] benjamincombes opened #1196 "Evergreen bundle missing in dist"
Hi, thanks for the great idea to add an evergreen bundle! However, it is stated that an "zone-evergreen.js" bundle can be find in the dist directory, but I couldn't find it : is this an error on my side, or is it really not here? Thanks a lot for your help.

[2019-03-04 13:45] mobichel commented on #1128
Hi @JiaLiPassion , are there any chances to have this fix in the main branch?

[2019-03-06 15:02] JiaLiPassion commented on #1196
@benjamincombes, this changes have not been released, after next version `0.9.0` released, it will under `dist`.

[2019-03-06 17:07] benjamincombes commented on #1196
Hi @JiaLiPassion! As it was mentioned on the main page of the project, I thought it was already available, thanks for your answer.

[2019-03-09 11:36] pamtbaau opened #1200 "Zone issue #537 using Electron menus resurfacing in Angular v7.2.8"
It seems like issue [#537](https://github.com/angular/zone.js/issues/537) is resurfacing after upgrading to angular v7.2.8.

Angular does not detect changes anymore when change occurs after selecting Electron menu.

[2019-03-09 13:10] JiaLiPassion commented on #1200
@pamtbaau, did you load `dist/zone-patch-electron`? And could you post a sample reproduce repo?

[2019-03-09 13:52] pamtbaau commented on #1200
Yes, import `zone.js/dist/zone-patch-electron`  is still in my polyfill. I'm now stepping back in my package upgrades to see where the issue started.

[2019-03-09 17:46] pamtbaau commented on #1200
@JiaLiPassion It seems to be caused by a change in Electron 4+.

Working       : Angular:7.2.8, Zone:0.8.29, Electron:3.1.6
Not working : Angular:7.2.8, Zone:0.8.29, Electron:4.0.0
Not working : Angular:7.2.8, Zone:0.8.29, Electron:4.0.8
Working       : Angular:7.2.8, Zone:0.8.29, Electron:3.1.6
Working       : Angular:7.2.8, Zone:0.8.29, Electron:3.1.0

[2019-03-10 02:46] JiaLiPassion commented on #1200
@pamtbaau, thanks, I will check it.

[2019-03-11 07:29] Teamop commented on #1160
Fixed in v0.8.27

[2019-03-11 12:17] saiumesh-letznav commented on #1115
Hello There, with new version of Angular this issue will be resolved. Thanks!!

[2019-03-11 12:17] #1115 closed

[2019-03-11 12:29] SerkanSipahi commented on #1115
really? :) which new version? v7.x or v8?

[2019-03-11 13:13] saiumesh-letznav commented on #1115
Yes. with Angular 7.1.0

[2019-03-11 20:27] #1168 closed

[2019-03-12 05:07] #1195 closed

[2019-03-12 05:09] #1155 closed

[2019-03-14 10:46] #1136 closed

[2019-03-14 10:46] Mallesh25nayak commented on #1136
thanks

[2019-03-15 18:10] jwigankow opened #1202 "webapis-shadydom.js breaks IE11"
When integrating the ShadyDOM polyfill in an Angular 7, the routing in Edge breaks but IE11 just works. To fix this one can include `webapis-shadydom.js`. In that case Edge works fine but IE11 breaks.

Without `webapis-shadydom.js` in Edge:
  - Navigating works one time.
  - Every attempt at navigating triggers the warning `Navigation triggered outside Angular zone, did you forget to call 'ngZone.

[2019-03-18 21:47] matthewadams commented on #1043
@JiaLiPassion Is this project intended solely for use in browsers, or can it work on Node.js server-side, headless backends as well?

[2019-03-19 12:41] JiaLiPassion commented on #1043
@matthewadams, yes, this project can work in `nodejs`, `browser`, or mix environment like `electron`.
if you are using `nodejs`, you can `import 'zone.js/dist/zone-node'`.

[2019-03-19 16:16] pamtbaau commented on #1200
@JiaLiPassion Any progress you might be able to share?

[2019-03-20 04:24] JiaLiPassion commented on #1200
@pamtbaau, sorry I haven't checked this one yet, could you post a reproduce repo for me? Thanks!

[2019-03-20 07:20] pamtbaau commented on #1200
Here you go: [https://github.com/pamtbaau/broken-zone](https://github.com/pamtbaau/broken-zone)

[2019-03-21 22:15] matthewadams commented on #1043
@JiaLiPassion At what time should I `require('zone.js/dist/zone-node')`?  At the earliest possible moment in my Node.js app, or simply before the first use of `zone.js`?

[2019-03-21 22:26] matthewadams opened #1208 "Provide example for using in plain JavaScript Node.js app"
This could be an RTFM, but it'd be jim-dandy if you could provide a working example of how to properly use `zone.js` in a headless, plain JavaScript Node.js app that I'd run in a terminal with `node index.js`.

https://github.com/angular/zone.js/blob/HEAD/SAMPLE.md contains what appears to be only browser-based examples.

[2019-03-22 02:55] JiaLiPassion commented on #1208
@matthewadams, sure, I will add it! Thanks!

[2019-03-22 02:56] JiaLiPassion commented on #1200
@pamtbaau, thanks, I will test it.

[2019-03-22 20:34] matthewadams commented on #1208
@JiaLiPassion I'm dead in the water right now.  If you could throw something together quickly so that I could get going, I'd really appreciate it!  :)

Currently, I'm getting `undefined` for `Zone.current`.

[2019-03-23 01:38] JiaLiPassion commented on #1208
@matthewadams, here is a very basic sample, https://github.com/JiaLiPassion/zone-node

[2019-03-25 20:30] matthewadams commented on #1208
Ah, ok.  By doing `require('zone.js/dist/zone-node')`, you get a global variable `Zone`.  That's the difference.

Perhaps it's worth updating the documentation to say that?  Thanks!

I'll try it out, and reopen this issue if I'm having trouble.

[2019-03-25 20:30] #1208 closed

[2019-03-25 20:33] JiaLiPassion commented on #1208
@matthewadams, sure, I will make documentation more clearly, thanks!

[2019-03-27 11:48] rvalimaki commented on #740
Should this ticket have someone assigned on it? Now ES2019 (and ES2018) have been finalized, and Angular 8 is coming with support for producing both legacy (ES5) and modern (ES2015+) Javascript bundles. However, there is not much point of that, if modern ES versions ES2017, ES2018 and ES2019 are not supported anyway in Angular.

Is there any way to overcome this problem either by fixing it somehow

[2019-03-27 14:14] Eugeny commented on #740
Excuse my possibly stupid question, but why can't zone.js override the global `Promise` constructor to monkey-patch the `then` and `catch` methods instead of waiting for the native hooks?

[2019-03-27 14:20] JiaLiPassion commented on #740
@rvalimaki, this is a very difficult issue to resolve, I am still trying to find out a walk around.
@Eugeny, current `zone.js` already monkey-patch `Promise`, but `async/await` is different, it does not use `javascript Promise`, it always use `Native Promise`.

[2019-03-27 14:21] Eugeny commented on #740
@JiaLiPassion thanks for clarifying

[2019-03-28 09:37] rvalimaki commented on #740
@JiaLiPassion Good to hear that there is still ongoing effort to fix this.

Has Google Angular team (@mhevery et. al) contacted  Google Chrome/Chromium team about the issue to provide some kind of hooks for native promises? To my knowledge Google is using Angular in about 600 projects, and I guess it should be quite high on their priority to keep Angular up with modern web standards.

To my unders

[2019-03-28 11:44] JiaLiPassion commented on #740
@rvalimaki.
To summarize.
1. `Zone` proposal is not updated for a long time.
2. We may expect `Chrome` team release `PromiseHook` in Javascript like `nodejs`, but it is a very very long shot.
3. With `Angular Ivy` in the future, there will be a `non zone` mode, and user need to trigger change detection themselves.

[2019-03-29 04:45] vikerman opened #1209 "Browser extensions have window.customElements defined as null"
Browser extensions using Zone have window.customElements defined but set to null :P

Change needed to keep them happy is actually check whether they are != null here - https://github.com/angular/zone.js/blob/master/lib/browser/custom-elements.ts#L11

[2019-03-29 13:46] yankee42 commented on #356
Actually there is a way simpler workaround:
[code]
So, just using `addEventListener` instead of the `onmessage`-shortcut will work correctly.

[2019-03-30 14:55] IgorMinar opened #1212 "ServiseWorker compatiblitity issues in 0.9.0"
The most recent update to 0.9.0 (in google3 cl/240639288 already rolled-back) broke one of the google3 apps. They have an "unusual" setup where they run Angular with zone.js in a service worker context. Zone.js 0.9.0 breaks in the serviceworker because property-descriptor-legacy.ts:56 directly references XmlHttpRequest[1], which is not available in service workers.

They use "self['__Zone_disable_

[2019-03-30 15:18] JiaLiPassion commented on #1212
@IgorMinar, got it, I will add check here.

[2019-04-03 02:56] #1209 closed

[2019-04-04 10:14] santialbo opened #1216 "fakeAsync patch for requestAnimationFrame is not passing the timestamp"
When requestAnimationFrame is patched in fakeAsync the callback is not called with a timestamp like it would be expected. Instead it's called with the callback itself.

[code]

I created this repo with the failing test
https://github.com/santialbo/raf-zonejs-test/blob/4491d675287b2513e39244a368877bb951b19248/src/app/app.component.spec.ts#L32-L38
It's a standard cli generated project with just the

[2019-04-04 10:15] JiaLiPassion commented on #1216
I will check it, thanks

[2019-04-05 11:35] pamtbaau commented on #1200
@JiaLiPassion Any insights you can share?

[2019-04-05 14:28] JiaLiPassion commented on #1200
@pamtbaau, sorry for late reply, I am working on the other issues, I tried your repo, there is one dependency `xelectron` is not found in `npm registry`, is this some special package?

[2019-04-05 15:22] pamtbaau commented on #1200
Yes, that is a special package with a typo... Don't know how that electron package got there. Fixed the repo.

[2019-04-06 14:34] JiaLiPassion commented on #1200
@pamtbaau, thanks, I will try to fix this one.

[2019-04-08 04:58] JiaLiPassion commented on #1216
@santialbo, thank you, this is a bug, I have fixed it in #1220

[2019-04-08 14:24] santialbo-actimo commented on #1216
Thank you so much!! do you have any idea when the next release of zone.js will be?

[2019-04-08 20:50] #1212 closed

[2019-04-09 14:05] JiaLiPassion commented on #1200
@pamtbaau, you can try the attached zip file, override your `node_modules/zone.js/dist` folder.
[zonejs-dist.zip](https://github.com/angular/zone.js/files/3059370/zonejs-dist.zip)

[2019-04-09 16:16] pamtbaau commented on #1200
Fix works in 2 of the 3 electron apps... The two are very simple, but the 3rd is quite complex. I'll have to do some homework...

[2019-04-09 16:19] JiaLiPassion commented on #1200
@pamtbaau, thanks for the confirmation, I only patched `renderer.on` method, if some cases not working, I may need to patch more methods.

[2019-04-09 16:31] pamtbaau commented on #1200
@JiaLiPassion Do you recall the patch you created for issue [#537](https://github.com/angular/zone.js/issues/537)? That patch worked perfectly on all my apps.

Did you perhaps patch more methods in that patch?

[2019-04-09 16:34] JiaLiPassion commented on #1200
@pamtbaau, yes, in https://github.com/angular/zone.js/issues/537, the `patch` patched the `CallbackRegistry` which is a centralised location I can patch, but from `Electron 4`, this `CallbackRegistry` can not be accessed from outside, so I have to patch renderer, I can patch more methods, that is not difficult, if you can give me more information about in which case still not work, it will be grea

[2019-04-09 23:45] #1216 closed

[2019-04-10 11:51] sdc395 opened #1223 "Illegal invocation using patched XMLHttpRequest"
I've recently updated a React Native app that uses Zone.js to manager its database transactions and, in doing so, encountered an `illegal invocation` exception when calling `fetch`.  The exception is thrown from the `scheduleTask` function within `patchXHR` of `zone.js`.  Specifically, the call to `oriAddListener.call(target, READY_STATE_CHANGE, newListener);`

I've done my best to diagnose the pr

[2019-04-10 11:52] JiaLiPassion commented on #1223
Could you provide a reproduce repo? Thanks

[2019-04-10 13:33] sdc395 commented on #1223
Is that the most useful thing I can do?  To reproduce it from code, you're going to need a JDK installation and an Android device or emulator to hand.  If you have those things, it's enough to `react-native init  TestApp`, `npm i zone.js`, `import 'zone.js'` in `index.js` and make a call to `fetch`.

In other news, FileReader is also broken.  Am I doing something dumb?  How should I import Zone.js

[2019-04-10 13:38] JiaLiPassion commented on #1223
I never tried using `zone.js` in `react native`, and I don't think you did any thing wrong, the most possible reason is in `react native`, the `webview` has different implementation vs normal browser. So if you can provide a very basic repo to reproduce `fetch and FileReader` issue, so I don't need to begin to learn how to setup `react native 101`. Thanks!

[2019-04-10 14:23] sdc395 commented on #1223
OK, I've created a repo at `https://github.com/sdc395/react-native-zones.git`.

I had no problems using Zone.js with React Native 0.56.  The sooner Zones becomes a standard part of JavaScript the better.  :-)

[2019-04-10 15:13] JiaLiPassion commented on #1223
Thanks, I will look into it.

[2019-04-10 15:28] pamtbaau commented on #1200
After dissenting the failing app for hours... I finally found a reproducible case where Angular's zone remains broken... I have update my repo.

When importing a class with a static property calling Electrons `remote`,  change detection after a popup will fail.

Try to comment/uncomment line 5 in settings.ts to see zone breaking..

[2019-04-11 03:51] mleibman commented on #933
Has this been documented?
This thread is a bit hard to parse, so please correct me if I'm wrong:

- This fixes an intermittent issue in IE11 that manifests **only** if the dev tools are open.
- Enabling it in production is not recommended since it has performance overhead.
- Enabling it during development or for unit tests is fine.

[2019-04-12 11:11] christophercr commented on #1184
Question: is #1185 related to this issue? if so, would that mean that Jasmine 3.3 is now supported in angular/zone.js v0.9.0?

[2019-04-12 11:15] JiaLiPassion commented on #1184
@christophercr, yes, `zone.js 0.9.0` now support `jasmine 3.3`, if you find any issues, please report here, thanks!

[2019-04-12 13:34] JiaLiPassion commented on #1202
I will check it, thanks!

[2019-04-12 13:35] JiaLiPassion commented on #1187
Please provide a reproduce repo, thanks!

[2019-04-13 14:06] JiaLiPassion commented on #1223
@sdc395, it seems `react native` implement it's own `EventTarget` and `XMLHttpRequest`, and it is inside `Worker`, so the `patch` become a little weird, so in your use case, you want to use `zone` to control `XMLHttpRequest` and `FileReader`?

[2019-04-13 18:12] sdc395 commented on #1223
At the moment, I'm only _knowingly_ using Zone.js to make database transaction objects available to asynchronous functions that need database access.

Perhaps I can disable the Zone.js patches I don't need.  I had set `__Zone_disable_XHR = true`.  Do I need to set `__Zone_disable_EventTarget = true` also?  Could you clarify the steps?

Thanks for your help with this issue.

[2019-04-13 23:39] JiaLiPassion commented on #1223
@sdc395, yes, you are right, the walk around is,
1. create a `env.js` in the root.
[code]
2. in `index.js`, before `import zone.js`,

[code]

And everything should work fine.

[2019-04-15 17:40] sdc395 commented on #1223
That has done the trick, although I've only needed to disable EventTarget patching (so far).  Thanks so much.

Will full, on-going support for React Native be available in the future?  I'm building my mobile app's database access around Zone.js and I'd hate to have to rip that out post-launch.

[2019-04-17 21:15] AprilMedinger commented on #1160
Has this issue been resolved? I've updated to v0.8.29, but I'm still getting the console warning:
[Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019. Please use window.customElements.define instead.

[2019-04-17 23:42] sirhcybe opened #1224 "Overwritten method Object.defineProperty breaking functionality of jsPDF"
The rewriteDescriptor function being called by the zone.js Object.defineProperty override is breaking some functionality of the popular jsPDF library: https://github.com/MrRio/jsPDF/issues/2429

I don't really understand why the rewriteDescriptor method changes the desc.configurable to true but it breaks several places in the jsPDF code where jsPDF tries to define non-configurable properties like

[2019-04-18 04:11] JiaLiPassion commented on #1224
@sirhcybe, thanks for posting the issue, I will check it.

[2019-04-18 08:18] azatsh commented on #1174
Hello papushe !
I just upgraded intellij idea to newest version (2019.1) and faced same issue.
I figured out that karma plugin that was installed earlier is not compatible with the new intellij idea and idea uses Protractor plugin to run my karma tests.
So I had to download a new version of karma plugin from https://plugins.jetbrains.com/plugin/7287-karma/versions and then it worked.

[2019-04-18 19:12] potjerodekool opened #1226 "Add ES module entrypoint"
Hi,

Could a ES module entrypoint be added? So it can be used with pika.
https://www.pikapkg.com/about/

[2019-04-19 02:23] JiaLiPassion commented on #1226
Sure, will do!

[2019-04-19 09:48] AleG94 opened #1227 "zone-patch-rxjs - Unsubscription error - Cannot read property 'apply' of null"
I'm trying to implement a retry http interceptor for Angular 7.

Without `import 'zone.js/dist/zone-patch-rxjs';` it works fine but when I add it, I get:

[code]

This is an example repo to reproduce the issue:

[https://stackblitz.com/edit/angular-s3iv5u?file=polyfills.ts](url)

Comment and uncomment the line `import 'zone.js/dist/zone-patch-rxjs';` in `polyfills.ts` to see the error appear and d

[2019-04-24 07:51] cobaltsis commented on #1223
I have issue with version 0.9.0 too. I've recently updated all packages in project and Angular to version 7.2.13. Core-js is on version 3.0.1. After every request, zone.js throw this error: TypeError: Cannot read property 'call' of undefined at ZoneTask.scheduleTask [as scheduleFn].

Call of undefined is on this line: oriAddListener.call(target, READY_STATE_CHANGE, newListener);

We work with LG s

[2019-04-25 20:04] smitach opened #1228 "One of the Tableau js promise in Angular resolves only on any UI event"
This is the following code I have in my service.
[code]
Following code in one of the components,
[code]
I get success callback call when I move my cursor.

[2019-04-26 17:10] adamdport opened #1229 "Change detection stops working when calling detectChanges outside of angular"
I discovered this while trying to create a reproduction for #1034. However, I've managed to reproduce it outside Cordova too:

https://stackblitz.com/edit/angular-material2-issue-pfytvj

If you call `detectChanges` from `runOutsideAngular`, **at a specific time**, change detection stops working properly:

    this.ngZone.runOutsideAngular(() => {
      this.changeDetectorRef.detectChanges();
    }

[2019-04-26 18:09] JiaLiPassion commented on #1229
@adamdport , could you provide a reproduce repo? Thanks!

[2019-04-26 19:32] adamdport commented on #1229
@JiaLiPassion https://github.com/adamdport/cordovaZoneIssue

[2019-04-29 07:11] stcoder commented on #933
Try to specify the version of IE in .browser list rc, helped me.

[code]

[2019-04-30 13:11] petebacondarwin commented on #1223
@JiaLiPassion - it looks like Googlebot does not like Zone.js 0.9.0 either: https://github.com/angular/angular/issues/30203

[2019-04-30 13:18] JiaLiPassion commented on #1223
@petebacondarwin, got it, I will check it, thanks!

[2019-05-02 18:57] Goodwine commented on #1144
I noticed this also being commented on https://github.com/angular/zone.js/issues/1011 which is an earlier bug marked as closed/fixed, is it actually fixed? or no? would the workaround mentioned on that other Issue work here?

[2019-05-04 10:29] mindstorm opened #1231 "zone-evergreen: Object.prototype.toString.apply(null) returns [object Window]"
When using zone-evergreen.js from version 0.9.x (as its done by NG CLI 8), Object.prototype.toString.apply(null) returns [object Window] instead of [object Null].

I found this issue while debugging the integration of the CKEditor in a NG8 Application.

[2019-05-06 16:20] pamtbaau commented on #1200
@JiaLiPassion Any news?

[2019-05-07 14:15] biandtlp commented on #1200
Same problem here

[2019-05-07 18:30] JiaLiPassion commented on #1200
I will look this issues later this week, sorry for the delay.

[2019-05-10 11:27] Coobaha commented on #1112
Hi @mhevery, I think this issue still persists.

I use knex.js that uses bluebird internally.

in my code i have
[code]

error without patching bluebird is knex error
With zone-bluebird - error is undefined
Zone-bluebird with manually added catch to patched method - everything works
Without zone-bluebird transaction callback done within knex is loosing current zone context

[2019-05-10 11:30] JiaLiPassion commented on #1112
@Coobaha, could you provide a reproduce repo? Thanks.

[2019-05-10 11:49] Coobaha commented on #1112
@JiaLiPassion https://github.com/Coobaha/zone-bluebird-issue here you go

[2019-05-10 11:52] Coobaha commented on #1112
[code]
It's not exactly the same issue i have in my project but seems to be related

[2019-05-10 11:54] Coobaha commented on #1112
If I add manually "catch" manually to zone-bluebird apis to patch it works
[code]

[2019-05-22 08:54] CharlesYuCH opened #1233 "SyntaxError: Unexpected token"
I upgraded the AngularJS project to Angular2+. And then I had this issue.
This upgrade uses systemjs v0.21.6, core-js v2.6.6, reflect-metadata v0.1.13, zone.js v0.8.26.
`
SyntaxError: Unexpected token <
    at eval (<anonymous>)
    at evaluate (system.src.js:2860)
    at system.src.js:3665
    at doEvaluateDynamic (system.src.js:1166)
    at ensureEvaluate (system.src.js:1001)
    at system.src.j

[2019-05-22 18:37] elliottpalermo commented on #1173
Just wanted to add that we're running into this issue now too.

Using Cordova w/ WKWebView & getting:
`TypeError: Attempting to change configurable attribute of unconfigurable property.`

We're using Angular 7. I'm not sure if this is a problem impacting all Angular 7 apps in Cordova/WKWebView or if our configurations include some sort of conflicting polyfill.

[2019-05-22 20:36] utsavkapoor opened #1234 "zone.js promises returning Unhandled Promise Rejection error even with catch blocks"
I am working on an angular environment with zone.js so all the native es6 promises have been over-written by zone-aware promises. I have 2 functions called save() and onSaveCb()

save() calls a function called validate() which gets the error-codes of any of the saved objects already present in the file so it is done in sync.

if hasError() returns true we return Promise.reject() from save() otherw

[2019-05-23 11:25] Dacaspex commented on #1120
Is there any progress on this issue? I am facing the same issue when testing the `FileReader`.

[2019-05-23 13:08] Teamop commented on #1120
@Dacaspex one workaround: use `new Response(file).arrayBuffer()` instead of `FileReader`, with promise support

[2019-05-23 14:36] elliottpalermo commented on #1173
Hey @fishbone1 I was able to track our issue down to our usage of the https://github.com/oracle/cordova-plugin-wkwebview-file-xhr plugin which we were using to get around some CORS issues that we uncovered while switching to WKWebView.

The polyfil for that plugin re-defines the onreadystatechange property of XMLHttpRequest and does not specify `configurable:true`. Then later on Zones.js attempts

[2019-05-24 10:26] Dacaspex commented on #1169
Hey man, any updates on this issue? We get the same problem. Or is there a workaround for this issue?
Example code to reproduce the issue:
- component https://pastebin.com/iKxKTeFX
- test file https://pastebin.com/gS5JuUvu
We expect the "after flush" to be called as the last line of logging, but actually it is the "inside then of promise", meaning that the promise is not properly resolved by the `

[2019-05-24 10:40] Dacaspex commented on #1120
@Teamop That unfortunately does not work, see #1169

[2019-05-24 10:55] Teamop commented on #1169
I don't know your usecase, but I think if you can use `new Reponse().text()` with normal `async` or `async` from angular, it can work.

[2019-05-27 08:35] shai93 opened #1235 "Angular elements in another angular project: ERROR Error: Expected to not be in Angular Zone, but it is!"
ERROR Error: Uncaught (in promise): TypeError: n.e is not a function
TypeError: n.e is not a function
    at o (main.054737874ce72b1240e0.js:1)
    at t.loadFactory (main.054737874ce72b1240e0.js:1)
    at t.load (main.054737874ce72b1240e0.js:1)
    at t.loadModuleFactory (main.054737874ce72b1240e0.js:1)
    at t.load (main.054737874ce72b1240e0.js:1)
    at e.project (main.054737874ce72b1240e0.js:1

[2019-05-27 11:33] ajafff opened #1236 "False-positive Error: Uncaught (in promise)"
zone.js v0.9.1

Maybe related #954

Code looks roughly like this:

[code]

Stack:

[code]

Let me know if you need more information to reproduce this issue.

[2019-05-28 19:51] stevewithington opened #1237 "window.Zone Already Defined by Other Library"
I'm including an Angular application within an existing **ASP.NET Web Forms** application. My primary issue is that the dotnet `WebFormsJS` scripts have already defined `window.Zone`.

![image](https://user-images.githubusercontent.com/251648/58507323-1d95b880-8157-11e9-8d2c-94fe42f1ca99.png)

Loading the Angular application would obviously generate the error `Uncaught Error: Zone already loaded.`

[2019-05-29 01:33] JiaLiPassion commented on #1237
@stevewithington, which version are you using? the newest version (0.9.1) should work

[2019-05-29 03:09] stevewithington commented on #1237
@JiaLiPassion, after updating to `0.9.1` from `0.8.26` (as required by `@angular/core@7.2.15`), I'm still seeing this issue.

[2019-05-29 03:22] JiaLiPassion commented on #1237
Could you post a reproduce repo? thanks

[2019-05-29 06:39] #1233 closed

[2019-05-29 10:49] stevewithington commented on #1237
@JiaLiPassion,

Sure thing: <https://github.com/stevewithington/ng-dotnet-webforms>

* [Angular App](https://github.com/stevewithington/ng-dotnet-webforms/tree/master/BareBones/NgApp)
* [`package.json` reflecting `zone.js@0.9.1`](https://github.com/stevewithington/ng-dotnet-webforms/blob/0611b1e3572a625e83e26eb9b30e865cfba9d404/BareBones/NgApp/package.json#L25)
* [App running inside of dotnet](htt

[2019-05-29 12:01] benjaminrau commented on #1189
Same happens to us (also known only from Sentry). Happens on different routes, components etc. Yet we have NOT been able to reproduce it ourselves.

[2019-05-30 06:22] pamtbaau commented on #1200
@JiaLiPassion Any news?

PS. If you feel I'm becoming a pita you may say so...

[2019-05-30 06:28] JiaLiPassion commented on #1200
@pamtbaau, sorry I am working on some other issues recently(moving zone to angular repo), and all other pending issues need to wait for that unless some very urgent bugs, sorry for the delay, I will check this issue as soon as I finish the working PR.

[2019-05-30 06:33] pamtbaau commented on #1200
@JiaLiPassion Any target date for the working PR you can share?

[2019-05-30 06:45] JiaLiPassion commented on #1200
It should be in two weeks. If this issue is very urgent, I can make a patch branch for you.

[2019-05-30 06:52] pamtbaau commented on #1200
@JiaLiPassion Thanks for the offer, but there is no need to increase your workload just for my project... I can stay on a earlier version of Electron. Having a rough estimate I can leave you in peace...

[2019-05-30 13:51] ma2ciek opened #1238 "Object.prototype.toString() is overridden and behaves incorrectly"
After updating to version 0.9, the `Object.prototype.toString.call( undefined )` returns `[Object Window]` instead of `[Object Undefined]` when the `strict` mode isn't turned on.

The root of this bug is caused by this line:

https://github.com/angular/zone.js/pull/734/files#diff-7cf54420c5bf443f7d3575ad72ac1de3R44

where `this` refers to the `Window` in non-strict mode.

[2019-05-30 17:37] cristhiank commented on #1238
I am getting a nasty bug because of this. We are upgrading to Angular 8 and we also use bootstrap framework for some UI stuff. Bootstrap has some code that relies in the `toString` function and it is returning `[object Window]` instead of `[object Null]`

The following is the line of code that is being broken in bootstrap:

https://github.com/twbs/bootstrap/blob/8fa0d3010112dca5dd6dd50117341585600

[2019-05-30 22:36] cristhiank commented on #1238
I found two workarounds:

1- Add the `.js` to the import in the pollyfills.ts in the Angular app:

![image](https://user-images.githubusercontent.com/1218220/58669284-4e195600-8301-11e9-8fa1-3e56e9ce19ad.png)

2- Disable the toString patching as specified in:

https://github.com/angular/zone.js/blob/master/MODULE.md

I added the following to the pollyfills.ts in the Angular app:

`__Zone_disable_t

[2019-05-30 22:52] cristhiank commented on #1238
Also found this issue: https://github.com/angular/zone.js/issues/1231

[2019-05-30 23:07] cristhiank commented on #1238
As a final comment, I can confirm that this bug is due the include of `zone-evergreen.js` in the new differential loading feature of Angular v8

https://github.com/angular/angular-devkit-build-angular-builds/blob/33a5255ba79a9f9ddc7f78475b67951e06ab8b8c/src/utils/webpack-browser-config.js#L65

[2019-05-30 23:31] JiaLiPassion commented on #1238
@ma2ciek, @cristhiank , thanks for posting the issue and providing the information, I will check it.

[2019-05-31 00:39] cristhiank commented on #1238
Glad to help @JiaLiPassion , I found something else. I belive the root cause of this is that the `zone.js` distribution file adds "use strict" while the `zone-evergreen.js` does not, so that the `this` object will be the global object (window) in `zone-evergreen.js`.

[2019-06-01 13:43] JiaLiPassion commented on #1238
@cristhiank, thanks, could you try the latest version on master branch https://github.com/angular/zone.js/blob/master/dist/zone-evergreen.js to test again?

[2019-06-01 16:27] JiaLiPassion commented on #1237
@stevewithington, sorry for the late reply, because `zone.js` also register to the global object `window.Zone`, so if other library use the name of `Zone` already, this issue will occur.

And we have plan to make `zone` a scoped object, but it will take some time to develop, so for now, your walkaround (set `window.Zone = null`) is a reasonable solution. `rename` will not work, because `angular` w

[2019-06-01 18:09] stevewithington commented on #1237
@JiaLiPassion, I realize this may fall more on the Angular side of things, however what if we could possibly pass in a custom `zone` object to `ngZone`? This could solve the issue by essentially allowing us to rename `zone.js` and then pass it in.

For example, Angular currently only allows for either `zone.js` or `noop`. Would be great if we could do this:

[code]

[code]

I'm just concerned abou

[2019-06-05 09:34] ma2ciek commented on #1238
I've tested it and the patch fixes my issue.

[2019-06-05 09:35] mleibman commented on #315
Has anyone found a good solution to this?

[2019-06-05 09:48] cristhiank commented on #1238
Same here, it fixes my issue too. Thanks @JiaLiPassion

[2019-06-07 21:59] zbream opened #1240 "HTMLCanvasElement.toBlob() is no longer patched in 0.9.1"
I noticed the following issue in bumping one of my projects to `Angular@8.0.0` and `Zone.js@0.9.1`.

It seems that when using `HTMLCanvasElement.toBlob()`, the callback function no longer runs in the original zone. This caused problems when using `toBlob` within an Observable stream.

---

#### Minimal reproduction

Broken in ng8 (0.9.1):
https://stackblitz.com/edit/angular-toblob-8

Working in ng

[2019-06-09 01:26] EvanSevy commented on #845
I'm getting this error after updating all my package.json packages.  Specifically for zone.js I'm at "^0.9.1".  So is the correct way to fix this is to just put a tick() at the end of my 'it' test?

I'm not quite following what the problem is.  What is a requestAnimationFrame?  I see that it somehow hooks into the browser rendering cycle and looks to handle refreshing of some sort, but how does it

[2019-06-10 22:16] JiaLiPassion commented on #1240
@zbream, this is a bug, I will push the `canva` back the default bundle of `zone.js` in the next version, for now, please add the following line in `src/polyfills.ts`.
[code]

[2019-06-11 10:53] paulogr commented on #1235
I'm having the same problem here after upgrade to final v8

[2019-06-12 09:17] fdabrowski commented on #1080
Hi all, any updates for this bug? We are currently using angular 7 and argis 3.xx and issue still exsists. We added workaround from @JiaLiPassion for fixing pan funcionality to polyfills. It broke our ngx-bootstrap typehead element and fiew more things. Now we're considering downgrade of the zone.js to 8.12 version. Do you have some better idea?

[2019-06-12 14:35] eric-simonton-sama opened #1241 "Feature request: patch performance.now within a FakeAsync zone"
Similar to the way `fakeAsync` advances `Date.now` since https://github.com/angular/zone.js/pull/1009, this is a feature request to also have it freeze and advance [`performance.now`](https://developer.mozilla.org/en-US/docs/Web/API/Performance/now)

[2019-06-12 19:14] JiaLiPassion commented on #1080
@fdabrowski, I will check this issue later after the zone.js move to angular repo, thanks for the waiting.

[2019-06-12 19:15] JiaLiPassion commented on #1241
@eric-simonton-sama, sure, we can provide this feature, could you post some sample code to explain the use case?

[2019-06-13 12:13] eric-simonton-sama commented on #1241
Sure. Will incomplete code be OK? E.g. we have some analytics-gathering code to see how long people spend dragging something:

[code]

Then to test it:

[code]

[2019-06-14 09:01] Erbolking opened #1242 "docs: link to Dart in readme is incorrect"
Link in the readme points to https://www.dartlang.org/articles/zones/
When you open it,
it redirects to https://dart.dev/articles/zones (404 Page)

[2019-06-14 09:03] JiaLiPassion commented on #1242
Thanks, will fix it later, now we are moving zone.js to angular repo.

[2019-06-18 08:10] Gontrum commented on #1202
Hey @JiaLiPassion

Is there anything new about this problem? It's the same in my environment.

[2019-06-18 10:57] mleibman opened #1243 "removeAllListeners() break on<event> properties"
`removeAllListeners()` seems to remove both events registered using `addEventListener()` and ones added by setting the `on<event>` properties. However, it leaves things in an inconsistent state, since the value of the `on<event>` property remains the same, even though the actual event listener is removed, and the handler now never gets called.

[code]

[2019-06-19 13:43] JiaLiPassion commented on #1243
Thanks for posting the issue, I will fix this one later. it is difficult to only remove the event listeners added by `addEventListener`, so I will just clear the `onclick` property.

[2019-06-19 13:45] JiaLiPassion commented on #1236
@ajaff, thanks for posting the issue, I will check it.

[2019-06-19 13:45] JiaLiPassion commented on #1234
@utsavkapoor  thanks for posting the issue, I will check it.

[2019-06-19 13:47] JiaLiPassion commented on #1231
Thanks, this should have been fixed, please wait for the next release.

[2019-06-21 19:36] sod opened #1244 "WTF_ISSUE_555 loop garbage collection / unfunctional"
Profiling our page and improving perf I stumbled over zone.js that creates a hefty amount of GC pressure and CPU time.

In particular this method `eventTargetLegacyPatch`:
![image](https://user-images.githubusercontent.com/905328/59946508-0357ad80-946b-11e9-837e-2fced93b6f1f.png)

That red bar inside that function is 50% of the load time of zone.js.

Looking in a debugger ... what is that even sup

[2019-06-21 19:42] sod commented on #1244
zone.js version 0.9.1, inside zone.js/dist/zone.js line 2766 to 2773

[2019-06-21 19:48] sod commented on #1244
Should we use `zone.js/dist/zone-evergreen.js`? Thats the zone.js bundle angular.io uses and that doesn't contain that code.

[2019-06-21 20:04] JiaLiPassion commented on #1244
@sod, thanks for posting the issue, this has been fixed by https://github.com/angular/zone.js/pull/1102, but never get chance to be merged, I will ask the author to rebase or I can fix this again.

[2019-06-21 20:23] sod commented on #1244
well, that typo creates twice the amount of memory garbage (12 MB) then an entire vue.js app I wrote.

[2019-06-21 20:25] JiaLiPassion commented on #1244
We will fix this one ASAP, thanks for the waiting.

[2019-06-21 20:26] JiaLiPassion commented on #1244
And if you are targeting only the `evergreen browsers`, you can use `zone-evergreen.js`.

[2019-06-26 14:45] tkem commented on #1227
I can confirm this occurs when using `retryWhen` with `zone-patch-rxjs`.

[2019-06-27 07:08] graphicsxp commented on #1238
When this fix will be released through npm ?

[2019-06-28 14:06] sod commented on #1244
The documentation is false regarding loading `zone-evergreen` and `zone-legacy` seperatly on https://github.com/angular/zone.js/blob/master/README.md. The documentation states

It's exactly the other way around. `zone-legacy` writes a function into `_global['__zone_symbol__legacyPatch']` that `zone-everygreen` calls.

[2019-07-02 08:45] turbolego commented on #1160
I still have this warning in a couple elements.
I have no idea why this error pops up since we don't use "document.registerElement" anywhere.
We use "customElements.define" in all our elements.
What is causing this?

[2019-07-02 10:52] Akxe commented on #1144
@Goodwine It is not, the issue is about `ResizeObserver` not calling Angular's change detection, but this issue is still not solved.
I am not sure how to actually test code that is dependant on `ResizeObserver`.

[2019-07-02 15:02] JiaLiPassion commented on #315
I made a POC here, https://github.com/JiaLiPassion/zone-dynamic-script

[2019-07-02 20:29] Goodwine commented on #1144
While this is not implemented, you should be able to grab the class and replace it, something like this:
[code]

[2019-07-02 20:40] Akxe commented on #1144
@Goodwine That's true, the only bad thing is, that I use `resize-observer-polyfill`, and by importing the component containing the polyfill, it gets set to `windows.ResizeObserver`, by reference. I now only need to find a way to replace it sooner than the tested code gets its grasp on it. (Will probably share the solution, as I can see how others would end up in the same situation...)

[2019-07-02 20:52] Goodwine commented on #1144
It should still work with polyfilled classes, this is meant to be used on the `*_test.ts` file and not at a global level. And it's grabbing the "ambient" value of `ResizeObserver` which should be the same as `window.ResizeObserver`. But otherwise you can change the code to grab the value from the window instead of from the ambient/global state.

That said, this is just my workaround while we wait

[2019-07-04 08:41] fdabrowski commented on #1080
@JiaLiPassion any updates ?

[2019-07-04 15:42] Deepakm1051 commented on #933
@JiaLiPassion

i have added the following code in index.html. It does not work for me still the application is keep loading. My developer tool was closed.

 <script>
    __Zone_enable_cross_context_check = true;
    </script>

i tried this approach also

In pollyfills.ts, uncommented the following line

(window as any).__Zone_enable_cross_context_check = true;

could you help me resolve this issue

[2019-07-05 19:58] fr0 opened #1245 "Warning in zone-evergreen.js from Chrome"
[code]

Looks like the code it is referring to is this:

[code]

[2019-07-05 20:00] fr0 commented on #1245
Related: https://stackoverflow.com/questions/55230268/angular-7-deprecation-synchronous-xmlhttprequest-on-the-main-thread-is-depre

[2019-07-08 15:50] iwonz opened #1246 "Wrong value of currentZone inside onInvoke hook"
Hi!

I decided to write a demo to better understand the mechanism of parentDelegate.
Demo: https://stackblitz.com/edit/angular-zone-js-on-invoke-current-zone

In short, I have three zones and onInvoke in their ZoneSpec.
I expect that currentZone.name inside each onInvoke will give me the name of the zone in which onInvoke was defined.
All good but if define onInvoke only in the first zone, the res

[2019-07-09 03:44] rezonant opened #1247 "zone-mix: Cannot read property 'eventNames' of undefined"
After upgrading from Angular 7 to Angular 8, our Electron builds break seemingly because of zone-mix:

[code]

Taking a look at code, it is calling `api.getGlobalObjects()` and then accessing `.eventNames`,

[code]

but the definition in effect is from zone-mix.js:644

[code]

The polyfills file in use for our Electron builds are:

[code]

The installed version of zone.js is 0.9.1.

I checked STAN

[2019-07-09 04:02] JiaLiPassion commented on #1247
@rezonant , thanks for posting the issue, I will fix this bug, please rollback to zone.js 0.8.29 for now.

[2019-07-09 07:02] JiaLiPassion commented on #1245
@fr0, could you post a reproduce repo?

[2019-07-10 01:31] markhbucknell commented on #1174
@papushe I am having the same issue. I'm curious to know if you came across a fix.

[2019-07-10 12:33] JiaLiPassion commented on #1246
@iwonz , thanks, very likely a bug, the difference is your `zoneB` don't have a `onInvoke` callback defined, I will check it.

[2019-07-12 09:55] kumaresan-subramani commented on #909
is there any update reg this?

[2019-07-18 09:27] LeParadoxHD commented on #909
Same here, but only in Safari <= 10.1

![Zone](https://user-images.githubusercontent.com/11415752/61446161-07ce9380-a94f-11e9-9cd7-356783281730.PNG)

[2019-07-18 09:32] LeParadoxHD commented on #465
Same here, but only in Safari <= 10.1

![Zone](https://user-images.githubusercontent.com/11415752/61446601-b1158980-a94f-11e9-958d-a18389a051b7.PNG)

[2019-07-18 11:10] notbear commented on #962
Trying to integrate a custom component (WebComponent v1) with Angular app. The component uses MutationObserver for observing changes in native control, but falls into infinite loop while placed into Angular app.

Template in the application:
[code]

In my component class:
[code]
Tried a proposed workaround with instantiating window[window.Zone.__symbol__("MutationObserver")] but falling into loop

[2019-07-18 14:56] JiaLiPassion commented on #962
@notbear, could you create a reproduce repo?

[2019-07-18 14:57] JiaLiPassion commented on #465
@LeParadoxHD , could you create a reproduce repo? Thanks.

[2019-07-18 17:52] LeParadoxHD commented on #465
I can't make the project public, only I know is that is caused by <pre>import 'core-js/es/promise';</pre>
Which doesn't make so much sense due to my zone.js import is at the end of the polyfills file...

[2019-07-19 02:04] JiaLiPassion commented on #465
@LeParadoxHD, sure, I don't have old version of safari, so could you just create an index.html and include `core-js/es/promise` and `zone.js`, to see whether can reproduce or not. And you may try to change the load order to check the behavior, thanks.

[2019-07-19 03:24] JiaLiPassion commented on #1244
This should be fixed by https://github.com/angular/angular/pull/31208

[2019-07-19 03:24] #1244 closed

[2019-07-19 14:18] JiaLiPassion commented on #1240
@zbream, this is a breaking changes from `0.9.1`, you can
[code]

to resolve this issue, sorry for the lack of documentation. I will close this one for now.

[2019-07-19 14:18] #1240 closed

[2019-07-19 14:18] JiaLiPassion commented on #1238
@graphicsxp, I will check the status of the new version release, thanks!

[2019-07-19 14:21] JiaLiPassion commented on #1237
@stevewithington, yeah, I know, make `Zone` a module instead of a `global` object will be better, but this will bring a lot of changes to the current ecosystem. So please wait for the developing scoped zone feature. Thanks!

[2019-07-19 14:28] JiaLiPassion commented on #1236
@ajaff, sorry for the late reply, I use your code to create a nodejs app, can not reproduce.

[code]

I run this with `nodejs`, nothing was output to console.

[2019-07-19 14:28] JiaLiPassion commented on #1235
@shai93, @paulogr, please provide more information.

[2019-07-19 14:35] JiaLiPassion commented on #1236
@ajafff, could you provide a reproduce repo? thank.

[2019-07-19 14:36] JiaLiPassion commented on #1234
@utsavkapoor, could you provide a sample repo to reproduce, thanks!

[2019-07-19 14:54] JiaLiPassion commented on #1229
@adamdport ,with your example, the reason `change detection` will not work, because you run the `      this.changeDetectorRef.detectChanges();` in the `ngOnInit()`, and it will cause all `event listeners` such as `blur` be added outside `ngZone`, so all those events will not trigger change detection automatically. I know you just make a demo, so could you post the code in your real case? thanks!

[2019-07-19 14:54] JiaLiPassion commented on #1228
@smitach , sorry I don't understand your issue, and why it is related to `zone.js`?

[2019-07-19 14:56] JiaLiPassion commented on #1226
Now we can build `es module`, will discuss how to expose it to users.

[2019-07-19 15:54] adamdport commented on #1229
That's exactly my issue. Are you saying that's the intended behavior? If I run `detectChanges` in `ngOnInit`, then Zone is designed to just silently quit?

My original issue had to do with reacting to 3rd party (Cordova) functionality but I've worked around it and no longer need it. However, if this is as designed, I would ask that it gets a bold red warning in the angular documentation.

[2019-07-19 17:01] paulogr commented on #1235
@JiaLiPassion, for me, feel free to close this issue.

[2019-07-19 19:10] ajafff commented on #1236
@JiaLiPassion im sorry I didn't test my repro code. The original code involves a library with a costom Promise polyfill. I'll try to setup a repro repo

[2019-07-20 10:53] JiaLiPassion commented on #1200
@pamtbaau, sorry for the very late reply, I checked your updated source, the reason why it is not working is, the code here
[code]

is loaded before `ngZone` created, and when `electron` load `remote module` it will create the `ipcRenderer.on` event handler outside of `angular zone`, and there is no elegant way to change this behavior, so you have to make sure that `electron` load those stuff insi

[2019-07-20 10:58] JiaLiPassion commented on #1223
I will close this one because https://github.com/angular/angular/issues/30203 has been fixed.

[2019-07-20 10:58] #1223 closed

[2019-07-20 11:01] JiaLiPassion commented on #1184
I will close this one for now, unless we found new issues for `jasmine 3.3`

[2019-07-20 11:01] #1184 closed

[2019-07-20 23:23] JiaLiPassion commented on #1237
I will close this one for now because until we decide to make a `scoped zone`, this issue will not be able to be fixed.

[2019-07-20 23:23] #1237 closed

[2019-07-20 23:24] JiaLiPassion commented on #1236
@ajafff, sure, thanks, I will transfer this issue to `angular repo`.

[2019-07-20 23:25] JiaLiPassion commented on #1235
Sure, I will close it for now. please create issue in `angular repo` if the issue still exists.

[2019-07-20 23:25] #1235 closed

[2019-07-20 23:30] JiaLiPassion commented on #1229
@adamdport, thanks for the suggestion, I can not say it is the intended behavior (I mean by design), but the behavior now is correct.

So it will be helpful to know in your original code, why `cordova` invoke `detectChange` outside of ngZone when `ngOninit`.

[2019-07-21 03:36] JiaLiPassion commented on #1202
@Gontrum , @jwigankow

I checked this issue.
- in Edge, after import `webapis-shadydom.js`, navigation will work.
- in IE11, the `webapis-shadydom.js` will have conflict with `shadydom polyfill`, I am not sure which part is wrong, the IE developer tool keep showing the wrong source code... , in IE, if we don't import `webapis-shadydom.js`, everything will work fine?

[2019-07-21 03:37] #1196 closed

[2019-07-21 03:39] JiaLiPassion commented on #1189
Will close for now, if it can be reproduce, we will research again.

[2019-07-21 03:39] #1189 closed

[2019-07-21 03:40] JiaLiPassion commented on #1187
Will close for now, because phantomjs is gone.

[2019-07-21 03:40] #1187 closed

[2019-07-21 03:43] JiaLiPassion commented on #1174
Will close because this is not a zone.js issue.

[2019-07-21 03:43] #1174 closed

[2019-07-21 03:46] JiaLiPassion commented on #1167
will close for now, it should be fixed by #1156

[2019-07-21 03:46] #1167 closed

[2019-07-21 03:48] JiaLiPassion commented on #1160
for evergreen browser, now we will only patch `customElements`, we will not patch `registerElement`, for legacy browsers, we will still patch `registerElement`.

[2019-07-21 03:48] #1160 closed

[2019-07-21 03:49] #1149 closed

[2019-07-21 03:52] JiaLiPassion commented on #1142
sorry for the long time no reply, this will not be implemented by zone.js, because this will be the different behavior with native javascript engine, new Promise should be a sync operation.

[2019-07-21 03:52] #1142 closed

[2019-07-21 03:54] #1141 closed

[2019-07-21 04:53] JiaLiPassion commented on #1130
This is not easy to implement such feature, so I will close this for now.

[2019-07-21 04:53] #1130 closed

[2019-07-21 05:15] #1123 closed

[2019-07-21 05:19] #1119 closed

[2019-07-21 05:19] #1117 closed

[2019-07-21 05:21] #1105 closed

[2019-07-21 05:22] JiaLiPassion commented on #1104
This has already been fixed.

[2019-07-21 05:22] #1104 closed

[2019-07-21 05:22] #1097 closed

[2019-07-21 05:23] #1096 closed

[2019-07-21 05:25] JiaLiPassion commented on #1087
I will close this for now.

[2019-07-21 05:25] #1087 closed

[2019-07-21 05:27] JiaLiPassion commented on #1083
Will close for now because no reproduce info

[2019-07-21 05:27] #1083 closed

[2019-07-21 05:29] JiaLiPassion commented on #1066
will close for now, please reopen if there is future information.

[2019-07-21 05:29] #1066 closed

[2019-07-21 05:31] JiaLiPassion commented on #1060
Will close this for now.

[2019-07-21 05:31] #1060 closed

[2019-07-21 05:32] #1046 closed

[2019-07-21 05:33] JiaLiPassion commented on #1043
here is an example. https://github.com/JiaLiPassion/zone-node

[2019-07-21 05:33] #1043 closed

[2019-07-21 05:33] JiaLiPassion commented on #1037
will close this for now because of lack of information.

[2019-07-21 05:33] #1037 closed

[2019-07-21 05:34] #1035 closed

[2019-07-21 05:36] JiaLiPassion commented on #1031
will close it for now.

[2019-07-21 05:36] #1031 closed

[2019-07-21 05:44] JiaLiPassion commented on #1024
close for now.

[2019-07-21 05:44] #1024 closed

[2019-07-21 05:46] JiaLiPassion commented on #1002
close for now, because there are issues in angular repo already.

[2019-07-21 05:46] #1002 closed

[2019-07-21 05:47] JiaLiPassion commented on #1001
will close for now.

[2019-07-21 05:47] #1001 closed

[2019-07-21 05:48] JiaLiPassion commented on #995
Will close this for now.

[2019-07-21 05:48] #995 closed

[2019-07-21 05:48] #992 closed

[2019-07-21 05:50] JiaLiPassion commented on #988
Will close this for now because there already the same issue in angular repo

[2019-07-21 05:50] #988 closed

[2019-07-21 05:51] JiaLiPassion commented on #977
zone.js now handle bluebird as well, so I will close this for now

[2019-07-21 05:51] #977 closed

[2019-07-21 05:51] JiaLiPassion commented on #974
will close because not a zone.js issue.

[2019-07-21 05:51] #974 closed

[2019-07-21 05:53] JiaLiPassion commented on #970
will close for now because no reproduce info.

[2019-07-21 05:53] #970 closed

[2019-07-21 05:53] JiaLiPassion commented on #963
This should be ok for now. will close for now.

[2019-07-21 05:53] #963 closed

[2019-07-21 05:56] JiaLiPassion commented on #961
will close for now for no reproduce info.

[2019-07-21 05:56] #961 closed

[2019-07-21 05:56] JiaLiPassion commented on #954
will close for now for not be able to reproduce.

[2019-07-21 05:56] #954 closed

[2019-07-21 05:57] #951 closed

[2019-07-21 05:58] JiaLiPassion commented on #948
close this for duplicate issue in angular repo.

[2019-07-21 05:58] #948 closed

[2019-07-21 05:58] JiaLiPassion commented on #947
close for now for not be able to reproduce.

[2019-07-21 05:58] #947 closed

[2019-07-21 05:59] JiaLiPassion commented on #945
close for fixed.

[2019-07-21 05:59] #945 closed

[2019-07-21 06:24] JiaLiPassion commented on #950
close for now because we will not remove 'use strict'.

[2019-07-21 06:24] #950 closed

[2019-07-21 06:24] JiaLiPassion commented on #939
has been fixed, will close

[2019-07-21 06:24] #939 closed

[2019-07-21 08:39] FDIM commented on #1167
It did fix the issue - we no longer see this error in the logs. Thanks!

[2019-07-21 13:55] JiaLiPassion commented on #936
Close it because it is not an issue.

[2019-07-21 13:55] #936 closed

[2019-07-21 13:57] JiaLiPassion commented on #932
Closes it because it is not a zone.js issue.

[2019-07-21 13:57] #932 closed

[2019-07-21 13:57] JiaLiPassion commented on #926
Close it because can not reproduce.

[2019-07-21 13:57] #926 closed

[2019-07-21 13:58] JiaLiPassion commented on #923
Close it because it is not a zone.js issue.

[2019-07-21 13:58] #923 closed

[2019-07-21 13:58] JiaLiPassion commented on #919
Close it for now.

[2019-07-21 13:58] #919 closed

[2019-07-21 13:58] JiaLiPassion commented on #917
Close it for now because it is fixed in the new version

[2019-07-21 13:58] #917 closed

[2019-07-21 14:02] #907 closed

[2019-07-21 14:03] JiaLiPassion commented on #906
Close for now because not be able to reproduce.

[2019-07-21 14:03] #906 closed

[2019-07-21 14:04] JiaLiPassion commented on #888
Close for now because not be able to reproduce.

[2019-07-21 14:04] #888 closed

[2019-07-21 14:05] JiaLiPassion commented on #858
Close for now.

[2019-07-21 14:05] #858 closed

[2019-07-21 14:06] JiaLiPassion commented on #853
close for now for not be able to reproduce.

[2019-07-21 14:06] #853 closed

[2019-07-21 14:06] JiaLiPassion commented on #842
close for already been fixed

[2019-07-21 14:06] #842 closed

[2019-07-21 14:07] JiaLiPassion commented on #838
Close for now.

[2019-07-21 14:07] #838 closed

[2019-07-21 14:07] JiaLiPassion commented on #837
Close for now for fixed

[2019-07-21 14:07] #837 closed

[2019-07-21 14:07] JiaLiPassion commented on #829
Close for now for not be able to reproduce.

[2019-07-21 14:07] #829 closed

[2019-07-21 14:07] JiaLiPassion commented on #827
close for now for not be able to reproduce

[2019-07-21 14:07] #827 closed

[2019-07-21 14:08] JiaLiPassion commented on #823
Close for now for not be able to reproduce.

[2019-07-21 14:08] #823 closed

[2019-07-21 14:08] JiaLiPassion commented on #822
close for now for no further information.

[2019-07-21 14:08] #822 closed

[2019-07-21 14:09] JiaLiPassion commented on #821
Close for now.

[2019-07-21 14:09] #821 closed

[2019-07-21 14:09] JiaLiPassion commented on #818
Close for now because not be able to reproduce.

[2019-07-21 14:09] #818 closed

[2019-07-21 14:09] #815 closed

[2019-07-21 14:09] #814 closed

[2019-07-21 14:09] #813 closed

[2019-07-21 14:10] #810 closed

[2019-07-21 14:10] #808 closed

[2019-07-21 14:11] JiaLiPassion commented on #801
Close for now.

[2019-07-21 14:11] #801 closed

[2019-07-21 14:12] JiaLiPassion commented on #790
Close it for now because there is an issue in angular repo already.

[2019-07-21 14:12] #790 closed

[2019-07-21 14:12] JiaLiPassion commented on #783
Close for now for not  be able to reproduce.

[2019-07-21 14:12] #783 closed

[2019-07-21 14:13] JiaLiPassion commented on #781
Close for now for not be able to reproduce.

[2019-07-21 14:13] #781 closed

[2019-07-21 14:13] JiaLiPassion commented on #773
Close for now.

[2019-07-21 14:13] #773 closed

[2019-07-21 14:13] JiaLiPassion commented on #769
Close for now for not be able to reproduce

[2019-07-21 14:13] #769 closed

[2019-07-21 14:14] JiaLiPassion commented on #757
Close for now for not be able to reproduce.

[2019-07-21 14:14] #757 closed

[2019-07-21 14:14] JiaLiPassion commented on #756
Close for now.

[2019-07-21 14:14] #756 closed

[2019-07-21 14:14] JiaLiPassion commented on #750
Close for fixed.

[2019-07-21 14:14] #750 closed

[2019-07-21 14:14] #745 closed

[2019-07-21 14:15] JiaLiPassion commented on #739
Close for fixed.

[2019-07-21 14:15] #739 closed

[2019-07-21 14:16] #720 closed

[2019-07-21 14:16] #714 closed

[2019-07-21 14:16] #703 closed

[2019-07-21 14:16] JiaLiPassion commented on #700
close for duplicate

[2019-07-21 14:16] #700 closed

[2019-07-21 14:17] JiaLiPassion commented on #661
close for not be able to reproduce.

[2019-07-21 14:17] #661 closed

[2019-07-21 14:18] #653 closed

[2019-07-21 14:18] JiaLiPassion commented on #636
close for not be able to reproduce.

[2019-07-21 14:18] #636 closed

[2019-07-21 14:18] JiaLiPassion commented on #635
close for fixed.

[2019-07-21 14:18] #635 closed

[2019-07-21 14:19] #623 closed

[2019-07-21 14:19] #619 closed

[2019-07-21 14:21] JiaLiPassion commented on #615
close for not an issue.

[2019-07-21 14:21] #615 closed

[2019-07-21 14:22] JiaLiPassion commented on #603
close for now.

[2019-07-21 14:22] #603 closed

[2019-07-21 14:22] JiaLiPassion commented on #602
close for not be able to reproduce.

[2019-07-21 14:22] #602 closed

[2019-07-21 14:22] JiaLiPassion commented on #589
close for duplicate

[2019-07-21 14:22] #589 closed

[2019-07-21 14:23] JiaLiPassion commented on #588
close for not be able to reproduce.

[2019-07-21 14:23] #588 closed

[2019-07-21 14:23] JiaLiPassion commented on #563
close for not an issue.

[2019-07-21 14:23] #563 closed

[2019-07-21 14:23] JiaLiPassion commented on #561
close for no reproduce.

[2019-07-21 14:23] #561 closed

[2019-07-21 14:23] #553 closed

[2019-07-21 14:23] JiaLiPassion commented on #538
close for fixed

[2019-07-21 14:23] #538 closed

[2019-07-21 14:24] #520 closed

[2019-07-21 14:24] #512 closed

[2019-07-21 14:24] #511 closed

[2019-07-21 14:25] #505 closed

[2019-07-21 14:25] #503 closed

[2019-07-21 14:25] #502 closed

[2019-07-21 14:25] #491 closed

[2019-07-21 14:25] #490 closed

[2019-07-21 14:26] #488 closed

[2019-07-21 14:26] #482 closed

[2019-07-21 14:26] #480 closed

[2019-07-21 14:26] #477 closed

[2019-07-21 14:27] #476 closed

[2019-07-21 14:27] #465 closed

[2019-07-21 14:28] #446 closed

[2019-07-21 14:28] #429 closed

[2019-07-21 14:29] JiaLiPassion commented on #423
in the new version, timeout will work.

[2019-07-21 14:29] #423 closed

[2019-07-21 14:29] #422 closed

[2019-07-21 14:30] JiaLiPassion commented on #417
this is fixed in https://github.com/angular/angular/pull/31350

[2019-07-21 14:30] #417 closed

[2019-07-21 14:31] JiaLiPassion commented on #411
https://github.com/JiaLiPassion/zone-node

[2019-07-21 14:31] #411 closed

[2019-07-21 14:31] #407 closed

[2019-07-21 14:33] JiaLiPassion commented on #399
close for fixed.

[2019-07-21 14:33] #399 closed

[2019-07-21 14:34] #397 closed

[2019-07-21 14:34] JiaLiPassion commented on #390
it should work now

[2019-07-21 14:34] #390 closed

[2019-07-21 14:34] #389 closed

[2019-07-21 14:34] #387 closed

[2019-07-21 14:35] JiaLiPassion commented on #386
close for now, phantomjs will work, and we already use chrome headless now.

[2019-07-21 14:35] #386 closed

[2019-07-21 14:35] JiaLiPassion commented on #381
close for now, issue is in angular repo.

[2019-07-21 14:35] #381 closed

[2019-07-21 14:36] #378 closed

[2019-07-21 14:36] #376 closed

[2019-07-21 14:37] #370 closed

[2019-07-21 14:38] #362 closed

[2019-07-21 14:39] #357 closed

[2019-07-21 14:39] #354 closed

[2019-07-21 14:39] #350 closed

[2019-07-21 14:39] #347 closed

[2019-07-21 14:40] #345 closed

[2019-07-21 14:41] JiaLiPassion commented on #335
this should work now.

[2019-07-21 14:41] #335 closed

[2019-07-21 14:41] #324 closed

[2019-07-21 14:41] #323 closed

[2019-07-21 14:42] #310 closed

[2019-07-21 14:43] #303 closed

[2019-07-21 14:43] #293 closed

[2019-07-21 14:43] JiaLiPassion commented on #286
now we handle symbol properties in nodejs.

[2019-07-21 14:45] JiaLiPassion commented on #273
Those event handler need to be inside ngZone.

[2019-07-21 14:45] #273 closed

[2019-07-21 14:46] #258 closed

[2019-07-21 14:46] JiaLiPassion commented on #248
should be fixed.

[2019-07-21 14:46] #248 closed

[2019-07-21 14:46] JiaLiPassion commented on #243
supported now.

[2019-07-21 14:46] #243 closed

[2019-07-21 14:48] JiaLiPassion commented on #234
This should be fixed now.

[2019-07-21 14:48] #234 closed

[2019-07-21 14:49] #222 closed

[2019-07-21 14:49] #217 closed

[2019-07-21 14:50] JiaLiPassion commented on #216
We have promise A+ test and es6-promise test now.

[2019-07-21 14:50] #216 closed

[2019-07-21 14:50] #212 closed

[2019-07-21 14:51] JiaLiPassion commented on #205
we have some basic support, will dig into cordova.exec later, and duplicate issue already in angular repo, will close this for now.

[2019-07-21 14:51] #205 closed

[2019-07-21 14:52] #202 closed

[2019-07-21 14:52] JiaLiPassion commented on #201
Now it will be the same with Angular

[2019-07-21 14:52] #201 closed

[2019-07-21 14:53] JiaLiPassion commented on #197
Close for now.

[2019-07-21 14:53] #197 closed

[2019-07-21 14:53] JiaLiPassion commented on #185
We have test for webworker now.

[2019-07-21 14:53] #185 closed

[2019-07-21 14:53] #169 closed

[2019-07-21 14:53] JiaLiPassion commented on #167
close for now.

[2019-07-21 14:53] #167 closed

[2019-07-21 14:54] #163 closed

[2019-07-21 14:54] #162 closed

[2019-07-21 14:56] JiaLiPassion commented on #109
this is working now.

[2019-07-21 14:56] #109 closed

[2019-07-21 14:56] #100 closed

[2019-07-21 14:56] #98 closed

[2019-07-21 14:57] #95 closed

[2019-07-21 14:57] JiaLiPassion commented on #56
it is ok now

[2019-07-21 14:57] #56 closed

[2019-07-21 14:57] #50 closed

[2019-07-21 14:59] #46 closed

[2019-07-21 14:59] #41 closed

[2019-07-21 15:00] #29 closed

[2019-07-21 15:01] #26 closed

[2019-07-21 15:01] #25 closed

[2019-07-21 15:02] #12 closed

[2019-07-21 20:36] uglow commented on #234
Better late than never, I guess. 😅